openapi: 3.0.3
info:
  title: Aetna Patient Access API (Sandbox)
  version: 1.0.0
  description: 'The Aetna Patient Access API is an enterprise API that implements the HL7 FHIR standard to meet
    the CMS requirements for Interoperability. The API provides the ability for Aetna members to access their Clinical
    data using Third-party client applications supporting those standards. The Patient Access API supports the FHIR
    AllergyIntolerance resource that conforms to the HL7 FHIR USCore Implementation Guide STU5 Release v5.0.1 and
    supports USCore AllergyIntolerance Profile. The API follows the User token security model.


    The AllergyIntolerance Read API supports the following operations:


    1. Read the current state of the resource using the Logical (unique) ID [FHIR Base]/AllergyIntolerance/{id}'
  contact:
    name: Aetna Interoperability Developer Support
    email: InteroperabilityDeveloperSupport@aetna.com
    url: https://developerportal.aetna.com/
  x-assembled-by: API Evangelist enrichment pipeline
  x-assembly-note: 'Assembled from 39 single-operation Swagger 2.0 documents that Aetna publishes itself at https://developerportal.aetna.com/managedcontent/yaml/<file>,
    listed in the portal''s own API catalog at https://developerportal.aetna.com/assets/Data/Fhir.json. Every path,
    parameter, description, schema, example and security definition below is Aetna''s verbatim content; the union,
    the Swagger 2.0 -> OpenAPI 3.0.3 structural conversion, and the operationIds are ours (Aetna sets every operationId
    to the literal string "GET", which is not unique across a merged document). The unmodified sources are archived
    in openapi/_original/. NOTE ON MERGE FIDELITY: where two source documents define a schema of the same name with
    different content (FHIR profile variants), the first definition encountered wins and that divergence is not
    represented here; the per-operation source of truth is always the archived original named in each operation''s
    x-source-file.'
servers:
- url: https://vteapif1.aetna.com/fhirdemo
paths:
  /v2/patientaccess/AllergyIntolerance/{id}:
    get:
      summary: Retrieves AllergyIntolerance details using the Id and formats the response in USCoreAllergyIntolerance  profile.
      description: Returns a Patient's Allergy Intolerance resource associated with the Logical Id
      operationId: get_v2_patientaccess_AllergyIntolerance_id
      responses:
        '200':
          description: This response returns a representation of a FHIR AllergyIntolerance resource which conforms
            to the USCore AllergyIntolerance profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreAllergyIntolerance'
              example:
                code:
                  coding:
                  - system: http://snomed.info/sct
                    code: '763875007'
                    display: Product containing sulfonamide (product)
                  text: sulfonamide antibacterial
                reaction:
                - severity: mild
                  manifestation:
                  - coding:
                    - system: http://snomed.info/sct
                      code: '271807003'
                      display: skin rash
                    text: skin rash
                verificationStatus:
                  coding:
                  - system: http://terminology.hl7.org/CodeSystem/allergyintolerance-verification
                    code: confirmed
                meta:
                  extension:
                  - valueString: AllergyIntolerance Example
                    url: http://hl7.org/fhir/StructureDefinition/instance-name
                  - valueMarkdown: This is a allergyintolerance example for the *US Core AllergyIntolerance Profile*.
                    url: http://hl7.org/fhir/StructureDefinition/instance-description
                  profile:
                  - http://hl7.org/fhir/us/core/StructureDefinition/us-core-allergyintolerance
                patient:
                  reference: Patient/example
                  display: Amy V. Shaw
                criticality: high
                id: example
                text:
                  div: '<div xmlns="http://www.w3.org/1999/xhtml"><p><b>Generated Narrative</b></p><p><b>clinicalStatus</b>:
                    <span title="Codes: {http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical active}">Active</span></p><p><b>verificationStatus</b>:
                    <span title="Codes: {http://terminology.hl7.org/CodeSystem/allergyintolerance-verification confirmed}">Confirmed</span></p><p><b>category</b>:
                    medication</p><p><b>criticality</b>: high</p><p><b>code</b>: <span title="Codes: {http://snomed.info/sct
                    763875007}">sulfonamide antibacterial</span></p><p><b>patient</b>: <a href="Patient-example.html">Amy
                    V. Shaw. Generated Summary: Medical Record Number: 1032702 (USUAL); active; Amy V. Shaw , Amy
                    V. Baxter ; Phone: 555-555-5555, amy.shaw@example.com; gender: female; birthDate: 1987-02-20</a></p><h3>Reactions</h3><table
                    class="grid"><tr><td>-</td><td><b>Manifestation</b></td><td><b>Severity</b></td></tr><tr><td>*</td><td><span
                    title="Codes: {http://snomed.info/sct 271807003}">skin rash</span></td><td>mild</td></tr></table></div>'
                  status: generated
                clinicalStatus:
                  coding:
                  - system: http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical
                    code: active
                category:
                - medication
                resourceType: AllergyIntolerance
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: not-found
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_NO_MATCH
                      display: No Resource found
                id: 687401f85fd3fefb43182c22
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
        x-USCoreAllergyIntolerance:
          description: The API will never return this response. This parameter is here to facilitate the generation
            of the USCore AllergyIntolerance profile schema within the interface.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreAllergyIntolerance'
      parameters:
      - in: path
        name: id
        description: This is the AllergyIntolerance (unique) logical ID.
        required: true
        schema:
          type: string
      x-source-file: _v2_patientaccess_AllergyIntolerance_id_sandbox.yaml
  /v2/patientaccess/AllergyIntolerance:
    get:
      summary: Retrieves all Allergy Intolerances associated to an Authenticated User based on the search criteria
        (patient fhir logical id)
      description: Retrieves all Allergy Intolerances associated to an Authenticated User based on the search criteria
        (patient fhir logical id)
      operationId: get_v2_patientaccess_AllergyIntolerance
      responses:
        '200':
          description: This response returns a list of a Patient's AllergyIntolerances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    code:
                      coding:
                      - system: http://snomed.info/sct
                        code: '763875007'
                        display: Product containing sulfonamide (product)
                      text: sulfonamide antibacterial
                    reaction:
                    - severity: mild
                      manifestation:
                      - coding:
                        - system: http://snomed.info/sct
                          code: '271807003'
                          display: skin rash
                        text: skin rash
                    verificationStatus:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintolerance-verification
                        code: confirmed
                    patient:
                      reference: Patient/example
                      display: Amy V. Shaw
                    criticality: high
                    text:
                      div: '<div xmlns="http://www.w3.org/1999/xhtml"><p><b>Generated Narrative</b></p><p><b>clinicalStatus</b>:
                        <span title="Codes: {http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical active}">Active</span></p><p><b>verificationStatus</b>:
                        <span title="Codes: {http://terminology.hl7.org/CodeSystem/allergyintolerance-verification
                        confirmed}">Confirmed</span></p><p><b>category</b>: medication</p><p><b>criticality</b>:
                        high</p><p><b>code</b>: <span title="Codes: {http://snomed.info/sct 763875007}">sulfonamide
                        antibacterial</span></p><p><b>patient</b>: <a href="Patient-example.html">Amy V. Shaw. Generated
                        Summary: Medical Record Number: 1032702 (USUAL); active; Amy V. Shaw , Amy V. Baxter ; Phone:
                        555-555-5555, amy.shaw@example.com; gender: female; birthDate: 1987-02-20</a></p><h3>Reactions</h3><table
                        class="grid"><tr><td>-</td><td><b>Manifestation</b></td><td><b>Severity</b></td></tr><tr><td>*</td><td><span
                        title="Codes: {http://snomed.info/sct 271807003}">skin rash</span></td><td>mild</td></tr></table></div>'
                      status: generated
                    clinicalStatus:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical
                        code: active
                    category:
                    - medication
                    recorded: '2021-01-07'
                    resourceType: AllergyIntolerance
                    status: completed
                  fullUrl: https://healthcare.googleapis.com/v1/projects/cdr-devl/locations/us-east4/datasets/cdr-fhir-ds/fhirStores/cdr-fhir-r4-test/fhir/AllergyIntolerance/11181211064
                - search:
                    mode: match
                  resource:
                    code:
                      coding:
                      - system: http://snomed.info/sct
                        code: '763875007'
                        display: Product containing sulfonamide (product)
                      text: sulfonamide antibacterial
                    reaction:
                    - severity: mild
                      manifestation:
                      - coding:
                        - system: http://snomed.info/sct
                          code: '271807003'
                          display: skin rash
                        text: skin rash
                    verificationStatus:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintolerance-verification
                        code: confirmed
                    patient:
                      reference: Patient/example
                      display: Amy V. Shaw
                    criticality: high
                    text:
                      div: '<div xmlns="http://www.w3.org/1999/xhtml"><p><b>Generated Narrative</b></p><p><b>clinicalStatus</b>:
                        <span title="Codes: {http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical active}">Active</span></p><p><b>verificationStatus</b>:
                        <span title="Codes: {http://terminology.hl7.org/CodeSystem/allergyintolerance-verification
                        confirmed}">Confirmed</span></p><p><b>category</b>: medication</p><p><b>criticality</b>:
                        high</p><p><b>code</b>: <span title="Codes: {http://snomed.info/sct 763875007}">sulfonamide
                        antibacterial</span></p><p><b>patient</b>: <a href="Patient-example.html">Amy V. Shaw. Generated
                        Summary: Medical Record Number: 1032702 (USUAL); active; Amy V. Shaw , Amy V. Baxter ; Phone:
                        555-555-5555, amy.shaw@example.com; gender: female; birthDate: 1987-02-20</a></p><h3>Reactions</h3><table
                        class="grid"><tr><td>-</td><td><b>Manifestation</b></td><td><b>Severity</b></td></tr><tr><td>*</td><td><span
                        title="Codes: {http://snomed.info/sct 271807003}">skin rash</span></td><td>mild</td></tr></table></div>'
                      status: generated
                    clinicalStatus:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical
                        code: active
                    category:
                    - medication
                    recorded: '2021-01-07'
                    resourceType: AllergyIntolerance
                    status: completed
                  fullUrl: https://healthcare.googleapis.com/v1/projects/cdr-devl/locations/us-east4/datasets/cdr-fhir-ds/fhirStores/cdr-fhir-r4-test/fhir/AllergyIntolerance/11181210653
                total: 2
                link:
                - url: https://healthcare.googleapis.com/v1/projects/cdr-devl/locations/us-east4/datasets/cdr-fhir-ds/fhirStores/cdr-fhir-r4-test/fhir/AllergyIntolerance/?_count=2
                  relation: search
                - url: https://healthcare.googleapis.com/v1/projects/cdr-devl/locations/us-east4/datasets/cdr-fhir-ds/fhirStores/cdr-fhir-r4-test/fhir/AllergyIntolerance/?_count=2&_page_token=Cjj3YEef7v%2F%2F%2F%2F%2BABb0c6BuGuAD%2FAf%2F%2BOGQzY2FiYmE2OTc5N2U0NGFmNmNiM2Y1OTAwYWRhOGIAARACIRdZYDGqWfwzOQAAAAARYLifSAJQAFoLCcJRz98ugOf9EANg3JPmgwY%3D
                  relation: next
                - url: https://healthcare.googleapis.com/v1/projects/cdr-devl/locations/us-east4/datasets/cdr-fhir-ds/fhirStores/cdr-fhir-r4-test/fhir/AllergyIntolerance/?_count=2
                  relation: first
                - url: https://healthcare.googleapis.com/v1/projects/cdr-devl/locations/us-east4/datasets/cdr-fhir-ds/fhirStores/cdr-fhir-r4-test/fhir/AllergyIntolerance/?_count=2
                  relation: self
                id: a7bca4215fbc6e68b01b0801
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: not-found
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_NO_MATCH
                      display: No Resource found
                id: 687401f85fd3fefb43182c22
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
        x-USCoreAllergyIntolerance:
          description: The API will never return this response. This parameter is here to facilitate the generation
            of the USCore AllergyIntolerance profile schema within the interface.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreAllergyIntolerance'
      parameters:
      - in: query
        name: patient
        description: "This is the FHIR Logical Id of a Patient (Patient.id)\n Ex. GET [base]/AllergyIntolerance?patient=98765212349744"
        required: false
        schema:
          type: string
      - in: query
        name: _page_token
        description: This value will be provided by the Server. Used to retrieve the next page of results.  If a
          search returns more resources than fit on one page, the response includes a pagination URL in the Bundle.link
          field.  The value with Bundle.link.relation = next indicates that you can use the corresponding Bundle.link.url
          to retrieve the next page.  ex. GET [base]/AllergyIntolerance?_count=10&_page_token=Cjj3YQP%2Bdf%2F%2F%2F%2F%2BABchXMXghfgD%2FAf%2F%2BZTA5NWM4YmI0YWNlYWQ4Yjc5NDhjYTk2M2RhMDA5N2QAARAKIeRmIPX4MlS1OQAAAACKAfyeSAFQAFoLCfRXKWB76f3NEANgg8Tc2gc%3D
        required: false
        schema:
          type: string
      - in: query
        name: _count
        description: Used to specify the number of records returned per page
        required: false
        schema:
          type: number
      - in: query
        name: _revinclude
        description: 'Adds support for searching the US Core Profile resource types for all the Provenance records
          for those resources using the _revinclude search parameter:


          GET [base]/[AllergyIntolerance]?_revinclude=Provenance:target'
        required: false
        schema:
          type: string
      x-source-file: _v2_patientaccess_AllergyIntolerance_sandbox.yaml
  /v2/patientaccess/Binary/{id}:
    get:
      summary: This operation returns a Binary Resource associated with the Logical Id.
      operationId: get_v2_patientaccess_Binary_id
      responses:
        '200':
          description: This response returns a representation of a Binary Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Binary'
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
      description: Returns an Binary Resource associated with the Logical Id.
      schemes:
      - https
      parameters:
      - in: path
        name: id
        description: This is the logical id.
        required: true
        schema:
          type: string
      x-source-file: _v2_patientaccess_Binary_id_sandbox.yaml
  /v2/patientaccess/CarePlan/{id}:
    get:
      summary: Retrieves CarePlan details using the Id and formats the response in USCoreCarePlan profile.
      description: Returns a Patient's Care Plan resource associated with the Logical Id
      operationId: get_v2_patientaccess_CarePlan_id
      responses:
        '200':
          description: This response returns a representation of a FHIR CarePlan resource which conforms to the
            USCore CarePlan profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreCarePlan'
              example:
                meta:
                  extension:
                  - valueString: Colonoscopy Example
                    url: http://hl7.org/fhir/StructureDefinition/instance-name
                  - valueMarkdown: This is a colonoscopy example for the *US Core CarePlan Profile*.
                    url: http://hl7.org/fhir/StructureDefinition/instance-description
                  profile:
                  - http://hl7.org/fhir/us/core/StructureDefinition/us-core-careplan
                subject:
                  reference: Patient/example
                  display: Amy Shaw
                id: colonoscopy
                text:
                  div: '<div xmlns="http://www.w3.org/1999/xhtml"> &#9;&#9;&#9;<strong>Assessment</strong> &#9;&#9;&#9;<ol>&#9;&#9;&#9;&#9;<li>Recurrent
                    GI bleed of unknown etiology; hypotension perhaps secondary to this but as likely secondary
                    to polypharmacy.</li>&#9;&#9;&#9;&#9;<li>Acute on chronic anemia secondary to #1.</li>&#9;&#9;&#9;&#9;<li>Azotemia,
                    acute renal failure with volume loss secondary to #1.</li>&#9;&#9;&#9;&#9;<li>Hyperkalemia secondary
                    to #3 and on ACE and K+ supplement.</li>&#9;&#9;&#9;&#9;<li>Other chronic diagnoses as noted
                    above, currently stable.</li>&#9;&#9;&#9;</ol> &#9;&#9;&#9;<table>&#9;&#9;&#9;&#9;<thead> &#9;&#9;&#9;&#9;&#9;<tr>&#9;&#9;&#9;&#9;&#9;&#9;<th>Planned
                    Activity</th> &#9;&#9;&#9;&#9;&#9;&#9;<th>Planned Date</th> &#9;&#9;&#9;&#9;&#9;</tr>&#9;&#9;&#9;&#9;</thead>
                    &#9;&#9;&#9;&#9;<tbody>&#9;&#9;&#9;&#9;&#9;<tr> &#9;&#9;&#9;&#9;&#9;&#9;<td>Colonoscopy</td>
                    &#9;&#9;&#9;&#9;&#9;&#9;<td>April 21, 2000</td> &#9;&#9;&#9;&#9;&#9;</tr>&#9;&#9;&#9;&#9;</tbody>
                    &#9;&#9;&#9;</table>&#9;&#9;</div>'
                  status: additional
                category:
                - coding:
                  - system: http://hl7.org/fhir/us/core/CodeSystem/careplan-category
                    code: assess-plan
                intent: order
                resourceType: CarePlan
                status: active
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: not-found
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_NO_MATCH
                      display: No Resource found
                id: 687401f85fd3fefb43182c22
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
        x-USCoreCarePlan:
          description: The API will never return this response. This parameter is here to facilitate the generation
            of the USCore CarePlan profile schema within the interface.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreCarePlan'
      parameters:
      - in: path
        name: id
        description: This is the CarePlan (unique) logical ID.
        required: true
        schema:
          type: string
      x-source-file: _v2_patientaccess_CarePlan_id_sandbox.yaml
  /v2/patientaccess/CarePlan:
    get:
      summary: Retrieves all Care Plans associated to an Authenticated User based on the search criteria (patient
        fhir logical id, date, status and category)
      description: Retrieves all Care Plans associated to an Authenticated User based on the search criteria (patient
        fhir logical id, date, status and category)
      operationId: get_v2_patientaccess_CarePlan
      responses:
        '200':
          description: This response returns a list of a Patient's CarePlans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    subject:
                      reference: Patient/example
                      display: Amy Shaw
                    text:
                      status: additional
                    category:
                    - coding:
                      - system: http://hl7.org/fhir/us/core/CodeSystem/careplan-category
                        code: assess-plan
                    recorded: '2021-01-07'
                    resourceType: CarePlan
                    status: completed
                  fullUrl: https://healthcare.googleapis.com/v1/projects/cdr-devl/locations/us-east4/datasets/cdr-fhir-ds/fhirStores/cdr-fhir-r4-test/fhir/CarePlan/11181211064
                - search:
                    mode: match
                  resource:
                    subject:
                      reference: Patient/example
                      display: Amy Shaw
                    text:
                      status: additional
                    category:
                    - coding:
                      - system: http://hl7.org/fhir/us/core/CodeSystem/careplan-category
                        code: assess-plan
                    recorded: '2021-01-07'
                    resourceType: CarePlan
                    status: completed
                  fullUrl: https://healthcare.googleapis.com/v1/projects/cdr-devl/locations/us-east4/datasets/cdr-fhir-ds/fhirStores/cdr-fhir-r4-test/fhir/CarePlan/11181210653
                total: 2
                link:
                - url: https://healthcare.googleapis.com/v1/projects/cdr-devl/locations/us-east4/datasets/cdr-fhir-ds/fhirStores/cdr-fhir-r4-test/fhir/CarePlan/?_count=2
                  relation: search
                - url: https://healthcare.googleapis.com/v1/projects/cdr-devl/locations/us-east4/datasets/cdr-fhir-ds/fhirStores/cdr-fhir-r4-test/fhir/CarePlan/?_count=2&_page_token=Cjj3YEef7v%2F%2F%2F%2F%2BABb0c6BuGuAD%2FAf%2F%2BOGQzY2FiYmE2OTc5N2U0NGFmNmNiM2Y1OTAwYWRhOGIAARACIRdZYDGqWfwzOQAAAAARYLifSAJQAFoLCcJRz98ugOf9EANg3JPmgwY%3D
                  relation: next
                - url: https://healthcare.googleapis.com/v1/projects/cdr-devl/locations/us-east4/datasets/cdr-fhir-ds/fhirStores/cdr-fhir-r4-test/fhir/CarePlan/?_count=2
                  relation: first
                - url: https://healthcare.googleapis.com/v1/projects/cdr-devl/locations/us-east4/datasets/cdr-fhir-ds/fhirStores/cdr-fhir-r4-test/fhir/CarePlan/?_count=2
                  relation: self
                id: a7bca4215fbc6e68b01b0801
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: not-found
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_NO_MATCH
                      display: No Resource found
                id: 687401f85fd3fefb43182c22
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
        x-USCoreCarePlan:
          description: The API will never return this response. This parameter is here to facilitate the generation
            of the USCore CarePlan profile schema within the interface.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreCarePlan'
      parameters:
      - in: query
        name: patient
        description: "This is the FHIR Logical Id of a Patient (Patient.id)\n Ex. GET [base]/CarePlan?patient=98765212349744"
        required: false
        schema:
          type: string
      - in: query
        name: category
        description: Example codes indicating the category a care plan falls within. Note that these are in no way
          complete and might not even be appropriate for some uses.
        required: false
        schema:
          type: string
      - in: query
        name: _page_token
        description: This value will be provided by the Server. It is used to retrieve the next page of results.   If
          a search returns more resources than fit on one page, the response includes a pagination URL in the Bundle.link
          field.  The value with Bundle.link.relation = next indicates that you can use the corresponding Bundle.link.url
          to retrieve the next page.  ex. GET [base]/CarePlan?_count=10&_page_token=Cjj3YQP%2Bdf%2F%2F%2F%2F%2BABchXMXghfgD%2FAf%2F%2BZTA5NWM4YmI0YWNlYWQ4Yjc5NDhjYTk2M2RhMDA5N2QAARAKIeRmIPX4MlS1OQAAAACKAfyeSAFQAFoLCfRXKWB76f3NEANgg8Tc2gc%3D
        required: false
        schema:
          type: string
      - in: query
        name: _count
        description: Used to specify the number of records returned per page
        required: false
        schema:
          type: number
      - in: query
        name: _revinclude
        description: 'Adds support for searching the US Core Profile resource types for all the Provenance records
          for those resources using the _revinclude search parameter:


          GET [base]/[CarePlan]?_revinclude=Provenance:target'
        required: false
        schema:
          type: string
      x-source-file: _v2_patientaccess_CarePlan_sandbox.yaml
  /v2/patientaccess/CareTeam/{id}:
    get:
      summary: This operation returns a CareTeam Resource associated with the Logical Id
      description: Returns a CareTeam Resource associated with the Logical Id
      operationId: get_v2_patientaccess_CareTeam_id
      responses:
        '200':
          description: This response returns a representation of a CareTeam resource which conforms to the USCore
            CareTeam profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreCareTeam'
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
      parameters:
      - in: path
        name: id
        description: This is the CareTeam(unique) logical ID.
        required: true
        schema:
          type: string
      x-source-file: _v2_patientaccess_CareTeam_id_sandbox.yaml
  /v2/patientaccess/CareTeam:
    get:
      summary: This operation retrieves all CareTeam records associated to an Authenticated User based on the search
        criteria
      description: Retrieves all CareTeam records associated to an Authenticated User based on the search criteria
      operationId: get_v2_patientaccess_CareTeam
      responses:
        '200':
          description: This response returns a list of patient's CareTeam records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    identifier:
                    - value: '12345'
                    period:
                      end: '2013-01-01'
                    subject:
                      reference: Patient/example
                      display: Peter James Chalmers
                    encounter:
                      reference: Encounter/example
                    participant:
                    - role:
                      - text: responsiblePerson
                      member:
                        reference: Patient/example
                        display: Peter James Chalmers
                    - period:
                        end: '2013-01-01'
                      role:
                      - text: adviser
                      member:
                        reference: '#pr1'
                        display: Dorothy Dietition
                      onBehalfOf:
                        reference: Organization/f001
                    contained:
                    - name:
                      - given:
                        - Dorothy
                        family: Dietician
                      id: pr1
                      resourceType: Practitioner
                    managingOrganization:
                    - reference: Organization/f001
                    name: Peter James Charlmers Care Plan for Inpatient Encounter
                    id: example
                    text:
                      div: <div xmlns="http://www.w3.org/1999/xhtml">Care Team</div>
                      status: generated
                    category:
                    - coding:
                      - system: http://loinc.org
                        code: LA27976-2
                        display: Encounter-focused care team
                    resourceType: CareTeam
                    status: active
                  fullUrl: https://qaapih1.aetna.com/fhir/qapath3/v1/patientaccess/CareTeam/0000000000000045666
                meta:
                  lastUpdated: '2021-04-09T16:09:02.860+00:00'
                link:
                - url: https://qaapih1.aetna.com/fhir/qapath3/v1/patientaccess/CareTeam?_count=3&page=1
                  relation: self
                - url: https://qaapih1.aetna.com/fhir/qapath3/v1/patientaccess/CareTeam?_count=3&page=2
                  relation: next
                id: 283388be-f4fa-4c09-bd16-d46282f6becb
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        x-USCoreCareTeam:
          description: The API will never return this response. This parameter is here to facilitate the generation
            of the USCore CareTeam profile schema within the interface.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreCareTeam'
      parameters:
      - in: query
        name: patient
        description: 'This is the FHIR Logical Id of a Patient (Patient.id)


          Ex. GET [base]/CareTeam?Patient=zbdf8e23-7c16-5ad4-s310'
        required: false
        schema:
          type: string
      - in: query
        name: _page_token
        description: This value will be provided by the Server. Used to retrieve the next page of resultsIf a search
          returns more resources than fit on one page, the response includes a pagination URL in the Bundle.link
          field. The value with Bundle.link.relation = next indicates that you can use the corresponding Bundle.link.url
          to retrieve the next page. ex. [base]/CareTeam?_count=10&_page_token=Cjj3YQP%2Bdf%2F%2F%2F%2F%2BABchXMXghfgD%2FAf%2F%2BZTA5NWM4YmI0YWNlYWQ4Yjc5NDhjYTk2M2RhMDA5N2QAARAKIeRmIPX4MlS1OQAAAACKAfyeSAFQAFoLCfRXKWB76f3NEANgg8Tc2gc%3D
        required: false
        schema:
          type: string
      - in: query
        name: _count
        description: Used to specify the number of records returned per page
        required: false
        schema:
          type: number
      - in: query
        name: _revinclude
        description: Adds support for searching the US Core Profile resource types for all the Provenance records
          for those resources using the _revinclude search parameter:GET [base]/[CareTeam]?_revinclude=Provenance:target
        required: false
        schema:
          type: string
      - in: query
        name: status
        description: 'This is the status of CareTeam  ex: proposed | active | suspended | inactive | entered-in-error'
        required: false
        schema:
          type: string
      x-source-file: _v2_patientaccess_CareTeam_sandbox.yaml
  /v2/patientaccess/Condition/{id}:
    get:
      summary: Retrieves conditon details using the Id and formats the response to the USCoreCondition profile.
      description: This operation will retrieve condition details using the Id and formats the response to the USCoreCondition
        profile. Id is mandatory. These parameters are described in detail on the HL7 sites for FHIR and USCore.
      operationId: get_v2_patientaccess_Condition_id
      responses:
        '200':
          description: This response returns a representation of a Condition resource. It will be returned in the
            USCoreCondition profile format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreCondition'
              example:
                identifier:
                - system: https://sources.aetna.com/encounter/identifier/memberenctid/50063
                code:
                  coding:
                  - system: http://snomed.info/sct
                    code: '88805009'
                    display: Chronic congestive heart failure (disorder)
                  text: Chronic congestive heart failure (disorder)
                verificationStatus:
                  coding:
                  - system: http://terminology.hl7.org/CodeSystem/condition-ver-status
                    code: confirmed
                subject:
                  reference: Patient/b6935157-bc88-4a41-8c57-1238ca2d709a
                recordedDate: '1989-11-19T22:39:06-06:00'
                encounter:
                  reference: Encounter/b38bfd4b-dbe1-4bdb-9de5-95841ed73aad
                clinicalStatus:
                  coding:
                  - system: http://terminology.hl7.org/CodeSystem/condition-clinical
                    code: active
                onsetDateTime: '1989-11-19T22:39:06-06:00'
                meta:
                  lastUpdated: '2020-03-24T23:43:11.810+00:00'
                  versionId: '1'
                  profile:
                  - http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition
                  source: '#OA3EcmpoIPqxKVEk'
                  tag:
                  - system: https://smarthealthit.org/tags
                    code: Covid19 synthetic population from Synthea
                id: 19382
                category:
                - coding:
                  - system: http://terminology.hl7.org/CodeSystem/condition-category
                    code: encounter-diagnosis
                    display: Encounter Diagnosis
                value: 42~ME402739+unknown+unknown+99255+2016-03-29+2016-04-03
                resourceType: Condition
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '404':
          description: The specified System Identifier doesn’t identify an existing Resource.​
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
      parameters:
      - in: path
        name: id
        description: This is the Condition (unique) logical ID.
        required: true
        schema:
          type: string
      x-source-file: _v2_patientaccess_Condition_id_sandbox.yaml
  /v2/patientaccess/Condition:
    get:
      summary: Retrieves all Conditions associated with a patient and formats the response to the USCoreCondition
        profile.
      description: This operation will retrieve all Condition details associated with a patient and formats the
        response to the USCoreCondition Profile. Patient is a query parameter and is described in detail on the
        HL7 site for FHIR.
      operationId: get_v2_patientaccess_Condition
      responses:
        '200':
          description: This response returns a list of a Patient's Condition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    code:
                      coding:
                      - system: http://snomed.info/sct
                        code: '88805009'
                        display: Chronic congestive heart failure (disorder)
                      text: Chronic congestive heart failure (disorder)
                    verificationStatus:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/condition-ver-status
                        code: confirmed
                    meta:
                      lastUpdated: '2020-03-24T23:43:11.810+00:00'
                      versionId: '1'
                      profile:
                      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition
                      source: '#OA3EcmpoIPqxKVEk'
                      tag:
                      - system: https://smarthealthit.org/tags
                        code: Covid19 synthetic population from Synthea
                    subject:
                      reference: Patient/b6935157-bc88-4a41-8c57-1238ca2d709a
                    recordedDate: '1989-11-19T22:39:06-06:00'
                    id: 19382
                    encounter:
                      reference: Encounter/b38bfd4b-dbe1-4bdb-9de5-95841ed73aad
                    clinicalStatus:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/condition-clinical
                        code: active
                    category:
                    - coding:
                      - system: http://terminology.hl7.org/CodeSystem/condition-category
                        code: encounter-diagnosis
                        display: Encounter Diagnosis
                    onsetDateTime: '1989-11-19T22:39:06-06:00'
                    resourceType: Condition
                  fullUrl: https://qaapih1.aetna.com/fhir/qapath3/v1/patientaccess/Condition/0000000000000045666
                - search:
                    mode: match
                  resource:
                    code:
                      coding:
                      - system: http://snomed.info/sct
                        code: '429007001'
                        display: History of cardiac arrest (situation)
                      text: History of cardiac arrest (situation)
                    verificationStatus:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/condition-ver-status
                        code: confirmed
                    meta:
                      lastUpdated: '2020-03-24T23:43:33.379+00:00'
                      versionId: '1'
                      profile:
                      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition
                      source: '#UIA891YdagSHgLfF'
                      tag:
                      - system: https://smarthealthit.org/tags
                        code: Covid19 synthetic population from Synthea
                    subject:
                      reference: Patient/65316c21-489d-48d5-be6f-1dbb3cd72dd0
                    recordedDate: '1991-08-08T22:32:23-05:00'
                    id: 19383
                    encounter:
                      reference: Encounter/1062344a-4e6b-4cac-b752-a790bd008d4c
                    clinicalStatus:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/condition-clinical
                        code: active
                    category:
                    - coding:
                      - system: http://terminology.hl7.org/CodeSystem/condition-category
                        code: encounter-diagnosis
                        display: Encounter Diagnosis
                    onsetDateTime: '1991-08-08T22:32:23-05:00'
                    resourceType: Condition
                  fullUrl: https://qaapih1.aetna.com/fhir/qapath3/v1/patientaccess/Condition/0000000000000045667
                meta:
                  lastUpdated: '2021-04-09T16:09:02.860+00:00'
                link:
                - url: https://qaapih1.aetna.com/fhir/qapath3/v1/patientaccess/Condition?_count=3&page=1
                  relation: self
                - url: https://qaapih1.aetna.com/fhir/qapath3/v1/patientaccess/Condition?_count=3&_page_token=Cjj3YQP%2Bdf%2F%2F%2F%2F%2BABchXMXghfgD%2FAf%2F%2BZTA5NWM4YmI0YWNlYWQ4Yjc5NDhjYTk2M2RhMDA5N2QAARAKIeRmIPX4MlS1OQAAAACKAfyeSAFQAFoLCfRXKWB76f3NEANgg8Tc2gc%3D
                  relation: next
                id: 283388be-f4fa-4c09-bd16-d46282f6becb
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: not-found
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_NO_MATCH
                      display: No Resource found
                id: 687401f85fd3fefb43182c22
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
        x-USCoreCondition:
          description: 'The API will never return this response. This parameter is here to show the schema of the
            USCoreCondition.


            The API 200 Response payload will return a bundle of conditions which will be in the USCoreCondition
            format.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreCondition'
      parameters:
      - in: query
        name: _revinclude
        description: 'adds support for searching for all and particular US Core Profile resource types listed above
          for all the Provenance records for those resources using the _revinclude search parameter:


          GET [base]/[Resource]?_revinclude=Provenance:target'
        required: false
        schema:
          type: string
      - in: query
        name: _page_token
        description: 'This value will be provided by the Server. Used to retrieve the next page of results.


          If a search returns more resources than fit on one page, the response includes a pagination URL in the
          Bundle.link field. The value with Bundle.link.relation = next indicates that you can use the corresponding
          Bundle.link.url to retrieve the next page. ex. [base]/Condition?_count=10&amp;_page_token=Cjj3YQP%2Bdf%2F%2F%2F%2F%2BABchXMXghfgD%2FAf%2F%2BZTA5NWM4YmI0YWNlYWQ4Yjc5NDhjYTk2M2RhMDA5N2QAARAKIeRmIPX4MlS1OQAAAACKAfyeSAFQAFoLCfRXKWB76f3NEANgg8Tc2gc%3D'
        required: false
        schema:
          type: string
      - in: query
        name: _count
        description: The parameter _count is defined as an instruction to the server regarding how many resources
          should be returned in a single page
        required: false
        schema:
          type: integer
      - in: query
        name: patient
        description: This response returns a list of a Patient's Conditions
        required: false
        schema:
          type: string
      x-source-file: _v2_patientaccess_Condition_sandbox.yaml
  /v2/patientaccess/Coverage:
    get:
      summary: Retrieves a patient's coverage details using the Id and formats the response to the CARIN profile.
      description: This operation will retrieve all Coverage details associated with a patient memberid
      operationId: get_v2_patientaccess_Coverage
      responses:
        '200':
          description: This response returns a representation of a Coverage resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        x-Coverage:
          description: The API will never return this response. This parameter is here to facilitate the generation
            of the schema within the interface.
        x-CARINBBCoverage:
          description: The API will never return this response. This parameter is here to facilitate the generation
            of the schema within the interface.
      parameters:
      - in: query
        name: identifier
        description: 'Indicates Coverage search by Membership ID

          memberid

          Ex. GET [base]/Coverage?identifier=https://sources.aetna.com/coverage/identifier/Idsource|IdValue'
        required: false
        schema:
          type: string
      - in: query
        name: patient
        description: This is the FHIR Logical Id of a Patient (Patient.id)Ex. GET [base]/Coverage?patient=98765212349744
        required: false
        schema:
          type: string
      - in: query
        name: _id
        description: 'This is the coverage logical identifer

          ex. GET [base]/Coverage?_id=[id]

          GET [base]/Coverage?_id=1032702'
        required: false
        schema:
          type: string
      x-source-file: _v2_patientaccess_Coverage_sandbox.yaml
  /v2/patientaccess/Device/{id}:
    get:
      summary: This operation returns a Device Resource associated with the Logical Id
      description: Returns a Device Resource associated with the Logical Id
      operationId: get_v2_patientaccess_Device_id
      responses:
        '200':
          description: This response returns a representation of a Device resource which conforms to the USCore
            Implantable Device profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreImplantableDevice'
              example:
                identifier:
                - value: 00868475000235-2857cc9b-a48c-4af8-a519-e03341b0e832
                meta:
                  lastUpdated: '2021-08-19T05:30:29.655+00:00'
                  versionId: '1'
                  source: '#w7IOlsoDJ41Stj6p'
                patient:
                  reference: Patient/2528728
                id: '2528729'
                resourceType: Device
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: not-found
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_NO_MATCH
                      display: No Resource found
                id: 687401f85fd3fefb43182c22
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
      parameters:
      - in: path
        name: id
        description: This is the Device(unique) logical ID.
        required: true
        schema:
          type: string
      x-source-file: _v2_patientaccess_Device_id_sandbox.yaml
  /v2/patientaccess/Device:
    get:
      summary: This operation retrieves all Device records associated to an Authenticated User based on the search
        criteria
      description: Retrieves all Device records associated to an Authenticated User based on the search criteria
      operationId: get_v2_patientaccess_Device
      responses:
        '200':
          description: This response returns a list of patient's Device records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    identifier:
                    - value: 00868475000235-2857cc9b-a48c-4af8-a519-e03341b0e832
                    meta:
                      lastUpdated: '2021-08-19T05:30:29.655+00:00'
                      versionId: '1'
                      source: '#w7IOlsoDJ41Stj6p'
                    patient:
                      reference: Patient/2528728
                    id: '2528729'
                    resourceType: Device
                  fullUrl: http://hapi.fhir.org/baseR4/Device/2528729
                meta:
                  lastUpdated: '2021-08-25T00:16:09.020+00:00'
                link:
                - url: http://hapi.fhir.org/baseR4/Device?_count=1&_pretty=true
                  relation: self
                - url: http://hapi.fhir.org/baseR4?_getpages=785607f2-7d6a-445b-bab2-d61bb4358948&_getpagesoffset=1&_count=1&_pretty=true&_bundletype=searchset
                  relation: next
                id: 785607f2-7d6a-445b-bab2-d61bb4358948
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
        x-USCoreImplantableDevice:
          description: This response returns a list of patient's Device records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreImplantableDevice'
      parameters:
      - in: query
        name: patient
        description: 'This is the FHIR Logical Id of a Patient (Patient.id)


          Ex. GET [base]/Device?patient=98765212349744'
        required: false
        schema:
          type: string
      - in: query
        name: _count
        description: Used to specify the number of records returned per page
        required: false
        schema:
          type: number
      - in: query
        name: _revinclude
        description: 'Adds support for searching the US Core Profile resource types for all the Provenance records
          for those resources using the _revinclude search parameter:


          GET [base]/[Device]?_revinclude=Provenance:target'
        required: false
        schema:
          type: string
      - in: query
        name: _page_token
        description: This value will be provided by the Server. Used to retrieve the next page of results   If a
          search returns more resources than fit on one page, the response includes a pagination URL in the Bundle.link
          field. The value with Bundle.link.relation = next indicates that you can use the corresponding Bundle.link.url
          to retrieve the next page.  ex. [base]/Device?_count=10&amp;_page_token=Cjj3YQP%2Bdf%2F%2F%2F%2F%2BABchXMXghfgD%2FAf%2F%2BZTA5NWM4YmI0YWNlYWQ4Yjc5NDhjYTk2M2RhMDA5N2QAARAKIeRmIPX4MlS1OQAAAACKAfyeSAFQAFoLCfRXKWB76f3NEANgg8Tc2gc%3D
        required: false
        schema:
          type: string
      x-source-file: _v2_patientaccess_Device_sandbox.yaml
  /v2/patientaccess/DiagnosticReport/{id}:
    get:
      summary: This operation returns a DiagnosticReport Resource associated with the Logical Id
      description: Returns a DiagnosticReport Resource associated with the Logical Id
      operationId: get_v2_patientaccess_DiagnosticReport_id
      responses:
        '200':
          description: 'This response returns a representation of a FHIR DiagnosticReport resource which conforms
            to either the USCore DiagnosticReport profiles : USCore DiagnosticReport Lab profile or USCore DiagnosticReport
            Note profile'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticReport'
              example:
                result:
                - reference: Observation/2222010000000181509
                identifier:
                - system: https://sources.aetna.com/diagnosticreport/identifier/memberdrid/50062
                  value: 42~MEDHKVFR+2020-03-08+1001-7
                code:
                  coding:
                  - system: http://loinc.org
                    code: 1001-7
                    display: DBG Ab [Presence] in Serum or Plasma from Donor
                performer:
                - display: Practitioner/0000001234567890211
                effectiveDateTime: '2020-03-08'
                meta:
                  lastUpdated: '2020-03-08T11:18:15-05:00'
                  versionId: '1'
                  profile:
                  - http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-lab
                subject:
                  reference: Patient/1234567890211000000
                id: '222333444555111000888333'
                category:
                - coding:
                  - system: http://terminology.hl7.org/CodeSystem/v2-0074
                    code: LAB
                    display: Laboratory
                _issued:
                  extension:
                  - valueCode: not-asked
                    url: http://hl7.org/fhir/StructureDefinition/data-absent-reason
                resourceType: DiagnosticReport
                status: unknown
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: not-found
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_NO_MATCH
                      display: No Resource found
                id: 687401f85fd3fefb43182c22
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
        x-USCoreDiagnosticReportLab:
          description: The API will never return this response. This parameter is here to facilitate the generation
            of the USCore DiagnosticReport Lab profile schema within the interface.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreDiagnosticReportLab'
        x-USCoreDiagnosticReportNote:
          description: The API will never return this response. This parameter is here to facilitate the generation
            of the USCore DiagnosticReport Note profile schema within the interface.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreDiagnosticReportNote'
      parameters:
      - in: path
        name: id
        description: This is the DiagnosticReport (unique) logical ID.
        required: true
        schema:
          type: string
      x-source-file: _v2_patientaccess_DiagnosticReport_id_sandbox.yaml
  /v2/patientaccess/DiagnosticReport:
    get:
      summary: This operation retrieves all DiagnosticReports associated to an Authenticated User based on the search
        criteria (patient fhir logical id, date, code, category)
      description: Retrieves all DiagnosticReports associated to an Authenticated User based on the search criteria
        (patient fhir logical id, date, code, category)
      operationId: get_v2_patientaccess_DiagnosticReport
      responses:
        '200':
          description: This response returns a list of patient's DiagnosticReports records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    result:
                    - reference: Observation/2222010000000181544
                    identifier:
                    - system: https://sources.aetna.com/diagnosticreport/identifier/memberdrid/50062
                      value: 42~MEDHKVFR+2020-03-09+1002-5
                    code:
                      coding:
                      - system: http://loinc.org
                        code: 1002-5
                        display: DBG Ab [Presence] in Serum or Plasma
                    performer:
                    - display: Practitioner/0000001234567890211
                    effectiveDateTime: '2020-03-09'
                    meta:
                      lastUpdated: '2020-03-08T11:18:15-05:00'
                      versionId: '1'
                      profile:
                      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-lab
                    subject:
                      reference: Patient/1234567890211000000
                    id: '123433444555111000888222'
                    category:
                    - coding:
                      - system: http://terminology.hl7.org/CodeSystem/v2-0074
                        code: LAB
                        display: Laboratory
                    _issued:
                      extension:
                      - valueCode: not-asked
                        url: http://hl7.org/fhir/StructureDefinition/data-absent-reason
                    resourceType: DiagnosticReport
                    status: unknown
                  fullUrl: https://apif1.aetna.com/fhir/v1/patientaccess/DiagnosticReport/123433444555111000888222
                - search:
                    mode: match
                  resource:
                    result:
                    - reference: Observation/2222010000000181509
                    identifier:
                    - system: https://sources.aetna.com/diagnosticreport/identifier/memberdrid/50062
                      value: 42~MEDHKVFR+2020-03-08+1001-7
                    code:
                      coding:
                      - system: http://loinc.org
                        code: 1001-7
                        display: DBG Ab [Presence] in Serum or Plasma from Donor
                    performer:
                    - display: Practitioner/0000001234567890211
                    effectiveDateTime: '2020-03-08'
                    meta:
                      lastUpdated: '2020-03-08T11:18:15-05:00'
                      versionId: '1'
                      profile:
                      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-lab
                    subject:
                      reference: Patient/1234567890211000000
                    id: '222333444555111000888333'
                    category:
                    - coding:
                      - system: http://terminology.hl7.org/CodeSystem/v2-0074
                        code: LAB
                        display: Laboratory
                    _issued:
                      extension:
                      - valueCode: not-asked
                        url: http://hl7.org/fhir/StructureDefinition/data-absent-reason
                    resourceType: DiagnosticReport
                    status: unknown
                  fullUrl: https://apif1.aetna.com/fhir/v1/patientaccess/DiagnosticReport/222333444555111000888333
                total: 2
                id: a7bca4215fbc6e68b01b0801
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: not-found
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_NO_MATCH
                      display: No Resource found
                id: 687401f85fd3fefb43182c22
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
        x-USCoreDiagnosticReportLab:
          description: The API will never return this response. This parameter is here to facilitate the generation
            of the USCore DiagnosticReport Lab profile schema within the interface.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreDiagnosticReportLab'
        x-USCoreDiagnosticReportNote:
          description: The API will never return this response. This parameter is here to facilitate the generation
            of the USCore DiagnosticReport Note profile schema within the interface.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreDiagnosticReportNote'
      parameters:
      - in: query
        name: patient
        description: 'This is the FHIR Logical Id of a Patient (Patient.id)


          Ex. GET [base]/DiagnositcReport?patient=98765212349744'
        required: false
        schema:
          type: string
      - in: query
        name: category
        description: Represents a classification of the clinical discipline, department or diagnostic service that
          created the report (e.g. cardiology, biochemistry, hematology, MRI). This is used for searching, sorting
          and display purposes.
        required: false
        schema:
          type: string
      - in: query
        name: code
        description: Represents the test, panel or battery that was ordered.
        required: false
        schema:
          type: string
      - in: query
        name: date
        description: 'The date parameter allows applications to search for DiagnosticReports by specimen collection
          date using a prefix followed by a single date in the format of yyyy-mm-dd. The following search prefixes
          are supported:

          • GE: Response set includes DiagnosticReports where specimen collection date is greater than or equal
          to the input value

          o (example: date=ge2019-01-01 will return DiagnosticReports with created after and inclusive of 2019-Jan-01)

          • LE: Response set includes DiagnosticReports where specimen collection date is less than or equal to
          the input value

          o (example: date=le2019-12-31 will return DiagnosticReports with specimen collection date before and inclusive
          of 2019-Dec-31)

          Period: Defining a upper and lower bound for a search of DiagnosticReports over a period can be performed
          with the ampersand operator ( using the GE and LE prefixes. Response set includes DiagnosticReports where
          specimen collection date falls in the period specified by the date boundaries (example: date=ge2019-01-01&date=le2019-12-31
          will return DiagnosticReports with a specimen collection date between and inclusive of 2019-Jan-01 and
          2019-Dec-31)


          Note:

          • Other search prefixes not listed here are unsupported at this time.

          • Supplying a date without a prefix or a prefix without a date will result in an error'
        required: false
        schema:
          type: string
      - in: query
        name: _page_token
        description: 'This value will be provided by the Server. Used to retrieve the next page of results.


          If a search returns more resources than fit on one page, the response includes a pagination URL in the
          Bundle.link field. The value with Bundle.link.relation = next indicates that you can use the corresponding
          Bundle.link.url to retrieve the next page. ex. [base]/DiagnosticReport?_count=10&_page_token=Cjj3YQP%2Bdf%2F%2F%2F%2F%2BABchXMXghfgD%2FAf%2F%2BZTA5NWM4YmI0YWNlYWQ4Yjc5NDhjYTk2M2RhMDA5N2QAARAKIeRmIPX4MlS1OQAAAACKAfyeSAFQAFoLCfRXKWB76f3NEANgg8Tc2gc%3D'
        required: false
        schema:
          type: string
      - in: query
        name: _count
        description: Used to specify the number of records returned per page
        required: false
        schema:
          type: number
      - in: query
        name: _revinclude
        description: 'Adds support for searching the US Core Profile resource types for all the Provenance records
          for those resources using the _revinclude search parameter:


          GET [base]/[DiagnosticReport]?_revinclude=Provenance:target'
        required: false
        schema:
          type: string
      x-source-file: _v2_patientaccess_DiagnosticReport_sandbox.yaml
  /v2/patientaccess/DocumentReference/{id}:
    get:
      summary: This operation returns a DocumentReference Resource associated with the Logical Id
      description: Returns a Patient's DocumentReference Resource associated with the Logical Id
      operationId: get_v2_patientaccess_DocumentReference_id
      responses:
        '200':
          description: This response returns a representation of a DocumentReference resource which conforms to
            the USCore DocumentReference profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USCoreDocumentReference'
              example:
                date: '2021-06-15T11:36:46.462+00:00'
                identifier:
                - system: https://sources.aetna.com/goal/identifier/99345
                  value: 42~MWRZ3456780+current+preliminary+34108-1+2021-06-15
                custodian:
                  reference: Organization/e345b49-5c16-4bd4-d310
                subject:
                  reference: Patient/123eb49-5c16-4bd4-c310
                author:
                - reference: Organization/e345b49-5c16-4bd4-d310
                securityLabel:
                - coding:
                  - system: http://terminology.hl7.org/CodeSystem/v3-Confidentiality
                    code: V
                    display: very restricted
                description: Physical
                masterIdentifier:
                  system: https://sources.aetna.com/goal/identifier/99345
                  value: 42~MWRZ3456780+current+preliminary+34108-1+2021-06-15
                type:
                  coding:
                  - system: http://loinc.org
                    code: 34108-1
                    display: Outpatient Note
                content:
                - attachment:
                    data: xmlversiog==
                    language: en-us
                    contentType: text/plain
                docStatus: preliminary
                meta:
                  lastUpdated: '2021-06-17T11:36:46.462+00:00'
                  versionId: '1'
                  profile:
                  - http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference
                context:
                  period:
                    start: '2020-06-23T08:00:00+11:00'
                    end: '2020-06-23T08:01:00+11:00'
                  related:
                  - reference: DiagnosticReport/b1235b14-3a23-8bd1-b421
                  facilityType:
                    coding:
                    - system: http://snomed.info/sct
                      code: '6827000'
                      display: Local community health center
                  encounter:
                    reference: Encounter/a925b49-5a13-7bd1-d410
                id: zbdf8e23-7c16-5ad4-s310-467254b145e8
                category:
                - coding:
                  - system: http://hl7.org/fhir/us/core/CodeSystem/us-core-documentreference-category
                    code: clinical-note
                    display: Clinical Note
                authenticator:
                  reference: Organization/e345b49-5c16-4bd4-d310
                resourceType: DocumentReference
                status: current
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: not-found
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_NO_MATCH
                      display: No Resource found
                id: 687401f85fd3fefb43182c22
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
      parameters:
      - in: path
        name: id
        description: This is the DocumentReference(unique) logical ID.
        required: true
        schema:
          type: string
      x-source-file: _v2_patientaccess_DocumentReference_id_sandbox.yaml
  /v2/patientaccess/DocumentReference:
    get:
      summary: This operation retrieves all DocumentReferences associated to an Authenticated User based on the
        search criteria (patient fhir logical id, date, category, type)
      description: Retrieves all DocumentReferences associated to an Authenticated User based on the search criteria
        (patient fhir logical id, date, category, type)
      operationId: get_v2_patientaccess_DocumentReference
      responses:
        '200':
          description: This response returns a list of patient's DocumentReferences records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    date: '2021-06-15T11:36:46.462+00:00'
                    identifier:
                    - system: https://sources.aetna.com/goal/identifier/99345
                      value: 42~MWRZ3456780+current+preliminary+34108-1+2021-06-15
                    custodian:
                      reference: Organization/e345b49-5c16-4bd4-d310
                    subject:
                      reference: Patient/123eb49-5c16-4bd4-c310
                    author:
                    - reference: Organization/e345b49-5c16-4bd4-d310
                    securityLabel:
                    - coding:
                      - system: http://terminology.hl7.org/CodeSystem/v3-Confidentiality
                        code: V
                        display: very restricted
                    description: Physical
                    masterIdentifier:
                      system: https://sources.aetna.com/goal/identifier/99345
                      value: 42~MWRZ3456780+current+preliminary+34108-1+2021-06-15
                    type:
                      coding:
                      - system: http://loinc.org
                        code: 34108-1
                        display: Outpatient Note
                    content:
                    - attachment:
                        data: xmlversiog==
                        language: en-us
                        contentType: text/plain
                    docStatus: preliminary
                    meta:
                      lastUpdated: '2021-06-17T11:36:46.462+00:00'
                      versionId: '1'
                      profile:
                      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference
                    context:
                      period:
                        start: '2020-06-23T08:00:00+11:00'
                        end: '2020-06-23T08:01:00+11:00'
                      related:
                      - reference: DiagnosticReport/b1235b14-3a23-8bd1-b421
                      facilityType:
                        coding:
                        - system: http://snomed.info/sct
                          code: '6827000'
                          display: Local community health center
                      encounter:
                        reference: Encounter/a925b49-5a13-7bd1-d410
                    id: zbdf8e23-7c16-5ad4-s310-467254b145e8
                    category:
                    - coding:
                      - system: http://hl7.org/fhir/us/core/CodeSystem/us-core-documentreference-category
                        code: clinical-note
                        display: Clinical Note
                    authenticator:
                      reference: Organization/e345b49-5c16-4bd4-d310
                    resourceType: DocumentReference
                    status: current
                  fullUrl: http://apif1.aetna.com/v1/patientaccess/DocumentReference/zbdf8e23-7c16-5ad4-s310-467254b145e8
                - search:
                    mode: match
                  resource:
                    date: '2021-06-07T11:36:46.462+00:00'
                    identifier:
                    - system: https://sources.aetna.com/goal/identifier/99345
                      value: 42~MWRZ3456780+current+amended+11492-6+2021-06-07
                    custodian:
                      reference: Organization/e345b49-5c16-4bd4-d310
                    subject:
                      reference: Patient/123eb49-5c16-4bd4-c310
                    author:
                    - reference: Organization/e345b49-5c16-4bd4-d310
                    securityLabel:
                    - coding:
                      - system: http://terminology.hl7.org/CodeSystem/v3-Confidentiality
                        code: V
                        display: very restricted
                    description: Physical
                    masterIdentifier:
                      system: https://sources.aetna.com/goal/identifier/99345
                      value: 42~MWRZ3456780+current+amended+11492-6+2021-06-07
                    type:
                      coding:
                      - system: http://loinc.org
                        code: 11492-6
                        display: Provider-unspecifed, History and physical note
                    content:
                    - attachment:
                        data: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pjw/eG1sLXN0eWxlc2hlZXQgdHlwZT0idGV4dC94c2wiIGhyZWY9IiMiPz48eHNsOnN0eWxlc2hlZXQgdmVyc2lvbj0iMS4wIiB4bWxuczp4c2w9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvWFNML1RyYW5zZm9ybSIgeG1sbnM6ZXhzbD0iaHR0cDovL2V4c2x0Lm9yZy9jb21tb24iIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zOmRhdGE9InVybjphc2lwLXNhbnRlOmNpLXNpcyIgeG1sbnM6Yz0idXJuOmhsNy1vcmc6djMiIHhtbG5zOmxhYj0idXJuOm9pZDoxLjMuNi4xLjQuMS4xOTM3Ni4xLjMuMiIgeG1sbnM6ZHM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvMDkveG1sZHNpZyMiIHhtbG5zOnhhZD0iaHR0cDovL3VyaS5ldHNpLm9yZy8wMTkwMy92MS4yLjIjIj48ZGF0YTpDb250ZW51PjxjOkNsaW5pY2FsRG9jdW1lbnQgeG1sbnM9InVybjpobDctb3JnOnYzIiB4bWxuczp4c2k9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hLWluc3RhbmNlIj48YzpyZWFsbUNvZGUgY29kZT0iRlIiPjwvYzpyZWFsbUNvZGU+PGM6dHlwZUlkIHJvb3Q9IjIuMTYuODQwLjEuMTEzODgzLjEuMyIgZXh0ZW5zaW9uPSJQT0NEX0hEMDAwMDQwIj48L2M6dHlwZUlkPjxjOnRlbXBsYXRlSWQgcm9vdD0iMi4xNi44NDAuMS4xMTM4ODMuMi44LjIuMSI+PC9jOnRlbXBsYXRlSWQ+PGM6dGVtcGxhdGVJZCByb290PSIxLjIuMjUwLjEuMjEzLjEuMS4xLjEiPjwvYzp0ZW1wbGF0ZUlkPjxjOnRlbXBsYXRlSWQgcm9vdD0iMS4zLjYuMS40LjEuMTkzNzYuMS4zLjMiPjwvYzp0ZW1wbGF0ZUlkPjxjOmlkIHJvb3Q9IjEuMi4yNTAuMS4zMTIuMTQzOS4xLjIiIGV4dGVuc2lvbj0iNzgxOTA3MC4zODE3LjEiPjwvYzppZD48Yzpjb2RlIGNvZGU9IjExNTAyLTIiIGNvZGVTeXN0ZW09IjIuMTYuODQwLjEuMTEzODgzLjYuMSIgZGlzcGxheU5hbWU9IkNSIGQnZXhhbWVucyBiaW9sb2dpcXVlcyIgY29kZVN5c3RlbU5hbWU9IkxPSU5DIj48L2M6Y29kZT48Yzp0aXRsZT5Db21wdGUtcmVuZHUgZCdleGFtZW5zIGJpb2xvZ2lxdWVzIC0gRGVtYW5kZSBJMTkxMTEzMDExODwvYzp0aXRsZT48YzplZmZlY3RpdmVUaW1lIHZhbHVlPSIyMDE5MTExMzE4MzY1NCswMTAwIj48L2M6ZWZmZWN0aXZlVGltZT48Yzpjb25maWRlbnRpYWxpdHlDb2RlIGNvZGU9Ik4iIGNvZGVTeXN0ZW09IjIuMTYuODQwLjEuMTEzODgzLjUuMjUiIGRpc3BsYXlOYW1lPSJOb3JtYWwiPjwvYzpjb25maWRlbnRpYWxpdHlDb2RlPjxjOmxhbmd1YWdlQ29kZSBjb2RlPSJmci1GUiI+PC9jOmxhbmd1YWdlQ29kZT48YzpzZXRJZCByb290PSIxLjIuMjUwLjEuMzEyLjE0MzkuMS4yIiBleHRlbnNpb249Ijc4MTkwNzAuMzgxNyI+PC9jOnNldElkPjxjOnZlcnNpb25OdW1iZXIgdmFsdWU9IjEiPjwvYzp2ZXJzaW9uTnVtYmVyPjxjOnJlY29yZFRhcmdldD48YzpwYXRpZW50Um9sZT48YzppZCByb290PSIxLjIuMjUwLjEuMjEzLjEuNC4yIiBleHRlbnNpb249IjEzODU2MTA0OTI0MzI5Njc3NTMyMDMiPjwvYzppZD48YzppZCByb290PSIxLjIuMjUwLjEuMzEyLjE0MzkuMiIgZXh0ZW5zaW9uPSIxNDAyNDEiPjwvYzppZD48YzphZGRyPjxjOnN0cmVldEFkZHJlc3NMaW5lPjgyIENIRU1JTiBERVMgTklFTExFUzwvYzpzdHJlZXRBZGRyZXNzTGluZT48YzpzdHJlZXRBZGRyZXNzTGluZT4wNjYwMCBBTlRJQkVTPC9jOnN0cmVldEFkZHJlc3NMaW5lPjwvYzphZGRyPjxjOnRlbGVjb20gdmFsdWU9InRlbDorMzM2MDY3ODI3NzciIHVzZT0iTUMiPjwvYzp0ZWxlY29tPjxjOnBhdGllbnQ+PGM6bmFtZT48YzpnaXZlbj5QQVRSSUNJQTwvYzpnaXZlbj48YzpmYW1pbHkgcXVhbGlmaWVyPSJTUCI+VEVTVFRST0lTPC9jOmZhbWlseT48YzpwcmVmaXg+TW1lPC9jOnByZWZpeD48L2M6bmFtZT48YzphZG1pbmlzdHJhdGl2ZUdlbmRlckNvZGUgY29kZT0iRiIgY29kZVN5c3RlbT0iMi4xNi44NDAuMS4xMTM4ODMuNS4xIiBkaXNwbGF5TmFtZT0iRsOpbWluaW4iPjwvYzphZG1pbmlzdHJhdGl2ZUdlbmRlckNvZGU+PGM6YmlydGhUaW1lIHZhbHVlPSIxOTQ3MDQwMiI+PC9jOmJpcnRoVGltZT48YzpiaXJ0aHBsYWNlPjxjOnBsYWNlPjwvYzpwbGFjZT48L2M6YmlydGhwbGFjZT48L2M6cGF0aWVudD48L2M6cGF0aWVudFJvbGU+PC9jOnJlY29yZFRhcmdldD48YzphdXRob3I+PGM6ZnVuY3Rpb25Db2RlIGNvZGU9IkFTUEVDIiBjb2RlU3lzdGVtPSIxLjIuMjUwLjEuMjEzLjEuMS40LjIuMjgwIiBkaXNwbGF5TmFtZT0iQXV0cmUgc3DDqWNpYWxpc3RlIj48YzpvcmlnaW5hbFRleHQ+QmlvbG9naXN0ZTwvYzpvcmlnaW5hbFRleHQ+PC9jOmZ1bmN0aW9uQ29kZT48Yzp0aW1lIHZhbHVlPSIyMDE5MTExMzE4MzYzMiswMTAwIj48L2M6dGltZT48Yzphc3NpZ25lZEF1dGhvcj48YzppZCByb290PSIxLjIuMjUwLjEuNzEuNC4yLjEiIGV4dGVuc2lvbj0iODEwMDAxOTUwNjMyIj48L2M6aWQ+PGM6Y29kZSBjb2RlPSJESVNQT1NJVElGIiBjb2RlU3lzdGVtPSIxLjIuMjUwLjEuMjEzLjEuMS40LjYiIGRpc3BsYXlOYW1lPSJEaXNwb3NpdGlmIG3DqWRpY2FsIj48L2M6Y29kZT48Yzphc3NpZ25lZFBlcnNvbj48YzpuYW1lPjxjOmdpdmVuPkphY3F1ZXM8L2M6Z2l2ZW4+PGM6ZmFtaWx5PkJBUlRPTEVUVEk8L2M6ZmFtaWx5PjwvYzpuYW1lPjwvYzphc3NpZ25lZFBlcnNvbj48YzpyZXByZXNlbnRlZE9yZ2FuaXphdGlvbj48YzppZCByb290PSIxLjIuMjUwLjEuNzEuNC4yLjIiIGV4dGVuc2lvbj0iMTA2Mzc1MTA1MSI+PC9jOmlkPjxjOm5hbWU+TEFCT1JBVE9JUkUgVkFVVFJJTjwvYzpuYW1lPjxjOnRlbGVjb20gdmFsdWU9InRlbDorMzM0OTM2NTg1NTUiIHVzZT0iUFVCIj48L2M6dGVsZWNvbT48Yzp0ZWxlY29tIHZhbHVlPSJtYWlsdG86bGJtLnZhdXRyaW5AYmlvZXN0ZXJlbC5mciIgdXNlPSJQVUIiPjwvYzp0ZWxlY29tPjxjOnRlbGVjb20gdmFsdWU9ImZheDorMzM0OTM2NTg1NDQiIHVzZT0iUFVCIj48L2M6dGVsZWNvbT48YzphZGRyPjxjOnN0cmVldEFkZHJlc3NMaW5lPjE1IEJPVUxFVkFSRCBHRU5FUkFMIFZBVVRSSU48L2M6c3RyZWV0QWRkcmVzc0xpbmU+PGM6c3RyZWV0QWRkcmVzc0xpbmU+MDY2MDAgQU5USUJFUzwvYzpzdHJlZXRBZGRyZXNzTGluZT48L2M6YWRkcj48YzpzdGFuZGFyZEluZHVzdHJ5Q2xhc3NDb2RlIGNvZGU9IkVUQUJMSVNTRU1FTlQiIGNvZGVTeXN0ZW09IjEuMi4yNTAuMS4yMTMuMS4xLjQuOSIgZGlzcGxheU5hbWU9IkV0YWJsaXNzZW1lbnQgZGUgc2FudMOpIj48L2M6c3RhbmRhcmRJbmR1c3RyeUNsYXNzQ29kZT48L2M6cmVwcmVzZW50ZWRPcmdhbml6YXRpb24+PC9jOmFzc2lnbmVkQXV0aG9yPjwvYzphdXRob3I+PGM6Y3VzdG9kaWFuPjxjOmFzc2lnbmVkQ3VzdG9kaWFuPjxjOnJlcHJlc2VudGVkQ3VzdG9kaWFuT3JnYW5pemF0aW9uPjxjOmlkIHJvb3Q9IjEuMi4yNTAuMS43MS40LjIuMiIgZXh0ZW5zaW9uPSIxMDYzNzUxMDUxIj48L2M6aWQ+PGM6bmFtZT5MQUJPUkFUT0lSRSBWQVVUUklOPC9jOm5hbWU+PGM6dGVsZWNvbSB2YWx1ZT0idGVsOiszMzQ5MzY1ODU1NSIgdXNlPSJQVUIiPjwvYzp0ZWxlY29tPjxjOmFkZHI+PGM6c3RyZWV0QWRkcmVzc0xpbmU+MTUgQk9VTEVWQVJEIEdFTkVSQUwgVkFVVFJJTjwvYzpzdHJlZXRBZGRyZXNzTGluZT48YzpzdHJlZXRBZGRyZXNzTGluZT4wNjYwMCBBTlRJQkVTPC9jOnN0cmVldEFkZHJlc3NMaW5lPjwvYzphZGRyPjwvYzpyZXByZXNlbnRlZEN1c3RvZGlhbk9yZ2FuaXphdGlvbj48L2M6YXNzaWduZWRDdXN0b2RpYW4+PC9jOmN1c3RvZGlhbj48YzpsZWdhbEF1dGhlbnRpY2F0b3I+PGM6dGltZSB2YWx1ZT0iMjAxOTExMTMxODM2MzIrMDEwMCI+PC9jOnRpbWU+PGM6c2lnbmF0dXJlQ29kZSBjb2RlPSJTIj48L2M6c2lnbmF0dXJlQ29kZT48Yzphc3NpZ25lZEVudGl0eT48YzppZCByb290PSIxLjIuMjUwLjEuNzEuNC4yLjEiIGV4dGVuc2lvbj0iODEwMDAxOTUwNjMyIj48L2M6aWQ+PGM6YXNzaWduZWRQZXJzb24+PGM6bmFtZT48YzpnaXZlbj5KQUNRVUVTPC9jOmdpdmVuPjxjOmZhbWlseT5CQVJUT0xFVFRJPC9jOmZhbWlseT48L2M6bmFtZT48L2M6YXNzaWduZWRQZXJzb24+PGM6cmVwcmVzZW50ZWRPcmdhbml6YXRpb24+PGM6aWQgcm9vdD0iMS4yLjI1MC4xLjcxLjQuMi4yIiBleHRlbnNpb249IjEwNjM3NTEwNTEiPjwvYzppZD48YzpuYW1lPkxBQk9SQVRPSVJFIFZBVVRSSU48L2M6bmFtZT48Yzp0ZWxlY29tIHZhbHVlPSJ0ZWw6KzMzNDkzNjU4NTU1IiB1c2U9IlBVQiI+PC9jOnRlbGVjb20+PGM6dGVsZWNvbSB2YWx1ZT0ibWFpbHRvOmxibS52YXV0cmluQGJpb2VzdGVyZWwuZnIiIHVzZT0iUFVCIj48L2M6dGVsZWNvbT48Yzp0ZWxlY29tIHZhbHVlPSJmYXg6KzMzNDkzNjU4NTQ0IiB1c2U9IlBVQiI+PC9jOnRlbGVjb20+PGM6YWRkcj48YzpzdHJlZXRBZGRyZXNzTGluZT4xNSBCT1VMRVZBUkQgR0VORVJBTCBWQVVUUklOPC9jOnN0cmVldEFkZHJlc3NMaW5lPjxjOnN0cmVldEFkZHJlc3NMaW5lPjA2NjAwIEFOVElCRVM8L2M6c3RyZWV0QWRkcmVzc0xpbmU+PC9jOmFkZHI+PGM6c3RhbmRhcmRJbmR1c3RyeUNsYXNzQ29kZSBjb2RlPSJFVEFCTElTU0VNRU5UIiBjb2RlU3lzdGVtPSIxLjIuMjUwLjEuMjEzLjEuMS40LjkiIGRpc3BsYXlOYW1lPSJFdGFibGlzc2VtZW50IGRlIHNhbnTDqSI+PC9jOnN0YW5kYXJkSW5kdXN0cnlDbGFzc0NvZGU+PC9jOnJlcHJlc2VudGVkT3JnYW5pemF0aW9uPjwvYzphc3NpZ25lZEVudGl0eT48L2M6bGVnYWxBdXRoZW50aWNhdG9yPjxjOmF1dGhlbnRpY2F0b3I+PGM6dGVtcGxhdGVJZCByb290PSIxLjMuNi4xLjQuMS4xOTM3Ni4xLjMuMy4xLjUiPjwvYzp0ZW1wbGF0ZUlkPjxjOnRpbWUgdmFsdWU9IjIwMTkxMTEzMTgzNjMyKzAxMDAiPjwvYzp0aW1lPjxjOnNpZ25hdHVyZUNvZGUgY29kZT0iUyI+PC9jOnNpZ25hdHVyZUNv
[...]
