openapi: 3.2.0
info:
  title: Aetna Provider Directory Providerdirectorydata API
  version: 1.0.0
  description: 'Retrieve Insurance Plan resource based on Coverage Area (Coverage area is a 2-digit state abbreviation).

    Both Provider and Pharmacy data are available on this resource.'
  contact:
    name: Aetna Interoperability Developer Support
    email: InteroperabilityDeveloperSupport@aetna.com
    url: https://developerportal.aetna.com/
  x-assembled-by: API Evangelist enrichment pipeline
  x-assembly-note: 'Assembled from 16 single-operation Swagger 2.0 documents that Aetna publishes itself at https://developerportal.aetna.com/managedcontent/yaml/<file>, listed in the portal''s own API catalog at https://developerportal.aetna.com/assets/Data/Fhir.json. Every path, parameter, description, schema, example and security definition below is Aetna''s verbatim content; the union, the Swagger 2.0 -> OpenAPI 3.0.3 structural conversion, and the operationIds are ours (Aetna sets every operationId to the literal string "GET", which is not unique across a merged document). The unmodified sources are archived in openapi/_original/. NOTE ON MERGE FIDELITY: where two source documents define a schema of the same name with different content (FHIR profile variants), the first definition encountered wins and that divergence is not represented here; the per-operation source of truth is always the archived original named in each operation''s x-source-file.'
servers:
- url: https://apif1.aetna.com/fhir
- url: https://qapif1.aetna.com/fhir
tags:
- name: Providerdirectorydata
paths:
  /v1/providerdirectorydata/HealthcareService:
    get:
      summary: HealthCareServices offered by an organization/practitioner at a location
      description: HealthCareServices offered by an organization/practitioner at a location.
      operationId: get_v1_providerdirectorydata_HealthcareService
      responses:
        '200':
          description: Success. This response returns a Bundle of HealthcareService records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    extension:
                    - extension:
                      - valueCodeableConcept:
                          coding:
                          - code: newpt
                            system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/AcceptingPatientsCS
                            display: Accepting
                        url: acceptingPatients
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/newpatients
                    - extension:
                      - valueCodeableConcept:
                          coding:
                          - code: physical
                            system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/DeliveryMethodCS
                            display: Physical
                        url: type
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/delivery-method
                    specialty:
                    - coding:
                      - code: 207L00000X
                        system: http://nucc.org/provider-taxonomy
                        display: Anesthesiology Physician
                    meta:
                      lastUpdated: '2023-02-08T14:19:29.341867+00:00'
                      versionId: MTY3NTg2NTk2OTM0MTg2NzAwMA
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-HealthcareService
                    name: Parker, Jason Darrel, MD
                    active: true
                    language: en
                    location:
                    - reference: Location/plannet-location-bcdff9f2818baa5738a8626fcfac03cf
                      display: 2600 East Pflugerville Pkwy., Suite 100, Pflugerville, Travis, TX 78660, USA
                    telecom:
                    - system: phone
                      use: work
                      value: '5126546100'
                    - system: phone
                      use: work
                      value: '2545267523'
                    - system: phone
                      use: work
                      value: '5123527611'
                    - system: phone
                      use: work
                      value: '2547242111'
                    - system: phone
                      use: work
                      value: '5125090100'
                    - system: phone
                      use: work
                      value: '5125090200'
                    - system: phone
                      use: work
                      value: '2542022000'
                    - system: phone
                      use: work
                      value: '5126546500'
                    - system: fax
                      use: work
                      value: '5126546101'
                    - system: fax
                      use: work
                      value: '5126546501'
                    id: plannet-healthcareservice-8a2e5c0980863a9e93abc1d28b436db4
                    category:
                    - coding:
                      - code: prov
                        system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/HealthcareServiceCategoryCS
                        display: Medical Provider
                    resourceType: HealthcareService
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectorydata/HealthcareService/plannet-healthcareservice-7c78a7a1c66dc7e420a502c14ad7e3d2
                total: 1
                link:
                - url: https://apif1.aetna.com/fhir/v1/providerdirectorydata/HealthcareService/?_count=1
                  relation: search
                - url: https://apif1.aetna.com/fhir/v1/providerdirectorydata/HealthcareService/?_count=1&_page_token=Cjj3YIZ5FP%2F%2F%2F%2F%2BABcDb5QtnVAD%2FAf%2F%2BZTlhNmNlODU0NzkxNTNhOWViNWNiNThjY2JjZjYzZjgAARABIRdZYDGqWfwzOQAAAADrhnmfSAFQAFoLCcFJ9d%2F6K7wvEANgrZzo6wE%3D
                  relation: next
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: value
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_PARAM_INVALID
                      display: 'error parsing date "2021 - 15 - 29" : invalid dateTime: "2021 - 15 - 29" '
                    text: Missing or invalid inputs
                language: en-US
                resourceType: OperationOutcome
        '401':
          description: The request is unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Looks like you are not authorized to use this API. Please validate your API Key.
                    text: You must authenticate before you can use this service
                language: en-US
                resourceType: OperationOutcome
        '403':
          description: The requested resource is forbidden for some reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Forbidden
                    text: Access Denied
                language: en-US
                resourceType: OperationOutcome
        '404':
          description: The specified System Identifier doesn’t identify an existing resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: no-store
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_NO_MATCH
                      display: 'resource not found: List/yy'
                    text: No Resource found matching the query
                language: en-US
                resourceType: OperationOutcome
        '405':
          description: The specified Method is not allowed in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_RESOURCE_NOT_ALLOWED
                      display: Method Not Allowed
                    text: Not allowed to submit a resource for this operation
                language: en-US
                resourceType: OperationOutcome
        '429':
          description: Detected excessive traffic coming from this IP. Please reach out if you think this is incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_UNKNOWN_TYPE
                      display: We have detected excessive traffic coming from this IP.
                    text: Too Many Request
                language: en-US
                resourceType: OperationOutcome
        '500':
          description: An unexpected internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_SVC_FAILURE
                      display: An Unexpected error occurred while fulfilling this request. Our engineers have been notified. Please try again in some time.
                    text: Error occurred while processing response
                language: en-US
                resourceType: OperationOutcome
      parameters:
      - in: query
        name: _count
        description: The maximum number of search results on a page. The server is not bound to return the number requested, but cannot return more.
        required: false
        schema:
          type: number
      - in: query
        name: _id
        description: Logical id of this artifact
        required: false
        schema:
          type: string
      - in: query
        name: location
        description: Select HealthcareServices available at the specified location.
        required: false
        schema:
          type: string
      - in: query
        name: organization
        description: Select HealthcareServices provided by the specified organization.
        required: false
        schema:
          type: string
      - in: query
        name: specialty
        description: Select services associated with the specified specialty.
        required: false
        schema:
          type: string
      - in: query
        name: _include
        description: 'request that the search results include additional resources ("included resources") related to the resources directly matching the query ("primary results").


          Supported values :

          HealthcareService:location

          HealthcareService:organization'
        required: false
        schema:
          type: string
      - in: query
        name: name
        description: Select HealthcareServices with the specified name.
        required: false
        schema:
          type: string
      - in: query
        name: service-category
        description: Select HealthcareServices providing the specified category of services.
        required: false
        schema:
          type: string
      - in: query
        name: _lastUpdated
        description: Select resources based on the last time they were changed.
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: _revinclude
        description: 'request that the search results include additional resources ("included resources") that reference the resources directly matching the query ("primary results")


          Supported values :

          PractitionerRole:service

          OrganizationAffiliation:service'
        required: false
        schema:
          type: string
      - in: query
        name: _page_token
        description: Used to retrieve the next page of results If a search returns more resources than fit on one page, the response includes a pagination URL in the Bundle.
        required: false
        schema:
          type: string
      - in: query
        name: delivery-method
        description: Select HealthcareServices based on the delivery method type.
        required: false
        schema:
          type: string
      x-source-file: _v1_providerdirectorydata_HealthcareService.yaml
      tags:
      - Providerdirectorydata
  /v1/providerdirectorydata/HealthcareService/{id}:
    get:
      summary: HealthCareServices offered by a particular organization/practitioner based on…
      description: HealthCareServices offered by a particular organization/practitioner based on given ID
      operationId: get_v1_providerdirectorydata_HealthcareService_id
      responses:
        '200':
          description: Success. This response returns a HealthcareService record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthcareService'
              example:
                extension:
                - extension:
                  - valueCodeableConcept:
                      coding:
                      - code: newpt
                        system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/AcceptingPatientsCS
                        display: Accepting
                    url: acceptingPatients
                  url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/newpatients
                - extension:
                  - valueCodeableConcept:
                      coding:
                      - code: physical
                        system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/DeliveryMethodCS
                        display: Physical
                    url: type
                  url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/delivery-method
                specialty:
                - coding:
                  - code: 207L00000X
                    system: http://nucc.org/provider-taxonomy
                    display: Anesthesiology Physician
                meta:
                  lastUpdated: '2023-02-08T14:19:29.341867+00:00'
                  versionId: MTY3NTg2NTk2OTM0MTg2NzAwMA
                  profile:
                  - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-HealthcareService
                name: Parker, Jason Darrel, MD
                active: true
                language: en
                location:
                - reference: Location/plannet-location-bcdff9f2818baa5738a8626fcfac03cf
                  display: 2600 East Pflugerville Pkwy., Suite 100, Pflugerville, Travis, TX 78660, USA
                telecom:
                - system: phone
                  use: work
                  value: '5126546100'
                - system: phone
                  use: work
                  value: '2545267523'
                - system: phone
                  use: work
                  value: '5123527611'
                - system: phone
                  use: work
                  value: '2547242111'
                - system: phone
                  use: work
                  value: '5125090100'
                - system: phone
                  use: work
                  value: '5125090200'
                - system: phone
                  use: work
                  value: '2542022000'
                - system: phone
                  use: work
                  value: '5126546500'
                - system: fax
                  use: work
                  value: '5126546101'
                - system: fax
                  use: work
                  value: '5126546501'
                id: plannet-healthcareservice-8a2e5c0980863a9e93abc1d28b436db4
                category:
                - coding:
                  - code: prov
                    system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/HealthcareServiceCategoryCS
                    display: Medical Provider
                resourceType: HealthcareService
        '400':
          description: A required parameter isn’t provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: value
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_PARAM_INVALID
                      display: 'error parsing date "2021 - 15 - 29" : invalid dateTime: "2021 - 15 - 29" '
                    text: Missing or invalid inputs
                language: en-US
                resourceType: OperationOutcome
        '401':
          description: The request is unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Looks like you are not authorized to use this API. Please validate your API Key.
                    text: You must authenticate before you can use this service
                language: en-US
                resourceType: OperationOutcome
        '403':
          description: The requested resource is forbidden for some reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Forbidden
                    text: Access Denied
                language: en-US
                resourceType: OperationOutcome
        '404':
          description: The specified System Identifier doesn’t identify an existing resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: no-store
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_NO_MATCH
                      display: 'resource not found: List/yy'
                    text: No Resource found matching the query
                language: en-US
                resourceType: OperationOutcome
        '405':
          description: The specified Method is not allowed in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_RESOURCE_NOT_ALLOWED
                      display: Method Not Allowed
                    text: Not allowed to submit a resource for this operation
                language: en-US
                resourceType: OperationOutcome
        '429':
          description: Detected excessive traffic coming from this IP. Please reach out if you think this is incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_UNKNOWN_TYPE
                      display: We have detected excessive traffic coming from this IP.
                    text: Too Many Request
                language: en-US
                resourceType: OperationOutcome
        '500':
          description: An unexpected internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_SVC_FAILURE
                      display: An Unexpected error occurred while fulfilling this request. Our engineers have been notified. Please try again in some time.
                    text: Error occurred while processing response
                language: en-US
                resourceType: OperationOutcome
      parameters:
      - in: header
        name: x-clientrefid
        description: optional UUID to track the transaction.
        required: false
        schema:
          type: string
      - in: path
        name: id
        description: The logical id of the resource.
        required: true
        schema:
          type: string
      x-source-file: _v1_providerdirectorydata_HealthcareService.yaml
      tags:
      - Providerdirectorydata
  /v1/providerdirectorydata/InsurancePlan:
    get:
      summary: Retrieves all InsurancePlans based on the search criteria
      description: Health insurance coverage benefits that are offered under a particular network type
      operationId: get_v1_providerdirectorydata_InsurancePlan
      responses:
        '200':
          description: Success. This response returns a Bundle of InsurancePlan records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    identifier:
                    - use: official
                      assigner:
                        display: Aetna Medicare
                      type:
                        coding:
                        - code: XV
                          system: http://terminology.hl7.org/CodeSystem/v2-0203
                          display: Health Plan Identifier
                      value: H5521122
                    - use: official
                      assigner:
                        display: Aetna Medicare
                      type:
                        coding:
                        - code: XV
                          system: http://terminology.hl7.org/CodeSystem/v2-0203
                          display: Health Plan Identifier
                      value: H5521263
                    - use: official
                      type:
                        coding:
                        - code: XX
                          system: http://terminology.hl7.org/CodeSystem/v2-0203
                          display: Organization Identifier
                      value: I
                    period:
                      start: '2023-01-01'
                      end: '2023-12-31'
                    language: en
                    administeredBy:
                      display: AetnaMedicare
                    type:
                    - coding:
                      - code: mediadvppo
                        system: http://aetna.com/InsuranceProductType
                      text: Medicare Advantage PPO
                    network:
                    - reference: Organization/plannet-network-f0f9ad3d9b83d94f7080386074dffe13
                      display: Broad National with preferred pharmacies
                    - reference: Organization/plannet-network-85c2a896a433b4104b0de39ce06bda77
                      display: National ANC Medicare PPO - Medicare Advantage AHP 12236
                    - reference: Organization/plannet-network-2346ae7d8cf4d8749a549cf255531a70
                      display: myNEXUS HHC Natl MEPPO 12283
                    - reference: Organization/plannet-network-eee5e087511188b15c1418485963fbf9
                      display: Central PA Medicare PPO 3399
                    - reference: Organization/plannet-network-d22427a4ccefd7edccfbcfa2ad6afc19
                      display: Western PA Medicare PPO 3400
                    - reference: Organization/plannet-network-0e6d91af1cd85da5cb71beddece9e9e2
                      display: SEPA Medicare PPO 3401
                    - reference: Organization/plannet-network-077aa75bbc91d501cae87815968182f2
                      display: PA BrksCnty Medicare PPO 3402
                    - reference: Organization/plannet-network-2d51199967fa2eaddd4c44cb42b4e276
                      display: NEPA Medicare PPO 3404
                    - reference: Organization/plannet-network-ea38bf5f73a8c66d3013a7827a09fda9
                      display: Walk In Clinic - Medicare PPO
                    - reference: Organization/plannet-network-bb3a0ffe2328fd9a462aae509f1b8707
                      display: Aetna Health Plans - DPPO
                    meta:
                      lastUpdated: '2023-02-08T13:51:18.825873+00:00'
                      versionId: MTY3NTg2NDI3ODgyNTg3MzAwMA
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-InsurancePlan
                    contact:
                    - name:
                        text: AetnaMedicare
                      telecom:
                      - system: phone
                        use: work
                        rank: 1
                        value: 1-833-570-6670
                    name: Aetna Medicare Gold Plan (PPO)
                    alias:
                    - Aetna Medicare Value (PPO)
                    id: plannet-insuranceplan-b905bacf4dbba560e758d719e97d003a
                    ownedBy:
                      display: Aetna
                    resourceType: InsurancePlan
                    status: active
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectorydata/InsurancePlan/plannet-insuranceplan-b905bacf4dbba560e758d719e97d003a
                - search:
                    mode: match
                  resource:
                    identifier:
                    - use: official
                      assigner:
                        display: Aetna Medicare
                      type:
                        coding:
                        - code: XX
                          system: http://terminology.hl7.org/CodeSystem/v2-0203
                          display: Organization Identifier
                      value: G
                    period:
                      start: '2023-01-01'
                      end: '2023-12-31'
                    language: en
                    administeredBy:
                      display: AetnaRetireePlans
                    type:
                    - coding:
                      - code: mediadvppo
                        system: http://aetna.com/InsuranceProductType
                      text: Medicare Advantage PPO
                    network:
                    - reference: Organization/plannet-network-f0f9ad3d9b83d94f7080386074dffe13
                      display: Broad National with preferred pharmacies
                    - reference: Organization/plannet-network-b0c122e633d57dda4ed5dae528bcc787
                      display: Medicare PPO Group Plans 11558
                    - reference: Organization/plannet-network-85c2a896a433b4104b0de39ce06bda77
                      display: National ANC Medicare PPO - Medicare Advantage AHP 12236
                    - reference: Organization/plannet-network-2346ae7d8cf4d8749a549cf255531a70
                      display: myNEXUS HHC Natl MEPPO 12283
                    - reference: Organization/plannet-network-64511dfe1a9dad1715b1c102ac693f97
                      display: AmericanSpecHlthNatlMEPPO 12744
                    - reference: Organization/plannet-network-c469c0d967656b617b513b277b194d5e
                      display: Dallas TX Medicare PPO 3395
                    - reference: Organization/plannet-network-41515d34f21ab4a417e532fb9ad91b9b
                      display: San Antonio TX Medicare PPO 3406
                    - reference: Organization/plannet-network-1df06d19fff9dc5d5d5a871ffbf9db22
                      display: Austin TX Medicare PPO 3407
                    - reference: Organization/plannet-network-591ef6a733f42575543bb3b8ba7e80ab
                      display: Houston TX Medicare PPO 3414
                    - reference: Organization/plannet-network-224973ff8ec174cd683bdeb67f995926
                      display: Corpus Christi TX Medicare PPO 3510
                    - reference: Organization/plannet-network-de7835377a9459101c526968f5684e3f
                      display: El Paso Medicare PPO 3516
                    - reference: Organization/plannet-network-ea38bf5f73a8c66d3013a7827a09fda9
                      display: Walk In Clinic - Medicare PPO
                    - reference: Organization/plannet-network-3fc9811a23adda89508a49b7a3b86556
                      display: Rio Grande Valley TX Medicare PPO 4069
                    - reference: Organization/plannet-network-d8ea6a48e90c55cba4a3d6681e551c92
                      display: Hill Country TX Medicare PPO 4232
                    - reference: Organization/plannet-network-7fae8280ca667594ed9c223ef2754ba1
                      display: Lubbock TX Medicare PPO 4243
                    - reference: Organization/plannet-network-56d4d90dfcf4029bd8d96188236f29e4
                      display: E. TX Medicare PPO 4245
                    - reference: Organization/plannet-network-e0806de79227b8d11df2d7fa3d46a6d8
                      display: Amarillo TX Medicare PPO 4247
                    - reference: Organization/plannet-network-bb3a0ffe2528fd9a462aae509f1b899b
                      display: Aetna Health Plans - DPPO
                    meta:
                      lastUpdated: '2023-02-17T08:48:45.812139+00:00'
                      versionId: MTY3NjYyMzcyNTgxMjEzOTAwMA
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-InsurancePlan
                    contact:
                    - name:
                        text: AetnaRetireePlans
                      telecom:
                      - system: phone
                        use: work
                        rank: 1
                        value: 1-888-267-2637
                    name: Aetna Medicare Plan (PPO)
                    id: plannet-insuranceplan-55ea4421f0aac570fb46ec06adf08f61
                    ownedBy:
                      display: Aetna
                    coverageArea:
                    - display: TX-Anderson; TX-Aransas; TX-Archer; TX-Armstrong; TX-Atascosa; TX-Austin; TX-Bailey; TX-Bandera; TX-Bastrop; TX-Baylor; TX-Bee; TX-Bexar; TX-Blanco; TX-Borden; TX-Bosque; TX-Brazoria; TX-Brazos; TX-Briscoe; TX-Brooks; TX-Burleson; TX-Burnet; TX-Caldwell; TX-Callahan; TX-Cameron; TX-Camp; TX-Carson; TX-Cass; TX-Castro; TX-Chambers; TX-Cherokee; TX-Clay; TX-Cochran; TX-Coke; TX-Coleman; TX-Collin; TX-Comal; TX-Concho; TX-Cooke; TX-Coryell; TX-Crosby; TX-Dallas; TX-Dawson; TX-Deaf Smith; TX-Delta; TX-Denton; TX-DeWitt; TX-Dickens; TX-Dimmit; TX-Donley; TX-Duval; TX-Ector; TX-El Paso; TX-Ellis; TX-Falls; TX-Fannin; TX-Fayette; TX-Fisher; TX-Floyd; TX-Fort Bend; TX-Franklin; TX-Freestone; TX-Galveston; TX-Garza; TX-Gillespie; TX-Glasscock; TX-Goliad; TX-Gonzales; TX-Gray; TX-Grayson; TX-Gregg; TX-Grimes; TX-Guadalupe; TX-Hale; TX-Hall; TX-Hamilton; TX-Hardin; TX-Harris; TX-Harrison; TX-Hartley; TX-Haskell; TX-Hays; TX-Henderson; TX-Hidalgo; TX-Hill; TX-Hockley; TX-Hood; TX-Hopkins; TX-Houston; TX-Hunt; TX-Hutchinson; TX-Irion; TX-Jack; TX-Jefferson; TX-Jim Hogg; TX-Jim Wells; TX-Johnson; TX-Jones; TX-Karnes; TX-Kaufman; TX-Kendall; TX-Kenedy; TX-Kent; TX-Kerr; TX-Kimble; TX-Kleberg; TX-Knox; TX-La Salle; TX-Lamb; TX-Lampasas; TX-Lavaca; TX-Lee; TX-Leon; TX-Liberty; TX-Limestone; TX-Llano; TX-Lubbock; TX-Lynn; TX-Madison; TX-Marion; TX-Martin; TX-Mason; TX-Matagorda; TX-McCulloch; TX-McLennan; TX-McMullen; TX-Medina; TX-Menard; TX-Midland; TX-Milam; TX-Mills; TX-Montague; TX-Montgomery; TX-Moore; TX-Morris; TX-Motley; TX-Nacogdoches; TX-Navarro; TX-Nolan; TX-Nueces; TX-Oldham; TX-Orange; TX-Palo Pinto; TX-Panola; TX-Parker; TX-Polk; TX-Potter; TX-Rains; TX-Randall; TX-Reagan; TX-Real; TX-Red River; TX-Refugio; TX-Roberts; TX-Robertson; TX-Rockwall; TX-Runnels; TX-Rusk; TX-San Jacinto; TX-San Patricio; TX-San Saba; TX-Schleicher; TX-Shackelford; TX-Shelby; TX-Smith; TX-Somervell; TX-Starr; TX-Sterling; TX-Stonewall; TX-Sutton; TX-Swisher; TX-Tarrant; TX-Taylor; TX-Terry; TX-Throckmorton; TX-Travis; TX-Trinity; TX-Tyler; TX-Upshur; TX-Van Zandt; TX-Walker; TX-Waller; TX-Washington; TX-Webb; TX-Wharton; TX-Wheeler; TX-Willacy; TX-Williamson; TX-Wilson; TX-Wise; TX-Wood; TX-Young; TX-Zavala
                    resourceType: InsurancePlan
                    status: active
                  fullUrl: https://apif1.aetna.com/fhir/prod/v1/providerdirectorydata/InsurancePlan/plannet-insuranceplan-55ea4421f0aac570fb46ec06adf08f61
                total: 4
                link:
                - url: https://apif1.aetna.com/fhir/v1/providerdirectorydata/InsurancePlan?_count=2
                  relation: search
                - url: https://apif1.aetna.com/fhir/v1/providerdirectorydata/InsurancePlan?_count=2&_page_token=Cjj3YIGJFv%2F%2F%2F%2F%2BABcCQjgd%2BagD%2FAf%2F%2BY2YxNjhhNTcxYzI3ZDQwYTExNzRiMjBjOWZjOWVkM2EAARACIRdZYDGqWfwzOQAAAADpdn6fSAJQAFoLCbGK4RJnYbokEANgxMKh8gM%3D
                  relation: next
                - url: https://apif1.aetna.com/fhir/v1/providerdirectorydata/InsurancePlan?_count=2
                  relation: first
                - url: https://apif1.aetna.com/fhir/v1/providerdirectorydata/InsurancePlan?_count=2
                  relation: self
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: value
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_PARAM_INVALID
                      display: 'error parsing date "2021 - 15 - 29" : invalid dateTime: "2021 - 15 - 29" '
                    text: Missing or invalid inputs
                language: en-US
                resourceType: OperationOutcome
        '401':
          description: The request is unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Looks like you are not authorized to use this API. Please validate your API Key.
                    text: You must authenticate before you can use this service
                language: en-US
                resourceType: OperationOutcome
        '403':
          description: The requested resource is forbidden for some reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Forbidden
                    text: Access Denied
                language: en-US
                resourceType: OperationOutcome
        '404':
          description: The specified System Identifier doesn’t identify an existing resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: no-store
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_NO_MATCH
                      display: 'resource not found: List/yy'
                    text: No Resource found matching the query
                language: en-US
                resourceType: OperationOutcome
        '405':
          description: The specified Method is not allowed in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_RESOURCE_NOT_ALLOWED
                      display: Method Not Allowed
                    text: Not allowed to submit a resource for this operation
                language: en-US
                resourceType: OperationOutcome
        '429':
          description: Detected excessive traffic coming from this IP. Please reach out if you think this is incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_UNKNOWN_TYPE
                      display: We have detected excessive traffic coming from this IP.
                    text: Too Many Request
                language: en-US
                resourceType: OperationOutcome
        '500':
          description: An unexpected internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_SVC_FAILURE
                      display: An Unexpected error occurred while fulfilling this request. Our engineers have been notified. Please try again in some time.
                    text: Error occurred while processing response
                language: en-US
                resourceType: OperationOutcome
      parameters:
      - in: query
        name: _count
        description: The maximum number of search results on a page. The server is not bound to return the number requested, but cannot return more.
        required: false
        schema:
          type: number
      - in: query
        name: _id
        description: Logical id of this artifact
        required: false
        schema:
          type: string
      - in: query
        name: owned-by
        description: Select products that are owned by the specified organization.
        required: false
        schema:
          type: string
      - in: query
        name: coverage-area
        description: Select products that are offered in the specified location.
        required: false
        schema:
          type: string
      - in: query
        name: name
        description: Select products with the specified name.
        required: false
        schema:
          type: string
      - in: query
        name: identifier
        description: 'Business identifiers assigned to this health insurance product which remain constant as the resource is updated and propagates from server to server.



          For each InsurancePlan, there is an identifier to indicate Individual(identifier.value = I) or Group(identifier.value = G) Plan.'
        required: false
        schema:
          type: string
      - in: query
        name: _lastUpdated
        description: When the resource version last changed.
        required: false
        schema:
          type: string
      - in: query
        name: _include
        description: 'request that the search results include additional resources ("included resources") related to the resources directly matching the query ("primary results").


          Supported values :

          InsurancePlan:administered-by

          InsurancePlan:owned-by

          InsurancePlan:coverage-area'
        required: false
        schema:
          type: string
      - in: query
        name: _page_token
        description: Used to retrieve the next page of results If a search returns more resources than fit on one page, the response includes a pagination URL in the Bundle.
        required: false
        schema:
          type: string
      - in: query
        name: type
        description: Select insurance plans of the specified type.
        required: false
        schema:
          type: string
      - in: query
        name: network
        description: Select Organization entries in a given InsurancePlan's network
        required: false
        schema:
          type: string
      - in: query
        name: period
        description: Select InsurancePlan entries that are active during the specified period
        required: false
        schema:
          type: string
      x-source-file: _v1_providerdirectorydata_InsurancePlan.yaml
      tags:
      - Providerdirectorydata
  /v1/providerdirectorydata/Location/{id}:
    get:
      summary: ID specific Location where healthcare services are provided
      description: Physical place where healthcare services are provided, practitioners are employed, organizations are based, etc. specific to an ID.
      operationId: get_v1_providerdirectorydata_Location_id
      responses:
        '200':
          description: Success. This response returns a Location record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
              example:
                extension:
                - extension:
                  - valueCodeableConcept:
                      coding:
                      - code: nopt
                        system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/AcceptingPatientsCS
                    url: acceptingPatients
                  - url: fromNetwork
                  - url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/accessibility
                address:
                  country: US
                  city: Prescott
                  line:
                  - 125 North Washington Street
                  use: work
                  district: Ogemaw
                  postalCode: '48756'
                  state: MI
                  text: 125 North Washington Street, Prescott, Ogemaw, MI, 48756, USA
                  type: physical
                meta:
                  lastUpdated: '2021-04-09T09:00:52.068245+00:00'
                  versionId: MTYxNzk1ODg1MjA2ODI0NTAwMA
                  profile:
                  - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Location
                name: Prescott Clinic, P.C.
                language: en-US
                telecom:
                - system: phone
                  use: work
                  rank: 1
                  value: '9898733352'
                - system: fax
                  use: work
                  rank: 2
                  value: '9898733949'
                id: a8dbb12fa1a89f11d4eee4813a38db1f
                position:
                  latitude: 44.191023
                  longitude: -83.930409
                resourceType: Location
                status: active
        '400':
          description: A required parameter isn’t provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: value
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_PARAM_INVALID
                      display: 'error parsing date "2021 - 15 - 29" : invalid dateTime: "2021 - 15 - 29" '
                    text: Missing or invalid inputs
                language: en-US
                resourceType: OperationOutcome
        '401':
          description: The request is unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Looks like you are not authorized to use this API. Please validate your API Key.
                    text: You must authenticate before you can use this service
                language: en-US
                resourceType: OperationOutcome
        '403':
          description: The requested resource is forbidden for some reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Forbidden
                    text: Access Denied
                language: en-US
                resourceType: OperationOutcome
        '404':
          description: The specified System Identifier doesn’t identify an existing resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: no-store
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_NO_MATCH
                      display: 'resource not found: List/yy'
                    text: No Resource found matching the query
                language: en-US
                resourceType: OperationOutcome
        '405':
          description: The specified Method is not allowed in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_RESOURCE_NOT_ALLOWED
                      display: Method Not Allowed
                    text: Not allowed to submit a resource for this operation
                language: en-US
                resourceType: OperationOutcome
        '429':
          description: Detected excessive traffic coming from this IP. Please reach out if you think this is incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_UNKNOWN_TYPE
                      display: We have detected excessive traffic coming from this IP.
                    text: Too Many Request
                language: en-US
                resourceType: OperationOutcome
        '500':
          description: An unexpected internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_SVC_FAILURE
                      display: An Unexpected error occurred while fulfilling this request. Our engineers have been notified. Please try again in some time.
                    text: Error occurred while processing response
                language: en-US
                resourceType: OperationOutcome
      parameters:
      - in: header
        name: x-clientrefid
        description: optional UUID to track the transaction.
        required: false
        schema:
          type: string
      - in: path
        name: id
        description: The logical id of the resource.
        required: true
        schema:
          type: string
      x-source-file: _v1_providerdirectorydata_Location.yaml
      tags:
      - Providerdirectorydata
  /v1/providerdirectorydata/Location:
    get:
      summary: Location where healthcare services are provided
      description: Physical place where healthcare services are provided, practitioners are employed, organizations are based, etc.
      operationId: get_v1_providerdirectorydata_Location
      responses:
        '200':
          description: Success. This response returns a Bundle of Location records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    identifier:
                    - use: official
                      type:
                        coding:
                        - code: PLAC
                          display: Placer Identifier
                    - system: http://aetna.com/identifier
                      type:
                        coding:
                        - code: SLN
                          system: http://aetna.com/identifier
                          display: Service Location Number
                        text: Aetna Service Location Number
                      value: '4441165'
                    extension:
                    - extension:
                      - valueCodeableConcept:
                          coding:
                          - code: nopt
                            system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/AcceptingPatientsCS
                            display: Not Accepting
                          text: Not Accepting patients
                        url: acceptingPatients
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/newpatients
                    - valueCodeableConcept:
                        coding:
                        - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/AccessibilityCS
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/accessibility
                    address:
                      country: US
                      city: San Diego
                      line:
                      - 5739 PACIFIC CENTER BLVD
                      use: work
                      district: San Diego
                      postalCode: '92121'
                      state: CA
                      text: 5739 PACIFIC CENTER BLVD, San Diego, San Diego, CA 92121, US
                      type: physical
                    meta:
                      lastUpdated: '2023-02-08T14:15:24.246828+00:00'
                      versionId: MTY3NTg2NTcyNDI0NjgyODAwMA
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Location
                    name: Quest Diagnostics Incorporated
                    language: en
                    telecom:
                    - system: phone
                      use: work
                      rank: 1
                      value: '8882778772'
                    id: plannet-location-9fb71274cf8baa5738abd8aa67d48bf3
                    position:
                      latitude: 32.904127
                      longitude: -117.196721
                    type:
                    - coding:
                      - code: WORK
                        display: work site
                    resourceType: Location
                    status: active
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectorydata/Location/plannet-location-9fb71274cf8baa5738abd8aa67d48bf3
                total: 1
                link:
                - url: https://apif1.aetna.com/fhir/v1/providerdirectorydata/Location/?address=Prescott
                  relation: search
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: value
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_PARAM_INVALID
                      display: 'error parsing date "2021 - 15 - 29" : invalid dateTime: "2021 - 15 - 29" '
                    text: Missing or invalid inputs
                language: en-US
                resourceType: OperationOutcome
        '401':
          description: The request is unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Looks like you are not authorized to use this API. Please validate your API Key.
                    text: You must authenticate before you can use this service
                language: en-US
                resourceType: OperationOutcome
        '403':
          description: The requested resource is forbidden for some reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Forbidden
                    text: Access Denied
                language: en-US
                resourceType: OperationOutcome
        '404':
          description: The specified System Identifier doesn’t identify an existing resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: no-store
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_NO_MATCH
                      display: 'resource not found: List/yy'
                    text: No Resource found matching the query
                language: en-US
                resourceType: OperationOutcome
        '405':
          description: The specified Method is not allowed in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_RESOURCE_NOT_ALLOWED
                      display: Method Not Allowed
                    text: Not allowed to submit a resource for this operation
                language: en-US
                resourceType: OperationOutcome
        '429':
          description: Detected excessive traffic coming from this IP. Please reach out if you think this is incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_UNKNOWN_TYPE
                      display: We have detected excessive traffic coming from this IP.
                    text: Too Many Request
                language: en-US
                resourceType: OperationOutcome
        '500':
          description: An unexpected internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_SVC_FAILURE
                      display: An Unexpected error occurred while fulfilling this request. Our engineers have been notified. Please try again in some time.
                    text: Error occurred while processing response
                language: en-US
                resourceType: OperationOutcome
      parameters:
      - in: query
        name: _count
        description: The maximum number of search results on a page. The server is not bound to return the number requested, but cannot return more.
        required: false
        schema:
          type: number
      - in: query
        name: _id
        description: Logical id of this artifact
        required: false
        schema:
          type: string
      - in: query
        name: partof
        description: Select Locations that are part of the specified location.
        required: false
        schema:
          type: string
      - in: query
        name: organization
        description: Select Locations managed by the specified organization.
        required: false
        schema:
          type: string
      - in: query
        name: address-city
        description: Select Locations with the specified address.city.
        required: false
        schema:
          type: string
      - in: query
        name: address-state
        description: Select Locations with the specified address.state.
        required: false
        schema:
          type: string
      - in: query
        name: address-postalcode:exact
        description: Select Locations with the specified address-postalcode.
        required: false
        schema:
          type: string
      - in: query
        name: address
        description: Select Locations with the specified address.
        required: false
        schema:
          type: string
      - in: query
        name: _include
        description: 'request that the search results include additional resources ("included resources") related to the resources directly matching the query ("primary results").


          Supported values :

          Location:organization

          Location:partof'
        required: false
        schema:
          type: string
      - in: query
        name: _revinclude
        description: 'request that the search results include additional resources ("included resources") related to the resources directly matching the query ("primary results").


          Supported values :

          OrganizationAffiliation:location

          PractitionerRole:location

          HealthcareService:location

          InsurancePlan:coverage-area'
        required: false
        schema:
          type: string
      - in: query
        name: type
        description: Select Locations of the specified type.
        required: false
        schema:
          type: string
      - in: query
        name: _lastUpdated
        description: Select resources based on the last time they were changed.
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: _page_token
        description: Used to retrieve the next page of results If a search returns more resources than fit on one page, the response includes a pagination URL in the Bundle.
        required: false
        schema:
          type: string
      x-source-file: _v1_providerdirectorydata_Location.yaml
      tags:
      - Providerdirectorydata
  /v1/providerdirectorydata/Organization:
    get:
      summary: Retrieves a Bundle of Organization Resources(Organization and/or Network…
      description: Retrieves a Bundle of Organization Resources(Organization and/or Network profiles) based on the search criteria.
      operationId: get_v1_providerdirectorydata_Organization
      responses:
        '200':
          description: Success. This response returns a Bundle of Organization records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    identifier:
                    - system: http://aetna.com/identifier
                      use: official
                      type:
                        coding:
                        - code: NID
                          system: http://aetna.com/identifier
                          display: Network ID Number
                        text: Aetna Pharmacy Network ID Number
                      value: P1
                    meta:
                      lastUpdated: '2023-02-08T13:51:13.326888+00:00'
                      versionId: MTY3NTg2NDI3MzMyNjg4ODAwMA
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Network
                    name: Broad National with preferred pharmacies
                    active: true
                    language: en
                    id: plannet-network-f0f9ad3d9b83d94f7080386074dffe13
                    type:
                    - coding:
                      - code: ntwk
                        system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/OrgTypeCS
                        display: Network
                      text: A healthcare provider insurance network
                    resourceType: Organization
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectorydata/Organization/plannet-network-f0f9ad3d9b83d94f7080386074dffe13
                - search:
                    mode: match
                  resource:
                    identifier:
                    - system: http://hl7.org/fhir/sid/us-npi
                      use: official
                      type:
                        coding:
                        - code: NPI
                          system: https://terminology.hl7.org/2.1.0/CodeSystem-v2-0203.html
                          display: National Provider Identifier
                      value: '1255334470'
                    - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/OrgTypeCS
                      type:
                        coding:
                        - code: fac
                          system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/OrgTypeCS
                          display: Facility
                        text: Aetna Provider Identification Number
                      value: '0007373707'
                    extension:
                    - extension:
                      - valueCode: active
                        url: status
                      - valueCodeableConcept:
                          coding:
                          - code: PA
                            display: Pennsylvania
                        url: whereValid
                      - valueIdentifier:
                          value: ce4afe9000cfce505277a514ca507527961e32bb2b315f187c5cde5c
                        url: Identifier
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/OrgTypeCS
                    address:
                    - country: US
                      extension:
                      - extension:
                        - valueDecimal: 40.790913
                          url: latitude
                        - valueDecimal: -76.557578
                          url: longitude
                        url: http://hl7.org/fhir/StructureDefinition/geolocation
                      city: Shamokin
                      line:
                      - 27 West Independence Street
                      use: work
                      district: Northumberland
                      postalCode: '17872'
                      state: PA
                      text: 27 West Independence Street, Shamokin, Northumberland, PA, 17872, USA
                      type: physical
                    meta:
                      lastUpdated: '2023-02-08T14:07:21.226750+00:00'
                      versionId: MTY3NTg2NTI0MTIyNjc1MDAwMA
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Organization
                    name: Assist Home Care Inc.
                    active: true
                    language: en
                    telecom:
                    - system: phone
                      use: work
                      rank: 1
                      value: '5706449840'
                    - system: fax
                      use: work
                      rank: 2
                      value: '5706449841'
                    id: plannet-organization-caaa8474bd6dce6cbd06b90cf5431226
                    type:
                    - coding:
                      - code: fac
                        system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/OrgTypeCS
                        display: Facility
                    resourceType: Organization
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectorydata/Organization/plannet-organization-caaa8474bd6dce6cbd06b90cf5431226
                total: 2
                link:
                - url: https://apif1.aetna.com/fhir/v1/providerdirectorydata/Organization/?_count=2
                  relation: search
                - url: https://apif1.aetna.com/fhir/v1/providerdirectorydata/Organization/?_count=2&_page_token=Cjj3YH03h%2F%2F%2F%2F%2F%2BABcBOqI6igAD%2FAf%2F%2BZjUzZjA3NDA5NTI3NWYwMWM2MzdmZDllODllYWNlMWIAARACIRdZYDGqWfwzOQAAAAB4yIKfSAJQAFoLCWeiOXz1pNE4EANg1JPvcw%3D%3D
                  relation: next
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: value
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_PARAM_INVALID
                      display: 'error parsing date "2021 - 15 - 29" : invalid dateTime: "2021 - 15 - 29" '
                    text: Missing or invalid inputs
                language: en-US
                resourceType: OperationOutcome
        '401':
          description: The request is unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Looks like you are not authorized to use this API. Please validate your API Key.
                    text: You must authenticate before you can use this service
                language: en-US
                resourceType: OperationOutcome
        '403':
          description: The requested resource is forbidden for some reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Forbidden
                    text: Access Denied
                language: en-US
                resourceType: OperationOutcome
        '404':
          description: The specified System Identifier doesn’t identify an existing resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: no-store
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_NO_MATCH
                      display: 'resource not found: List/yy'
                    text: No Resource found matching the query
                language: en-US
                resourceType: OperationOutcome
        '405':
          description: The specified Method is not allowed in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_RESOURCE_NOT_ALLOWED
                      display: Method Not Allowed
                    text: Not allowed to submit a resource for this operation
                language: en-US
                resourceType: OperationOutcome
        '429':
          description: Detected excessive traffic coming from this IP. Please reach out if you think this is incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_UNKNOWN_TYPE
                      display: We have detected excessive traffic coming from this IP.
                    text: Too Many Request
                language: en-US
                resourceType: OperationOutcome
        '500':
          description: An unexpected internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_SVC_FAILURE
                      display: An Unexpected error occurred while fulfilling this request. Our engineers have been notified. Please try again in some time.
                    text: Error occurred while processing response
                language: en-US
                resourceType: OperationOutcome
      parameters:
      - in: query
        name: _count
        description: The maximum number of search results on a page. The server is not bound to return the number requested, but cannot return more.
        required: false
        schema:
          type: number
      - in: query
        name: _id
        description: Logical id of this artifact
        required: false
        schema:
          type: string
      - in: query
        name: partof
        description: Select Organizations that are part of the specified organization. Aetna is the only possible value for Network profile records.
        required: false
        schema:
          type: string
      - in: query
        name: address
        description: Select Organizations with the specified address (matches any of the string elements of an address). Does not return Network profile records.
        required: false
        schema:
          type: string
      - in: query
        name: name
        description: 'Select Organizations with the specified name.


          This also selects Networks Profile records with the specified name as these are also Organization Resources.'
        required: false
        schema:
          type: string
      - in: query
        name: _include
        description: 'request that the search results include additional resources ("included resources") related to the resources directly matching the query ("primary results").


          Supported values :

          Organization:partof'
        required: false
        schema:
          type: string
      - in: query
        name: _revinclude
        description: 'request that the search results include additional resources ("included resources") related to the resources directly matching the query ("primary results").


          Supported values :

          HealthcareService:organization

          OrganizationAffiliation:primary-organization

          PractitionerRole:organization

          OrganizationAffiliation:participating-organization

          InsurancePlan:administered-by

          InsurancePlan:owned-by

          PractitionerRole:network'
        required: false
        schema:
          type: string
      - in: query
        name: type
        description: Select Organizations of the specified type.
        required: false
        schema:
          type: string
      - in: query
        name: _lastUpdated
        description: Select resources based on the last time they were changed.
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: _profile
        description: 'Select resources that conform to the specified profile.


          Values Supported :

          Organization profile: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Organization

          Network profile: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Network'
        required: false
        schema:
          type: string
      - in: query
        name: _page_token
        description: Used to retrieve the next page of results If a search returns more resources than fit on one page, the response includes a pagination URL in the Bundle.
        required: false
        schema:
          type: string
      x-source-file: _v1_providerdirectorydata_Organization.yaml
      tags:
      - Providerdirectorydata
  /v1/providerdirectorydata/Organization/{id}:
    get:
      summary: Retrieves an Organization Resources(Organization or Network profile) based on…
      description: Retrieves an Organization Resources(Organization or Network profile) based on the FHIR logical ID.
      operationId: get_v1_providerdirectorydata_Organization_id
      responses:
        '200':
          description: Success. This response returns an Organization record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              example:
                identifier:
                - system: http://aetna.com/identifier
                  use: official
                  type:
                    coding:
                    - code: NID
                      system: http://aetna.com/identifier
                      display: Network ID Number
                    text: Aetna Pharmacy Network ID Number
                  value: P1
                meta:
                  lastUpdated: '2023-02-08T13:51:13.326888+00:00'
                  versionId: MTY3NTg2NDI3MzMyNjg4ODAwMA
                  profile:
                  - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Network
                name: Broad National with preferred pharmacies
                active: true
                language: en
                id: plannet-network-f0f9ad3d9b83d94f7080386074dffe13
                type:
                - coding:
                  - code: ntwk
                    system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/OrgTypeCS
                    display: Network
                  text: A healthcare provider insurance network
                resourceType: Organization
        '400':
          description: A required parameter isn’t provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: value
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_PARAM_INVALID
                      display: 'error parsing date "2021 - 15 - 29" : invalid dateTime: "2021 - 15 - 29" '
                    text: Missing or invalid inputs
                language: en-US
                resourceType: OperationOutcome
        '401':
          description: The request is unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Looks like you are not authorized to use this API. Please validate your API Key.
                    text: You must authenticate before you can use this service
                language: en-US
                resourceType: OperationOutcome
        '403':
          description: The requested resource is forbidden for some reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Forbidden
                    text: Access Denied
                language: en-US
                resourceType: OperationOutcome
        '404':
          description: The specified System Identifier doesn’t identify an existing resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: no-store
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_NO_MATCH
                      display: 'resource not found: List/yy'
                    text: No Resource found matching the query
                language: en-US
                resourceType: OperationOutcome
        '405':
          description: The specified Method is not allowed in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_RESOURCE_NOT_ALLOWED
                      display: Method Not Allowed
                    text: Not allowed to submit a resource for this operation
                language: en-US
                resourceType: OperationOutcome
        '429':
          description: Detected excessive traffic coming from this IP. Please reach out if you think this is incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_UNKNOWN_TYPE
                      display: We have detected excessive traffic coming from this IP.
                    text: Too Many Request
                language: en-US
                resourceType: OperationOutcome
        '500':
          description: An unexpected internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_SVC_FAILURE
                      display: An Unexpected error occurred while fulfilling this request. Our engineers have been notified. Please try again in some time.
                    text: Error occurred while processing response
                language: en-US
                resourceType: OperationOutcome
      parameters:
      - in: header
        name: x-clientrefid
        description: optional UUID to track the transaction.
        required: false
        schema:
          type: string
      - in: path
        name: id
        description: The logical id of the resource.
        required: true
        schema:
          type: string
      x-source-file: _v1_providerdirectorydata_Organization.yaml
      tags:
      - Providerdirectorydata
  /v1/providerdirectorydata/OrganizationAffiliation:
    get:
      summary: Retrieves all OrganizationAffiliations based on the search criteria
      operationId: get_v1_providerdirectorydata_OrganizationAffiliation
      responses:
        '200':
          description: Success. This response returns a Bundle of OrganizationAffiliation records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    identifier:
                    - use: official
                    extension:
                    - extension:
                      - valueCode: active
                        url: status
                      - valueCodeableConcept:
                          coding:
                          - code: IL
                            display: Illinois
                        url: whereValid
                      - valueCode: 54019391
                        url: identifier
                      - valueCode: 3336C0003X
                        url: code
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/qualification
                    specialty:
                    - coding:
                      - code: 3336C0003X
                        system: http://nucc.org/provider-taxonomy
                        display: Community/Retail Pharmacy
                    code:
                    - coding:
                      - code: pharmacy
                        system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/OrganizationAffiliationRoleCS
                        display: Pharmacy
                    active: true
                    network:
                    - reference: Organization/plannet-network-f0f9ad3daa83d94f7080386074e010c3
                      display: (Custom Program)– Broad National with preferred pharmacies ADD Stop and Shop and Price Chopper
                    - reference: Organization/plannet-network-f0f9ad3daa83d94f7080386074e010c7
                      display: (Custom Program)– Broad National with preferred pharmacies ADD RiteAid as preferred
                    - reference: Organization/plannet-network-f0f9ad3d9b83d94f7080386074dffe13
                      display: Broad National with preferred pharmacies
                    - reference: Organization/plannet-network-f0f9ad3d9a83d94f7080386074dffcd5
                      display: Broad National pharmacies
                    healthcareService:
                    - reference: HealthcareService/plannet-healthcareservice-6141de78848baa5738bc7ecd55939c7c
                      display: FIRST FAMILY PHARMACY PLUS
                    meta:
                      lastUpdated: '2023-02-08T14:06:29.019475+00:00'
                      versionId: MTY3NTg2NTE4OTAxOTQ3NTAwMA
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-OrganizationAffiliation
                    participatingOrganization:
                      reference: Organization/plannet-organization-6141de78848baa5738bc7ecd55939c7c
                      display: FIRST FAMILY PHARMACY PLUS
                    location:
                    - reference: Location/plannet-location-6141de78848baa5738bc7ecd55939c7c
                      display: 2140 W DEVON AVE, CHICAGO, Illinois, 60659, USA
                    telecom:
                    - system: phone
                      use: work
                      value: (773) 338-7000
                    - system: fax
                      use: work
                      value: '7733387111'
                    - system: email
                      use: work
                      value: FAMILYPHARMACY667@GMAIL.COM
                    id: plannet-organizationaffiliation-9c339ff5776dd2e652d482fab35090e6
                    resourceType: OrganizationAffiliation
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectorydata/OrganizationAffiliation/plannet-organizationaffiliation-9c339ff5776dd2e652d482fab35090e6
                total: 1
                link:
                - url: https://apif1.aetna.com/fhir/v1/providerdirectorydata/OrganizationAffiliation/?_count=1
                  relation: search
                - url: https://apif1.aetna.com/fhir/v1/providerdirectorydata/OrganizationAffiliation/?_count=1&_page_token=Cjj3YIkZBf%2F%2F%2F%2F%2BABcED8gvxnQD%2FAf%2F%2BZmM2NzYxYzI3ZmVmYjE1NDM5ZWJiMTBjOWZmNGE1ZTYAARABIRdZYDGqWfwzOQAAAAD65nafSAFQAFoLCXUfe0nnpZ5iEANg8IyVnAU%3D
                  relation: next
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: value
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_PARAM_INVALID
                      display: 'error parsing date "2021 - 15 - 29" : invalid dateTime: "2021 - 15 - 29" '
                    text: Missing or invalid inputs
                language: en-US
                resourceType: OperationOutcome
        '401':
          description: The request is unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Looks like you are not authorized to use this API. Please validate your API Key.
                    text: You must authenticate before you can use this service
                language: en-US
                resourceType: OperationOutcome
        '403':
          description: The requested resource is forbidden for some reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_ACCESS_DENIED
                      display: Forbidden
                    text: Access Denied
                language: en-US
                resourceType: OperationOutcome
        '404':
          description: The specified System Identifier doesn’t identify an existing resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: no-store
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_NO_MATCH
                      display: 'resource not found: List/yy'
                    text: No Resource found matching the query
                language: en-US
                resourceType: OperationOutcome
        '405':
          description: The specified Method is not allowed in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_RESOURCE_NOT_ALLOWED
                      display: Method Not Allowed
                    text: Not allowed to submit a resource for this operation
                language: en-US
                resourceType: OperationOutcome
        '429':
          description: Detected excessive traffic coming from this IP. Please reach out if you think this is incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_UNKNOWN_TYPE
                      display: We have detected excessive traffic coming from this IP.
                    text: Too Many Request
                language: en-US
                resourceType: OperationOutcome
        '500':
          description: An unexpected internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: transient
                  details:
                    coding:
                    - system: http://hl7.org/fhir/R4/valueset-operation-outcome.html
                      code: MSG_SVC_FAILURE
                      display: An Unexpected error occurred while fulfilling this request. Our engineers have been notified. Please try again in some time.
                    text: Error occurred while processing response
                language: en-US
                resourceType: OperationOutcome
      parameters:
      - in: query
        name: _count
        description: The maximum number of search results on a page. The server is not bound to return the number requested, but cannot return more.
        required: false
        schema:
          type: number
      - in: query
        name: _id
        description: Logical id of this artifact
        required: false
        schema:
          type: string
      - in: query
        name: primary-organization
        description: Select roles offered by the specified organization
        required: false
        schema:
          type: string
      - in: query
        name: participating-organization
        description: Select roles offered by the specified organization
        required: false
        schema:
          type: string
      - in: query
        name: location
        description: Select OrganizationAffiliations available at the specified location.
        required: false
        schema:
          type: string
      - in: query
        name: specialty
        description: Select OrganizationAffiliations associated with the specified specialty.
        required: false
        schema:
          type: string
      - in: query
        name: _include
        description: 'request that the search results include additional resources ("included resources") related to the resources directly matching the query ("primary results").


          Supported values :

          OrganizationAffiliation:primary-organization

          OrganizationAffiliation:participating-organization

          OrganizationAffiliation:location

          OrganizationAffiliation:service

          OrganizationAffiliation:network'
        required: false
        schema:
          type: string
      - in: query
        name: network
        description: Select roles where the organization is a member of the specified health insurance provider network.
        required: false
        schema:
          type: string
      - in: query
        name: _lastUpdated
        description: Select resources based on the last time they were changed.
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: service
[...]
