openapi: 3.2.0
info:
  title: Aetna Providerdirectory Provider Directory API
  version: 1.0.0
  description: 'Retrieve Insurance Plan resource based on Coverage Area (Coverage area is a 2-digit state abbreviation).

    Both Provider and Pharmacy data are available on this resource.'
  contact:
    name: Aetna Interoperability Developer Support
    email: InteroperabilityDeveloperSupport@aetna.com
    url: https://developerportal.aetna.com/
  x-assembled-by: API Evangelist enrichment pipeline
  x-assembly-note: 'Assembled from 16 single-operation Swagger 2.0 documents that Aetna publishes itself at https://developerportal.aetna.com/managedcontent/yaml/<file>, listed in the portal''s own API catalog at https://developerportal.aetna.com/assets/Data/Fhir.json. Every path, parameter, description, schema, example and security definition below is Aetna''s verbatim content; the union, the Swagger 2.0 -> OpenAPI 3.0.3 structural conversion, and the operationIds are ours (Aetna sets every operationId to the literal string "GET", which is not unique across a merged document). The unmodified sources are archived in openapi/_original/. NOTE ON MERGE FIDELITY: where two source documents define a schema of the same name with different content (FHIR profile variants), the first definition encountered wins and that divergence is not represented here; the per-operation source of truth is always the archived original named in each operation''s x-source-file.'
servers:
- url: https://apif1.aetna.com/fhir
- url: https://qapif1.aetna.com/fhir
tags:
- name: Provider Directory
paths:
  /v1/providerdirectory/InsurancePlan:
    get:
      summary: Retrieve InsurancePlan resource based on Coverage Area (Coverage area is a…
      description: Returns insurance plans and network keys for a specific state
      operationId: get_v1_providerdirectory_InsurancePlan
      responses:
        '200':
          description: This response returns a Bundle of InsurancePlan(s) information based on the input received.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    identifier:
                    - system: http://terminology.hl7.org/CodeSystem/v2-0203
                      use: official
                      assigner:
                        display: Aetna Better Health of New Jersey
                      type:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/v2-0203
                          code: XV
                          display: Health Plan Identifier
                      value: Aetna Better Health of New Jersey - NJ
                    period:
                      start: '2020-01-01T00:00:00Z'
                      end: '2020-12-31T23:59:59Z'
                    language: en
                    type:
                    - coding:
                      - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/InsuranceProductTypeCS
                        code: medihmo
                        display: Medicaid HMO
                    administeredBy:
                      display: Aetna Better Health of New Jersey
                    network:
                    - reference: Organization/0000000000000212937
                      display: Aetna Better Health of New Jersey
                    - reference: Organization/0000000000000212938
                      display: Aetna Assure Premier Plus (HMO D-SNP)
                    - reference: Organization/0000000000000212939
                      display: Aetna Assure Premier Plus (HMO D-SNP)
                    meta:
                      lastUpdated: '2020-10-23T00:00:00.000+00:00'
                      versionId: 4.0.1
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-InsurancePlan
                    contact:
                    - address:
                        city: Princeton
                        line:
                        - 3 Independence Way
                        - Suite 400
                        postalCode: 08540-6626
                        state: NJ
                      name:
                        use: official
                        text: ABH New Jersey
                      telecom:
                      - system: phone
                        use: work
                        value: 1-855-232-3596
                    name: Aetna Better Health of New Jersey
                    id: 0000000000000212936
                    ownedBy:
                      display: Aetna Better Health of New Jersey
                    resourceType: InsurancePlan
                    status: active
                    coverageArea:
                    - display: NJ
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectory/InsurancePlan/0000000000000212936
                total: 1
                link:
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/InsurancePlan?address-state=nj&page=1
                  relation: self
                id: 32ed03f463dd540f05fbb9f1
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
      schemes:
      - https
      parameters:
      - in: query
        name: address-state
        description: 'The state code of the InsurancePlan''s coverage



          State will be 2 letter abbreviation.'
        required: true
        schema:
          type: string
      x-source-file: _v1_providerdirectory_InsurancePlan.yaml
      tags:
      - Provider Directory
  /v1/providerdirectory/Location:
    get:
      summary: Search all resources of type Location based on postalCode or (State and City)
      operationId: get_v1_providerdirectory_Location
      responses:
        '200':
          description: This response returns a Bundle of Location records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    extension:
                    - extension:
                      - valueCodeableConcept:
                          coding:
                          - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/AcceptingPatientsCS
                            code: newpt
                            display: Accepting
                          text: Accepting patients
                        url: acceptingPatients
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/newpatients
                    address:
                      country: US
                      city: Bradley Beach
                      use: work
                      line:
                      - 13 Main St Ste 1
                      district: MONMOUTH
                      postalCode: '07720'
                      text: 13 Main St Ste 1, Bradley Beach, NJ 07720
                      state: NJ
                      type: physical
                    meta:
                      lastUpdated: '2020-11-19T05:00:54.485+00:00'
                      versionId: 4.0.1
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Location
                    name: Ryan, Amy, MSW
                    language: en
                    telecom:
                    - extension:
                      - extension:
                        - valueCode: mon
                          url: daysOfWeek
                        - valueCode: wed
                          url: daysOfWeek
                        - valueTime: '10:00:00'
                          url: availableStartTime
                        - valueTime: '15:00:00'
                          url: availableEndTime
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                      system: phone
                      use: work
                      value: (732) 795-0918
                    hoursOfOperation:
                    - closingTime: '15:00:00'
                      openingTime: '10:00:00'
                      daysOfWeek:
                      - mon
                      - wed
                    id: 0000000000001971501
                    type:
                    - coding:
                      - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                        code: WORK
                        display: work site
                    resourceType: Location
                    status: active
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectory/Location/0000000000001971501
                - search:
                    mode: match
                  resource:
                    extension:
                    - valueCodeableConcept:
                        coding:
                        - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/AccessibilityCS
                          code: cultcomp
                          display: Cultural competence
                        - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/AccessibilityCS
                          code: handiaccess
                          display: handicap accessible
                        text: Offers a variety of accessibility services
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/accessibility
                    address:
                      country: USA
                      city: BRADLEY BEACH
                      use: work
                      line:
                      - 128 MAIN ST
                      district: MONMOUTH COUNTY
                      postalCode: '07720'
                      text: 128 MAIN ST, BRADLEY BEACH, NJ 07720
                      state: NJ
                      type: physical
                    meta:
                      lastUpdated: '2020-11-19T05:00:54.485+00:00'
                      versionId: 4.0.1
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Location
                    name: BRADLEY BEACH PHARMACY
                    language: en
                    telecom:
                    - extension:
                      - extension:
                        - valueCode: sun
                          url: daysOfWeek
                        - valueTime: 09:00:00
                          url: availableStartTime
                        - valueTime: '14:00:00'
                          url: availableEndTime
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                      - extension:
                        - valueCode: mon
                          url: daysOfWeek
                        - valueCode: tue
                          url: daysOfWeek
                        - valueCode: wed
                          url: daysOfWeek
                        - valueCode: thu
                          url: daysOfWeek
                        - valueCode: fri
                          url: daysOfWeek
                        - valueCode: sat
                          url: daysOfWeek
                        - valueTime: 09:00:00
                          url: availableStartTime
                        - valueTime: '19:00:00'
                          url: availableEndTime
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                      system: phone
                      use: work
                      value: 732-774-7174
                    hoursOfOperation:
                    - closingTime: '14:00:00'
                      openingTime: 09:00:00
                      daysOfWeek:
                      - sun
                    - closingTime: '19:00:00'
                      openingTime: 09:00:00
                      daysOfWeek:
                      - mon
                      - tue
                      - wed
                      - thu
                      - fri
                      - sat
                    id: 0000000000001830496
                    position:
                      latitude: 40.199858
                      longitude: -74.018929
                    type:
                    - coding:
                      - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                        code: PHARM
                        display: Pharmacy
                    resourceType: Location
                    status: active
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectory/Location/0000000000001830496
                total: 67
                link:
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/Location?address-city:exact=phoenix&address-state:exact=az&_count=2&page=1&address-postalcode:exact=07720&page=1
                  relation: self
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/Location?address-city:exact=phoenix&address-state:exact=az&_count=2&page=1&address-postalcode:exact=07720&page=1
                  relation: first
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/Location?address-city:exact=phoenix&address-state:exact=az&_count=2&page=1&address-postalcode:exact=07720&page=2
                  relation: next
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/Location?address-city:exact=phoenix&address-state:exact=az&_count=2&page=1&address-postalcode:exact=07720&page=34
                  relation: last
                id: 295e2008-a3f4-11ed-abb4-9d7971040000
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn't provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
      parameters:
      - in: query
        name: address-city:exact
        description: Select Locations with the specified city
        required: false
        schema:
          type: string
      - in: query
        name: address-state:exact
        description: Select Locations with the specified state
        required: false
        schema:
          type: string
      - in: query
        name: address-postalcode:exact
        description: Select Locations with the specified postal code
        required: false
        schema:
          type: string
      - in: query
        name: _count
        description: _count parameter is used to define the maximum number of search results to show on a page
        required: false
        schema:
          type: number
          format: float
      - in: query
        name: page
        description: 'Used for pagination: potential values to navigate to a specific page. “self”–page=10  “first”–page=1  “last”–page=65  “previous”–page=9 “next”–page=11'
        required: false
        schema:
          type: number
          format: float
      x-source-file: _v1_providerdirectory_Location.yaml
      tags:
      - Provider Directory
  /v1/providerdirectory/Location/{id}:
    get:
      summary: Retrieves a Location Resource based on the Unique Logical ID
      operationId: get_v1_providerdirectory_Location_id
      responses:
        '200':
          description: This response returns a Location resource based on the unique logical ID passed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
              example:
                search:
                  mode: match
                resource:
                  extension:
                  - valueCodeableConcept:
                      coding:
                      - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/accessibility
                        code: handiaccess
                        display: handicap accessible
                      text: Offers a variety of services and programs for persons with disabilities
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/accessibility
                  - extension:
                    - valueBoolean: false
                      url: acceptingPatients
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/newpatients
                  - valueString: This location accepts all types of patients
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/newpatientprofile
                  specialty:
                  - coding:
                    - code: 332B00000X
                      display: Durable Medical Equipment & Medical Supplies
                    text: Durable Medical Equipment & Medical Supplies
                  code:
                  - coding:
                    - system: http://hl7.org/fhir/organization-role
                      display: Healthcare Provider
                    text: Healthcare Provider
                  address:
                    country: USA
                    city: WESTERLY
                    use: work
                    line:
                    - 101 AIRPORT RD
                    postalCode: 028913432
                    text: 101 AIRPORT RD, WESTERLY, RI 028913432
                    state: RI
                    type: both
                  language: en
                  hoursOfOperation:
                  - allDay: true
                    daysOfWeek:
                    - mon
                    - tue
                    - wed
                    - thu
                    - fri
                    - sat
                    - sun
                  type:
                  - coding:
                    - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                      code: HOSP
                      userSelected: true
                      display: Hospital
                  meta:
                    lastUpdated: '2020-07-28T05:00:54.485+00:00'
                    versionId: 4.0.1
                    profile:
                    - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Location
                  name: Poole'S Pharmacy Care
                  telecom:
                  - extension:
                    - extension:
                      - valueBoolean: true
                        url: allDay
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                    system: phone
                    use: work
                    value: 743.125.4429 x2376
                  - extension:
                    - extension:
                      - valueBoolean: true
                        url: allDay
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                    system: fax
                    use: work
                    value: 779-475-4330 x580
                  id: '0000000000000013710'
                  position:
                    latitude: 41.349716
                    longitude: -71.81142
                  resourceType: Location
                  status: active
                fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectory/Location/0000000000000013710
        '400':
          description: A required parameter isn't provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn't identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: not-found
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_NO_MATCH
                      display: No Resource found
                id: 687401f85fd3fefb43182c22
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
      parameters:
      - in: path
        name: id
        description: The logical id of the resource
        required: true
        schema:
          type: string
      x-source-file: _v1_providerdirectory_Location_id.yaml
      tags:
      - Provider Directory
  /v1/providerdirectory/Organization:
    get:
      summary: Retrieves Organization resources based on search criteria(name, location)
      description: This operation retrieves Organization resources based on search criteria(name, location)
      operationId: get_v1_providerdirectory_Organization
      responses:
        '200':
          description: The request has succeeded. The response returns a Bundle of Organization resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    identifier:
                    - system: http://hl7.org/fhir/sid/us-npi
                      use: official
                      type:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/v2-0203
                          code: NPI
                          display: National provider identifier
                        text: NPI
                      value: '1255525895'
                    partOf:
                      reference: Organization/0000000000000016411
                      display: LOUDON MEDICAL GROUP
                    address:
                    - country: US
                      city: Sterling
                      use: work
                      line:
                      - 46440 Benedict Dr Ste 107
                      district: LOUDOUN
                      postalCode: '20164'
                      text: 46440 Benedict Dr, Ste 107, Sterling, VA 20164
                      state: VA
                      type: physical
                    meta:
                      lastUpdated: '2020-07-28T05:00:54.485+00:00'
                      versionId: 4.0.1
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Organization
                    name: LOUDOUN MEDICAL GROUP P.C.
                    active: true
                    language: en
                    telecom:
                    - extension:
                      - extension:
                        - valueCode: mon
                          url: daysOfWeek
                        - valueCode: tue
                          url: daysOfWeek
                        - valueCode: wed
                          url: daysOfWeek
                        - valueCode: thu
                          url: daysOfWeek
                        - valueCode: fri
                          url: daysOfWeek
                        - valueTime: 08:00:00
                          url: availableStartTime
                        - valueTime: '20:00:00'
                          url: availableEndTime
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                      - valueReference:
                          display: 46440 Benedict Dr, Ste 107, Sterling, VA 20164
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary
                      system: phone
                      use: work
                      value: (703) 450-1125
                    id: '0000000000000140213'
                    type:
                    - coding:
                      - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/OrgTypeCS
                        code: prvgrp
                        display: Provider Group
                      text: Provider Group
                    resourceType: Organization
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectory/Organization/0000000000000140213
                - search:
                    mode: match
                  resource:
                    identifier:
                    - system: http://hl7.org/fhir/sid/us-npi
                      use: official
                      type:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/v2-0203
                          code: NPI
                          display: National provider identifier
                        text: NPI
                      value: '1376677989'
                    address:
                    - country: US
                      city: Sterling
                      use: work
                      line:
                      - 46440 Benedict Dr Ste 107
                      district: LOUDOUN
                      postalCode: '20164'
                      text: 46440 Benedict Dr, Ste 107, Sterling, VA 20164
                      state: VA
                      type: physical
                    meta:
                      lastUpdated: '2020-07-28T05:00:54.485+00:00'
                      versionId: 4.0.1
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Organization
                    name: LOUDOUN MEDICAL GROUP P.C.
                    active: true
                    language: en
                    telecom:
                    - extension:
                      - extension:
                        - valueCode: mon
                          url: daysOfWeek
                        - valueCode: tue
                          url: daysOfWeek
                        - valueCode: wed
                          url: daysOfWeek
                        - valueCode: thu
                          url: daysOfWeek
                        - valueCode: fri
                          url: daysOfWeek
                        - valueTime: 08:00:00
                          url: availableStartTime
                        - valueTime: '20:00:00'
                          url: availableEndTime
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                      - extension:
                        - valueCode: sat
                          url: daysOfWeek
                        - valueCode: sun
                          url: daysOfWeek
                        - valueTime: 09:00:00
                          url: availableStartTime
                        - valueTime: '17:00:00'
                          url: availableEndTime
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                      - valueReference:
                          display: 46440 Benedict Dr, Ste 107, Sterling, VA 20164
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary
                      system: phone
                      use: work
                      value: (703) 450-1125
                    id: '0000000000000016405'
                    type:
                    - coding:
                      - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/OrgTypeCS
                        code: prvgrp
                        display: Provider Group
                      text: Provider Group
                    resourceType: Organization
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectory/Organization/0000000000000016405
                total: 2
                link:
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/Organization?name:contains=LOUDOUN%20MEDICAL%20GROUP%20P.C.&address-postalcode:exact=20164&page=1
                  relation: self
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/Organization?name:contains=LOUDOUN%20MEDICAL%20GROUP%20P.C.&address-postalcode:exact=20164&page=1
                  relation: first
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/Organization?name:contains=LOUDOUN%20MEDICAL%20GROUP%20P.C.&address-postalcode:exact=20164&page=1
                  relation: last
                id: 35660ea4-a7d4-11ed-b57d-9d7918350000
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
      parameters:
      - in: query
        name: name:contains
        description: Select Organizations with the specified name (matches 2 or more characters within the Name data type).
        required: true
        schema:
          type: string
      - in: query
        name: address-city:exact
        description: 'Select Organizations with the specified address-city.


          Name of city, town etc of the Organization'
        required: false
        schema:
          type: string
      - in: query
        name: address-state:exact
        description: 'Select Organizations with the specified address-state.


          Sub-unit of country of the Organization.

          State will be 2 letter abbreviation.'
        required: false
        schema:
          type: string
      - in: query
        name: address-postalcode:exact
        description: 'Select Organizations with the specified address-postalcode.


          US Zip code of the Organization.


          Postal code will be priority over City +State.


          Postal code will be 5 valid 5 digit numeric.'
        required: false
        schema:
          type: string
      - in: query
        name: _count
        description: _count parameter is used to define the maximum number of search results to show on a page
        required: false
        schema:
          type: number
      - in: query
        name: page
        description: 'Used for pagination: potential values to navigate to a specific page.“self”–page=10 “first”–page=1 “last”–page=65 “previous”–page=9 “next”–page=11'
        required: false
        schema:
          type: number
      x-source-file: _v1_providerdirectory_Organization.yaml
      tags:
      - Provider Directory
  /v1/providerdirectory/OrganizationAffiliation:
    get:
      summary: 'Retrieves the OrganizationAffiliation resource based on : Specialty + Location'
      description: This operation retrieves the OrganizationAffiliation resource based on :Specialty + Location. Specialty search parameter will be the NUCC taxonomy code of the specialty. Both Provider and Pharmacy data are available on this resource.
      operationId: get_v1_providerdirectory_OrganizationAffiliation
      responses:
        '200':
          description: This response returns a Bundle of OrganizationAffiliaton records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    identifier:
                    - use: official
                    specialty:
                    - coding:
                      - system: http://nucc.org/provider-taxonomy
                        code: 251E00000X
                        display: Other
                      text: Specialty
                    period:
                      start: '2020-01-01'
                      end: '2020-12-31'
                    code:
                    - coding:
                      - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/OrganizationAffiliationRoleCS
                        code: home
                        display: Home Health Provider
                      text: Home Health Provider
                    meta:
                      lastUpdated: '2020-07-28T05:00:54.485+00:00'
                      versionId: 4.0.1
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-OrganizationAffiliation
                    active: true
                    participatingOrganization:
                      reference: Organization/0000000000001719695
                      display: Coram Specialty Infusion Services
                    language: en
                    location:
                    - reference: Location/0000000000001719712
                      display: 4310 E Cotton Center Blvd Ste 110, Phoenix, AZ 85040
                    id: 0000000000001719678
                    resourceType: OrganizationAffiliation
                    network:
                    - display: Aetna Better Health of West Virginia
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectory/OrganizationAffiliation/0000000000001719678
                total: 1
                link:
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/OrganizationAffiliation?specialty=251E00000X&location.address-city:exact=Phoenix&location.address-state:exact=az&_count=9&page=1
                  relation: self
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/OrganizationAffiliation?specialty=251E00000X&location.address-city:exact=Phoenix&location.address-state:exact=az&_count=9&page=1
                  relation: first
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/OrganizationAffiliation?specialty=251E00000X&location.address-city:exact=Phoenix&location.address-state:exact=az&_count=9&page=1
                  relation: next
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/OrganizationAffiliation?specialty=251E00000X&location.address-city:exact=Phoenix&location.address-state:exact=az&_count=9&page=1
                  relation: last
                id: 8daec58a-a3f4-11ed-9960-9d7971050000
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
      parameters:
      - in: query
        name: specialty
        description: 'Select OrganizationAffiliations providing the specified service.


          Select Organizations or Pharmacies associated with the specified specialty.

          Note:Specialty must be in Taxonomy format.'
        required: true
        schema:
          type: string
      - in: query
        name: location.address-state:exact
        description: 'Select OrganizationAffiliations with an address in the specified state.


          State of the Organizations or Pharmacies.


          State will be 2 letter abbreviation.'
        required: false
        schema:
          type: string
      - in: query
        name: location.address-city:exact
        description: 'Select OrganizationAffiliations with an address in the specified city.


          Name of city, town etc of the Organizations or Pharmacies.'
        required: false
        schema:
          type: string
      - in: query
        name: location.address-postalcode:exact
        description: 'Select OrganizationAffiliations with an address in the specified postal code


          US Zip code of the Organizations or Pharmacies.


          Postal code will be priority over City +State.


          Postal code will be 5 valid 5 digit numeric.'
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: 'Used for pagination: potential values to navigate to a specific page. “self”–page=10  “first”–page=1  “last”–page=65  “previous”–page=9 “next”–page=11'
        required: false
        schema:
          type: number
      - in: query
        name: _count
        description: _count parameter is used to define the maximum number of search results to show on a page
        required: false
        schema:
          type: number
      x-source-file: _v1_providerdirectory_OrganizationAffiliation.yaml
      tags:
      - Provider Directory
  /v1/providerdirectory/Organization/{id}:
    get:
      summary: Retrieves details of a Plannet Organization Resource based on a logical id
      description: Retrieves details of a Plannet Organization Resource based on a logical id.
      operationId: get_v1_providerdirectory_Organization_id
      responses:
        '200':
          description: This returns a valid Organization record based on the id passed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              example:
                identifier:
                - system: http://hl7.org/fhir/sid/us-npi
                  use: official
                  type:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/v2-0203
                      code: NPI
                      display: National provider identifier
                    text: NPI
                  value: '1255525895'
                partOf:
                  reference: Organization/0000000000000016411
                  display: LOUDON MEDICAL GROUP
                address:
                - country: US
                  city: Lovettsville
                  use: work
                  line:
                  - 3 E Broad Way
                  district: LOUDOUN
                  postalCode: '20180'
                  text: 3 E Broad Way, Lovettsville, VA 20180
                  state: VA
                  type: physical
                - country: US
                  city: Lovettsville
                  use: work
                  line:
                  - 20 Town Sq Unit 180
                  district: LOUDOUN
                  postalCode: '20180'
                  text: 20 Town Sq, Unit 180, Lovettsville, VA 20180
                  state: VA
                  type: physical
                - country: US
                  city: Sterling
                  use: work
                  line:
                  - 2 Pidgeon Hill Dr Ste 400
                  district: LOUDOUN
                  postalCode: '20165'
                  text: 2 Pidgeon Hill Dr, Ste 400, Sterling, VA 20165
                  state: VA
                  type: physical
                meta:
                  lastUpdated: '2020-07-28T05:00:54.485+00:00'
                  versionId: 4.0.1
                  profile:
                  - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Organization
                name: LOUDOUN MEDICAL GROUP P.C.
                active: true
                language: en
                telecom:
                - extension:
                  - extension:
                    - valueCode: mon
                      url: daysOfWeek
                    - valueCode: tue
                      url: daysOfWeek
                    - valueCode: wed
                      url: daysOfWeek
                    - valueCode: thu
                      url: daysOfWeek
                    - valueCode: fri
                      url: daysOfWeek
                    - valueTime: 08:30:00
                      url: availableStartTime
                    - valueTime: '17:00:00'
                      url: availableEndTime
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                  - valueReference:
                      display: 3 E Broad Way, Lovettsville, VA 20180
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary
                  system: phone
                  use: work
                  value: (540) 338-9896
                - extension:
                  - extension:
                    - valueCode: mon
                      url: daysOfWeek
                    - valueCode: tue
                      url: daysOfWeek
                    - valueCode: wed
                      url: daysOfWeek
                    - valueCode: thu
                      url: daysOfWeek
                    - valueCode: fri
                      url: daysOfWeek
                    - valueTime: 08:30:00
                      url: availableStartTime
                    - valueTime: '17:00:00'
                      url: availableEndTime
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                  - valueReference:
                      display: 20 Town Sq, Unit 180, Lovettsville, VA 20180
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary
                  system: phone
                  use: work
                  value: (540) 579-0500
                - extension:
                  - extension:
                    - valueCode: mon
                      url: daysOfWeek
                    - valueCode: tue
                      url: daysOfWeek
                    - valueCode: wed
                      url: daysOfWeek
                    - valueTime: 08:00:00
                      url: availableStartTime
                    - valueTime: '17:00:00'
                      url: availableEndTime
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                  - extension:
                    - valueCode: thu
                      url: daysOfWeek
                    - valueTime: 08:00:00
                      url: availableStartTime
                    - valueTime: '20:00:00'
                      url: availableEndTime
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                  - extension:
                    - valueCode: fri
                      url: daysOfWeek
                    - valueTime: 08:00:00
                      url: availableStartTime
                    - valueTime: '12:00:00'
                      url: availableEndTime
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                  - valueReference:
                      display: 2 Pidgeon Hill Dr, Ste 400, Sterling, VA 20165
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary
                  system: phone
                  use: work
                  value: (703) 726-1300
                id: '0000000000000140213'
                type:
                - coding:
                  - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/OrgTypeCS
                    code: prvgrp
                    display: Provider Group
                  text: Provider Group
                resourceType: Organization
        '203':
          description: This response, which is a valid Organization record based on the id passed, may be incomplete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              example:
                identifier:
                - system: http://hl7.org/fhir/sid/us-npi
                  use: official
                  type:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/v2-0203
                      code: NPI
                      display: National provider identifier
                    text: NPI
                  value: '1255525895'
                partOf:
                  reference: Organization/0000000000000016411
                  display: LOUDON MEDICAL GROUP
                address:
                - country: US
                  city: Lovettsville
                  use: work
                  line:
                  - 3 E Broad Way
                  district: LOUDOUN
                  postalCode: '20180'
                  text: 3 E Broad Way, Lovettsville, VA 20180
                  state: VA
                  type: physical
                meta:
                  lastUpdated: '2020-07-28T05:00:54.485+00:00'
                  versionId: 4.0.1
                  profile:
                  - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Organization
                name: LOUDOUN MEDICAL GROUP P.C.
                active: true
                language: en
                telecom:
                - extension:
                  - extension:
                    - valueCode: mon
                      url: daysOfWeek
                    - valueCode: tue
                      url: daysOfWeek
                    - valueCode: wed
                      url: daysOfWeek
                    - valueCode: thu
                      url: daysOfWeek
                    - valueCode: fri
                      url: daysOfWeek
                    - valueTime: 08:30:00
                      url: availableStartTime
                    - valueTime: '17:00:00'
                      url: availableEndTime
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                  - valueReference:
                      display: 3 E Broad Way, Lovettsville, VA 20180
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary
                  system: phone
                  use: work
                  value: (540) 338-9896
                - extension:
                  - extension:
                    - valueCode: mon
                      url: daysOfWeek
                    - valueCode: tue
                      url: daysOfWeek
                    - valueCode: wed
                      url: daysOfWeek
                    - valueCode: thu
                      url: daysOfWeek
                    - valueCode: fri
                      url: daysOfWeek
                    - valueTime: 08:30:00
                      url: availableStartTime
                    - valueTime: '17:00:00'
                      url: availableEndTime
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                  - valueReference:
                      display: 20 Town Sq, Unit 180, Lovettsville, VA 20180
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary
                  system: phone
                  use: work
                  value: (540) 579-0500
                - extension:
                  - extension:
                    - valueCode: mon
                      url: daysOfWeek
                    - valueCode: tue
                      url: daysOfWeek
                    - valueCode: wed
                      url: daysOfWeek
                    - valueTime: 08:00:00
                      url: availableStartTime
                    - valueTime: '17:00:00'
                      url: availableEndTime
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                  - extension:
                    - valueCode: thu
                      url: daysOfWeek
                    - valueTime: 08:00:00
                      url: availableStartTime
                    - valueTime: '20:00:00'
                      url: availableEndTime
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                  - extension:
                    - valueCode: fri
                      url: daysOfWeek
                    - valueTime: 08:00:00
                      url: availableStartTime
                    - valueTime: '12:00:00'
                      url: availableEndTime
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                  - valueReference:
                      display: 2 Pidgeon Hill Dr, Ste 400, Sterling, VA 20165
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary
                  system: phone
                  use: work
                  value: (703) 726-1300
                id: '0000000000000140213'
                type:
                - coding:
                  - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/OrgTypeCS
                    code: prvgrp
                    display: Provider Group
                  text: Provider Group
                resourceType: Organization
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn’t identify an existing Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: not-found
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_NO_MATCH
                      display: No Resource found
                id: 687401f85fd3fefb43182c22
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
      parameters:
      - in: path
        name: id
        description: This is the unique logical id of the Resource.
        required: true
        schema:
          type: string
      x-source-file: _v1_providerdirectory_Organization_id.yaml
      tags:
      - Provider Directory
  /v1/providerdirectory/Practitioner:
    get:
      summary: Retrieve a bundle of Practitioner records based on the search criteria
      description: 'Retrieve Practitioner resource(s) based on either: 1. Identifier (NPI) 2. Name and Location.'
      operationId: get_v1_providerdirectory_Practitioner
      responses:
        '200':
          description: The response returns a Bundle of Practitioner resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    identifier:
                    - system: http://hl7.org/fhir/sid/us-npi
                      use: official
                      id: NPI
                      type:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/v2-0203
                          code: NPI
                          display: National provider identifier
                        text: NPI
                      value: '1962505826'
                    qualification:
                    - extension:
                      - extension:
                        - valueCode: active
                          url: status
                        - valueCodeableConcept:
                            coding:
                            - system: https://www.usps.com/
                              code: AZ
                          url: whereValid
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/practitioner-qualification
                      code:
                        coding:
                        - system: http://nucc.org/provider-taxonomy
                          code: 207RI0200X
                          display: Infectious Disease Physician
                        text: Specialty
                    address:
                    - country: US
                      city: Phoenix
                      line:
                      - 3330 N 2nd St Ste 300
                      district: Maricopa
                      postalCode: '85012'
                      text: 3330 N 2nd St Ste 300, Phoenix, AZ 85012
                      state: AZ
                    - country: US
                      city: Phoenix
                      line:
                      - 500 W Thomas Rd Ste 900
                      district: Maricopa
                      postalCode: '85013'
                      text: 500 W Thomas Rd Ste 900, Phoenix, AZ 85013
                      state: AZ
                    - country: US
                      city: PHOENIX
                      line:
                      - 500 W Thomas Rd Ste 950
                      district: Maricopa
                      postalCode: '85013'
                      text: 500 W Thomas Rd Ste 950, PHOENIX, AZ 85013
                      state: AZ
                    gender: male
                    meta:
                      lastUpdated: '2020-07-28T05:00:54.485+00:00'
                      versionId: 4.0.1
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Practitioner
                    name:
                    - given:
                      - JONES
                      use: official
                      text: KUMI, JONES
                      family: KUMI
                    active: true
                    language: en
                    id: 0000000000000010942
                    communication:
                    - coding:
                      - system: urn:ietf:bcp:47
                        code: en
                        display: English
                      extension:
                      - valueCodeableConcept:
                          coding:
                          - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/LanguageProficiencyCS
                            code: '30'
                            display: General professional proficiency
                          text: General professional proficiency
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/communication-proficiency
                      text: English
                    - coding:
                      - system: urn:ietf:bcp:47
                        code: zxx
                        display: Not Applicable
                      extension:
                      - valueCodeableConcept:
                          coding:
                          - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/LanguageProficiencyCS
                            code: '30'
                            display: General professional proficiency
                          text: General professional proficiency
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/communication-proficiency
                      text: Interpreter Service
                    resourceType: Practitioner
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectory/Practitioner/0000000000000010942
                - search:
                    mode: match
                  resource:
                    identifier:
                    - system: http://hl7.org/fhir/sid/us-npi
                      use: official
                      id: NPI
                      type:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/v2-0203
                          code: NPI
                          display: National provider identifier
                        text: NPI
                      value: '1952410904'
                    qualification:
                    - identifier:
                      - use: official
                        type:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/v2-0203
                            code: MD
                            display: Medical License Number
                          text: Medical License Number
                        value: '23905'
                      extension:
                      - extension:
                        - valueCode: active
                          url: status
                        - valueCodeableConcept:
                            coding:
                            - system: https://www.usps.com/
                              code: AZ
                          url: whereValid
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/practitioner-qualification
                      code:
                        coding:
                        - system: http://nucc.org/provider-taxonomy
                          code: 207Q00000X
                          display: Family Medicine Physician
                        text: Specialty
                    address:
                    - country: US
                      city: Phoenix
                      line:
                      - 33 W Tamarisk
                      district: Maricopa
                      postalCode: '85041'
                      text: 33 W Tamarisk, Phoenix, AZ 85041
                      state: AZ
                    gender: male
                    meta:
                      lastUpdated: '2020-07-28T05:00:54.485+00:00'
                      versionId: 4.0.1
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Practitioner
                    name:
                    - given:
                      - DOUGLAS
                      use: official
                      text: JONES, DOUGLAS
                      family: JONES
                    active: true
                    language: en
                    id: '0000000000000151265'
                    communication:
                    - coding:
                      - system: urn:ietf:bcp:47
                        code: en
                        display: English
                      extension:
                      - valueCodeableConcept:
                          coding:
                          - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/LanguageProficiencyCS
                            code: '30'
                            display: General professional proficiency
                          text: General professional proficiency
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/communication-proficiency
                      text: English
                    - coding:
                      - system: urn:ietf:bcp:47
                        code: zxx
                        display: Not Applicable
                      extension:
                      - valueCodeableConcept:
                          coding:
                          - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/LanguageProficiencyCS
                            code: '30'
                            display: General professional proficiency
                          text: General professional proficiency
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/communication-proficiency
                      text: Interpreter Service
                    resourceType: Practitioner
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectory/Practitioner/0000000000000151265
                total: 21
                link:
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/Practitioner?name:contains=jones&address-city:exact=Phoenix&address-state:exact=az&_count=2&page=1
                  relation: self
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/Practitioner?name:contains=jones&address-city:exact=Phoenix&address-state:exact=az&_count=2&page=1
                  relation: first
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/Practitioner?name:contains=jones&address-city:exact=Phoenix&address-state:exact=az&_count=2&page=2
                  relation: next
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/Practitioner?name:contains=jones&address-city:exact=Phoenix&address-state:exact=az&_count=2&page=11
                  relation: last
                id: a1504a4a-a7d3-11ed-b95b-9d79182d0000
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
      parameters:
      - in: query
        name: identifier
        description: Select Practitioners with the specified Business identifier which contains the NPI string
        required: false
        schema:
          type: string
      - in: query
        name: address-city:exact
        description: 'Select Practitioners with the specified address.city


          Name of city, town etc of the Practitioner.'
        required: false
        schema:
          type: string
      - in: query
        name: address-state:exact
        description: 'Select Practitioners with the specified address.state.


          Sub-unit of country of the Practitioner. State will be 2 letter abbreviation.'
        required: false
        schema:
          type: string
      - in: query
        name: address-postalcode:exact
        description: 'Select Practitioners with the specified address.postalcode.


          US Zip code of the Practitioner.

          Postal code will be priority over City +State.


          Postal code will be 5 valid 5 digit numeric.'
        required: false
        schema:
          type: string
      - in: query
        name: name:contains
        description: Select Practitioners with the specified name (matches 2 or more characters within the HumanName data type).
        required: false
        schema:
          type: string
      - in: query
        name: family:contains
        description: Select Practitioners with the specified family name (matches 2 or more characters within the familyname).
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: 'Used for pagination: potential values to navigate to a specific page.“self”–page=10 “first”–page=1 “last”–page=65 “previous”–page=9 “next”–page=11'
        required: false
        schema:
          type: number
      - in: query
        name: _count
        description: _count parameter is used to define the maximum number of search results to show on a page up to a maximum of 50 records per page.
        required: false
        schema:
          type: number
      x-source-file: _v1_providerdirectory_Practitioner.yaml
      tags:
      - Provider Directory
  /v1/providerdirectory/PractitionerRole:
    get:
      summary: Retrieves list of Practitioner(s) that meets specialty and location parameters
      description: 'Retrieves PractitionerRole resources based on : Specialty + Location.Specialty search parameter will be the NUCC taxonomy code of the specialty.'
      responses:
        '200':
          description: The response would return a Bundle of PractitionerRoles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              example:
                entry:
                - search:
                    mode: match
                  resource:
                    extension:
                    - extension:
                      - valueCodeableConcept:
                          coding:
                          - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/AcceptingPatientsCS
                            code: newpt
                        url: acceptingPatients
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/newpatients
                    - valueReference:
                        display: Mercy Care DCS CHP
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/network-reference
                    specialty:
                    - coding:
                      - system: http://nucc.org/provider-taxonomy
                        code: 207L00000X
                        display: Anesthesiology Physician
                      text: Specialty
                    availableTime:
                    - availableEndTime: '17:00:00'
                      daysOfWeek:
                      - mon
                      - tue
                      - wed
                      - thu
                      - fri
                      availableStartTime: 08:00:00
                    code:
                    - coding:
                      - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/ProviderRoleCS
                        code: ph
                        display: Physician
                      text: Physician
                    practitioner:
                      reference: Practitioner/0000000000000150099
                      display: CRAWLEY-BERTOLO, THERESA
                    meta:
                      lastUpdated: '2020-07-28T05:00:54.485+00:00'
                      versionId: 4.0.1
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-PractitionerRole
                    active: true
                    language: en
                    location:
                    - reference: Location/0000000000000150110
                      display: 4800 N 22ND ST, Phoenix, AZ 85016
                    telecom:
                    - extension:
                      - valueReference:
                          display: 4800 N 22ND ST, Phoenix, AZ 85016
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary
                      system: phone
                      use: work
                      value: (602) 955-1000
                    id: 0000000000000150087
                    resourceType: PractitionerRole
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectory/PractitionerRole/0000000000000150087
                - search:
                    mode: match
                  resource:
                    extension:
                    - extension:
                      - valueCodeableConcept:
                          coding:
                          - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/AcceptingPatientsCS
                            code: nopt
                        url: acceptingPatients
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/newpatients
                    - valueReference:
                        display: Mercy Care DCS CHP
                      url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/network-reference
                    specialty:
                    - coding:
                      - system: http://nucc.org/provider-taxonomy
                        code: 207L00000X
                        display: Anesthesiology Physician
                      text: Specialty
                    code:
                    - coding:
                      - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/ProviderRoleCS
                        code: ph
                        display: Physician
                      text: Physician
                    practitioner:
                      reference: Practitioner/0000000000000150000
                      display: FROMMERT, ALLAN
                    meta:
                      lastUpdated: '2020-07-28T05:00:54.485+00:00'
                      versionId: 4.0.1
                      profile:
                      - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-PractitionerRole
                    active: true
                    language: en
                    location:
                    - reference: Location/0000000000000150111
                      display: 4800 N 22ND ST, Phoenix, AZ 85016
                    telecom:
                    - extension:
                      - valueReference:
                          display: 4800 N 22ND ST, Phoenix, AZ 85016
                        url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary
                      system: phone
                      use: work
                      value: (602) 955-1000
                    id: 0000000000000150088
                    resourceType: PractitionerRole
                  fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectory/PractitionerRole/0000000000000150088
                total: 25
                link:
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/PractitionerRole?specialty=207L00000X&location.address-city:exact=Phoenix&location.address-state:exact=az&_count=2&page=1
                  relation: self
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/PractitionerRole?specialty=207L00000X&location.address-city:exact=Phoenix&location.address-state:exact=az&_count=2&page=1
                  relation: first
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/PractitionerRole?specialty=207L00000X&location.address-city:exact=Phoenix&location.address-state:exact=az&_count=2&page=2
                  relation: next
                - url: https://apif1.aetna.com/fhir/v1/providerdirectory/PractitionerRole?specialty=207L00000X&location.address-city:exact=Phoenix&location.address-state:exact=az&_count=2&page=13
                  relation: last
                id: ca26f1e8-a7d4-11ed-b57d-9d7918350000
                type: searchset
                resourceType: Bundle
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
      schemes:
      - https
      parameters:
      - in: query
        name: specialty
        description: 'Select PractitionerRoles associated with the specified specialty

          Note:Specialty must be in Taxonomy format.'
        required: false
        schema:
          type: string
      - in: query
        name: location.address-city:exact
        description: 'Select PractitionerRoles available at the specified City


          Name of city, town etc of the PractitionerRole location.'
        required: false
        schema:
          type: string
      - in: query
        name: location.address-state:exact
        description: 'Select PractitionerRoles available at the specified state.


          Sub-unit of country of the PractitionerRole location. State will be 2 letter abbreviation.'
        required: false
        schema:
          type: string
      - in: query
        name: location.address-postalcode:exact
        description: 'Select PractitionerRoles available at the specified postal zip code.


          US Zip code of the PractitionerRole location.

          Postal code will be priority over City +State.


          Postal code will be 5 valid 5 digit numeric.'
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: 'Used for pagination: potential values to navigate to a specific page.“self”–page=10 “first”–page=1 “last”–page=65 “previous”–page=9 “next”–page=11'
        required: false
        schema:
          type: number
      - in: query
        name: _count
        description: _count parameter is used to define the maximum number of search results to show on a page
        required: false
        schema:
          type: number
      operationId: get_v1_providerdirectory_PractitionerRole
      x-source-file: _v1_providerdirectory_PractitionerRole.yaml
      tags:
      - Provider Directory
  /v1/providerdirectory/Practitioner/{id}:
    get:
      summary: Retrieves details of individual Practitioner(s) by Logical ID
      description: Retrieve Practitioner resource based on Identifier.
      operationId: get_v1_providerdirectory_Practitioner_id
      responses:
        '200':
          description: This response returns a Practitioner resource based on the unique logical ID passed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Practitioner'
              example:
                identifier:
                - system: http://hl7.org/fhir/sid/us-npi
                  use: official
                  id: NPI
                  type:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/v2-0203
                      code: NPI
                      display: National provider identifier
                    text: NPI
                  value: '1962505826'
                qualification:
                - extension:
                  - extension:
                    - valueCode: active
                      url: status
                    - valueCodeableConcept:
                        coding:
                        - system: https://www.usps.com/
                          code: AZ
                      url: whereValid
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/practitioner-qualification
                  code:
                    coding:
                    - system: http://nucc.org/provider-taxonomy
                      code: 207RI0200X
                      display: Infectious Disease Physician
                    text: Specialty
                address:
                - country: US
                  city: Phoenix
                  line:
                  - 3330 N 2nd St Ste 300
                  district: Maricopa
                  postalCode: '85012'
                  text: 3330 N 2nd St Ste 300, Phoenix, AZ 85012
                  state: AZ
                - country: US
                  city: Phoenix
                  line:
                  - 500 W Thomas Rd Ste 900
                  district: Maricopa
                  postalCode: '85013'
                  text: 500 W Thomas Rd Ste 900, Phoenix, AZ 85013
                  state: AZ
                - country: US
                  city: PHOENIX
                  line:
                  - 500 W Thomas Rd Ste 950
                  district: Maricopa
                  postalCode: '85013'
                  text: 500 W Thomas Rd Ste 950, PHOENIX, AZ 85013
                  state: AZ
                gender: male
                meta:
                  lastUpdated: '2020-07-28T05:00:54.485+00:00'
                  versionId: 4.0.1
                  profile:
                  - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Practitioner
                name:
                - given:
                  - JONES
                  use: official
                  text: KUMI, JONES
                  family: KUMI
                active: true
                language: en
                id: 0000000000000010942
                communication:
                - coding:
                  - system: urn:ietf:bcp:47
                    code: en
                    display: English
                  extension:
                  - valueCodeableConcept:
                      coding:
                      - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/LanguageProficiencyCS
                        code: '30'
                        display: General professional proficiency
                      text: General professional proficiency
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/communication-proficiency
                  text: English
                - coding:
                  - system: urn:ietf:bcp:47
                    code: zxx
                    display: Not Applicable
                  extension:
                  - valueCodeableConcept:
                      coding:
                      - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/LanguageProficiencyCS
                        code: '30'
                        display: General professional proficiency
                      text: General professional proficiency
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/communication-proficiency
                  text: Interpreter Service
                resourceType: Practitioner
        '203':
          description: This response returns a Practitioner resource may be incomplete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Practitioner'
              example:
                identifier:
                - system: http://hl7.org/fhir/sid/us-npi
                  use: official
                  id: NPI
                  type:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/v2-0203
                      code: NPI
                      display: National provider identifier
                    text: NPI
                  value: '1962505826'
                qualification:
                - extension:
                  - extension:
                    - valueCode: active
                      url: status
                    - valueCodeableConcept:
                        coding:
                        - system: https://www.usps.com/
                          code: AZ
                      url: whereValid
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/practitioner-qualification
                  code:
                    coding:
                    - system: http://nucc.org/provider-taxonomy
                      code: 207RI0200X
                      display: Infectious Disease Physician
                    text: Specialty
                address:
                - country: US
                  city: Phoenix
                  line:
                  - 3330 N 2nd St Ste 300
                  district: Maricopa
                  postalCode: '85012'
                  text: 3330 N 2nd St Ste 300, Phoenix, AZ 85012
                  state: AZ
                - country: US
                  city: Phoenix
                  line:
                  - 500 W Thomas Rd Ste 900
                  district: Maricopa
                  postalCode: '85013'
                  text: 500 W Thomas Rd Ste 900, Phoenix, AZ 85013
                  state: AZ
                - country: US
                  city: PHOENIX
                  line:
                  - 500 W Thomas Rd Ste 950
                  district: Maricopa
                  postalCode: '85013'
                  text: 500 W Thomas Rd Ste 950, PHOENIX, AZ 85013
                  state: AZ
                gender: male
                meta:
                  lastUpdated: '2020-07-28T05:00:54.485+00:00'
                  versionId: 4.0.1
                  profile:
                  - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Practitioner
                name:
                - given:
                  - JONES
                  use: official
                  text: KUMI, JONES
                  family: KUMI
                active: true
                language: en
                id: 0000000000000010942
                resourceType: Practitioner
        '400':
          description: A required parameter isn’t provided, or an unknown parameter is provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: required
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_RESOURCE_ID_MISSING
                      display: Resource Id Missing
                id: 14c27ea91f91d8f01234
                resourceType: OperationOutcome
        '404':
          description: The specified id doesn’t identify an existing Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: error
                  code: not-found
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_NO_MATCH
                      display: No Resource found
                id: 687401f85fd3fefb43182c22
                resourceType: OperationOutcome
        '500':
          description: Internal Server Error. Failures on the server side.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
              example:
                issue:
                - severity: fatal
                  diagnostics: Backend service failure
                  code: exception
                  details:
                    coding:
                    - system: http://hl7.org/fhir/ValueSet/operation-outcome
                      code: MSG_SVC_FAILURE
                      display: Error occurred while processing response
                id: 53c27ea45fd8f0ff0af91f91
                resourceType: OperationOutcome
      parameters:
      - in: path
        name: id
        description: This is the logical ID for a Practitioner
        required: true
        schema:
          type: string
      x-source-file: _v1_providerdirectory_Practitioner_id.yaml
      tags:
      - Provider Directory
components:
  schemas:
    OperationOutcome:
      description: 'See the appropriate Implementation Guide for proper documentation to use


        This is the HL7 FHIR Release 4.0.1 OperationOutcome resource.

        Full Documentation is available at: http://hl7.org/fhir/operationoutcome.html'
      type: object
    Organization:
      description: 'See the appropriate Implementation Guide for proper documentation to use.


        This is the HL7 FHIR Release 4.0.1 Organization resource.

        Full Documentation is available at: http://hl7.org/fhir/organization.html


        US Core 3.1.1 Documentation is available at:

        http://hl7.org/fhir/us/core/STU3.1.1/StructureDefinition-us-core-organization.html


        For the CARIN-BB 1.0.0 Organization resource full documentation is available at:

        http://hl7.org/fhir/us/carin-bb/STU1/StructureDefinition-C4BB-Organization.html


        For the DaVinci PDEX Plan Net 1.0.0 Organization resource documentation is available at:

        http://hl7.org/fhir/us/davinci-pdex-plan-net/STU1/StructureDefinition-plannet-Organization.html


        For the DaVinci PDEX Plan Net 1.0.0 Network resource documentation is available at:

        http://hl7.org/fhir/us/davinci-pdex-plan-net/STU1/StructureDefinition-plannet-Network.html


        For the DaVinci PDEX Plan Net 1.1.0 Organization resource documentation is available at:

        http://hl7.org/fhir/us/davinci-pdex-plan-net/STU1.1/StructureDefinition-plannet-Organization.html


        For the DaVinci PDEX Plan Net 1.1.0 Network resource documentation is available at:

        http://hl7.org/fhir/us/davinci-pdex-plan-net/STU1.1/StructureDefinition-plannet-Network.html'
      type: object
    InsurancePlan:
      description: 'See the appropriate Implementation Guide for proper documentation to use


        This is the HL7 FHIR Release 4.0.1 InsurancePlan resource.

        Full Documentation is available at: http://hl7.org/fhir/insuranceplan.html


        For the DaVinci PDEX Plan Net 1.0.0 InsurancePlan resource documentation is available at:

        http://hl7.org/fhir/us/davinci-pdex-plan-net/STU1/StructureDefinition-plannet-InsurancePlan.html


        For the DaVinci PDEX Plan Net 1.1.0 InsurancePlan resource documentation is available at:

        http://hl7.org/fhir/us/davinci-pdex-plan-net/STU1.1/StructureDefinition-plannet-InsurancePlan.html'
      type: object
    Location:
      description: 'See the appropriate Implementation Guide for proper documentation to use


        This is the HL7 FHIR Release 4.0.1 Location resource.

        Full Documentation is available at: http://hl7.org/fhir/location.html


        US Core 3.1.1 Documentation is available at:

        http://hl7.org/fhir/us/core/STU3.1.1/StructureDefinition-us-core-location.html


        For the DaVinci PDEX Plan Net 1.0.0 Location resource documentation is available at:

        http://hl7.org/fhir/us/davinci-pdex-plan-net/STU1/StructureDefinition-plannet-Location.html


        For the DaVinci PDEX Plan Net 1.1.0 Location resource documentation is available at:

        http://hl7.org/fhir/us/davinci-pdex-plan-net/STU1.1/StructureDefinition-plannet-Location.html'
      type: object
    Practitioner:
      description: 'See the appropriate Implementation Guide for proper documentation to use


        This is the HL7 FHIR Release 4.0.1 Practitioner resource.

        Full Documentation is available at: http://hl7.org/fhir/practitioner.html


        US Core 3.1.1 Documentation is available at:

        http://hl7.org/fhir/us/core/STU3.1.1/StructureDefinition-us-core-practitioner.html


        For the CARIN-BB 1.0.0 Practitioner resource full documentation is available at:

        http://hl7.org/fhir/us/carin-bb/STU1/StructureDefinition-C4BB-Practitioner.html


        For the DaVinci PDEX Plan Net 1.0.0 Practitioner resource documentation is available at:

        http://hl7.org/fhir/us/davinci-pdex-plan-net/STU1/StructureDefinition-plannet-Practitioner.html


        For the DaVinci PDEX Plan Net 1.1.0 Practitioner resource documentation is available at:

        http://hl7.org/fhir/us/davinci-pdex-plan-net/STU1.1/StructureDefinition-plannet-Practitioner.html'
      type: object
    Bundle:
      description: 'See the appropriate Implementation Guide for proper documentation to use


        This is the HL7 FHIR Release 4.0.1 Bundle resource.

        Full Documentation is available at: http://hl7.org/fhir/bundle.html'
      type: object
      properties:
        entry:
          type: array
          items:
            $ref: '#/components/schemas/Entry'
    Entry:
      description: An entry in a bundle resource - will contain a resource(s) returned in the bundle
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/InsurancePlan'
  securitySchemes:
    FHIR_User_AccessCode_Oauth:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            patient/Patient.*: patient/Patient.*
            patient/Patient.read: patient/Patient.read
            patient/*.read: patient/*.read
            patient/*.*: patient/*.*
          authorizationUrl: https://$(catalog.url)/v1/internal/fhirserver_auth/oauth2/authorize
          tokenUrl: https://$(catalog.url)/v1/internal/fhirserver_auth/oauth2/token
    FHIR_Application_Oauth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            NonPII: NonPII
            Public: Public
          tokenUrl: https://$(catalog.url)/v3/internal/auth/oauth2/app/token
      description: "{\n \"BuildEieHeader\" : \"Header 3.2\",\n \"SecurityTemplate\" : \"FHIROpenApp\",\n \"Backend\" : \"Non-IIB, FHIRServer APIGEE APIs, requires Mutual TLS\",\n \"Errorhandlingpolicy\": \"Transparent\"\n \"Consumer\":\"External\",\n \"Mutual Auth between Consumer and APIC\" : \"Not Required\"\n}"
externalDocs:
  description: HTTP Common Error Codes
  url: https://eaintegrationgovernance.github.io/APIC-Common-Error-Codes.github.io/
