---
x-ibm-configuration:
  phase: realized
  enforced: true
  testable: true
x-ibm-endpoints:
- endpointUrl: https://qahapi.aetna.com/fhir/qapath3
  type:
  - production
  - development
- endpointUrl: https://qaehapi.aetna.com/fhir/qapath3
  type:
  - production
  - development
schemes:
- https
swagger: '2.0'
security:
- FHIR_Patient_PractitionerRole_Read_AccessCode_Oauth:
  - patient/PractitionerRole.read
- FHIR_Patient_PractitionerRole_Read_AccessCode_Oauth:
  - patient/PractitionerRole.*
- FHIR_Patient_PractitionerRole_Read_AccessCode_Oauth:
  - patient/*.read
- FHIR_Patient_PractitionerRole_Read_AccessCode_Oauth:
  - patient/*.*
basePath: "/v2"
paths:
  "/patientaccess/PractitionerRole/{id}":
    get:
      summary: Read the current state of the resource using the Logical (unique) ID
        [FHIR Base]/PractitionerRole/{id}
      description: Read the current state of the resource using the Logical (unique)
        ID [FHIR Base]/PractitionerRole/{id}
      operationId: Get
      responses:
        '200':
          schema:
            "$ref": "#/definitions/USCorePractitionerRole"
          examples:
            application/json:
              identifier:
              - system: https://sources.aetna.com/practitionerrole/identifier/locpin/30018
                type:
                  coding:
                  - code: PRN
                value: S0108268-4476566-1711612+0004069640
              specialty:
              - coding:
                - system: https://sources.aetna.com/practitionerrole/specialty/66
                  display: Physician Assistant
              - coding:
                - system: https://sources.aetna.com/practitionerrole/specialty/66
                  code: '90380'
                  display: Physician Assistant (Adult)
              contained:
              - identifier:
                - system: https://sources.aetna.com/Location/identifier/locationID/3002
                  type:
                    coding:
                    - code: Location ID
                  value: S0108268-4476566-1711612
                address:
                  country: UNITED STATES OF AMERICA
                  city: Cary
                  use: work
                  line:
                  - 580 New Waverly Place
                  - Suite 120
                  district: WAKE
                  postalCode: 27518-7406
                  state: NC
                name: 580 NEW WAVERLY PL STE 120-580 NEW WAVERLY PL STE 120
                telecom:
                - system: phone
                  use: work
                  value: 1+9198588360
                id: S0108268-4476566-1711612
                position:
                  latitude: 35.739301
                  longitude: -78.775904
                resourceType: Location
              code:
              - coding:
                - system: http://nucc.org/provider-taxonomy
                  code: 363A00000X
              practitioner:
                reference: Practitioner/0000000000000020807
              meta:
                lastUpdated: '2019-10-01T09:53:56.307-04:00'
                profile:
                - http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitionerrole
              organization:
                reference: Organization/0000000000000045560
              location:
              - reference: "#S0108268-4476566-1711612"
              telecom:
              - system: phone
                use: work
                value: 1+9198588360
              id: '0000000000000045431'
              resourceType: PractitionerRole
          description: This response returns a PractitionerRole Resource associated
            with the Logical Id and it will conform to the USCore PractitionerRole
            profile.
        '400':
          schema:
            "$ref": "#/definitions/OperationOutcome"
          examples:
            application/json:
              issue:
              - severity: error
                code: required
                details:
                  coding:
                  - system: http://hl7.org/fhir/ValueSet/operation-outcome
                    code: MSG_RESOURCE_ID_MISSING
                    display: Resource Id Missing
              id: 14c27ea91f91d8f01234
              resourceType: OperationOutcome
          description: A required parameter isn’t provided, or an unknown parameter
            is provided.
        '404':
          schema:
            "$ref": "#/definitions/OperationOutcome"
          examples:
            application/json:
              issue:
              - severity: error
                code: not-found
                details:
                  coding:
                  - system: http://hl7.org/fhir/ValueSet/operation-outcome
                    code: MSG_NO_MATCH
                    display: No Resource found
              id: 687401f85fd3fefb43182c22
              resourceType: OperationOutcome
          description: The specified id doesn’t identify an existing Resource.
        '500':
          schema:
            "$ref": "#/definitions/OperationOutcome"
          examples:
            application/json:
              issue:
              - severity: fatal
                diagnostics: Backend service failure
                code: exception
                details:
                  coding:
                  - system: http://hl7.org/fhir/ValueSet/operation-outcome
                    code: MSG_SVC_FAILURE
                    display: Error occurred while processing response
              id: 53c27ea45fd8f0ff0af91f91
              resourceType: OperationOutcome
          description: Internal Server Error. Failures on the server side.
        x-USCorePractitionerRole:
          schema:
            "$ref": "#/definitions/USCorePractitionerRole"
          description: |2-

            The API will never return this response. This parameter is here to show the schema of the USCorePractitionerRole profile.
      parameters:
      - in: path
        name: id
        description: This is the PractitionerRole (unique) logical ID
        type: string
        required: true
host: apif1.aetna.com/fhir
produces:
- application/json
externalDocs:
  description: HTTPS Common Error Codes
  url: https://eaintegrationgovernance.github.io/APIC-Common-Error-Codes.github.io/
securityDefinitions:
  FHIR_Patient_PractitionerRole_Read_AccessCode_Oauth:
    tokenUrl: https://devapih1.int.aetna.com/healthcare/devpath1/v7/auth/oauth2/token
    authorizationUrl: https://devpih1.int.aetna.com/healthcare/devpath1/v7/auth/oauth2/authorize
    description: ''
    scopes:
      patient/PractitionerRole.read: ''
      patient/PractitionerRole.*: ''
      patient/*.read: ''
      patient/*.*: ''
    type: oauth2
    flow: accessCode
definitions:
  Meta:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        lastUpdated:
          pattern: "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))"
          description: When the resource last changed - e.g. when the version changed.
          type: string
        versionId:
          pattern: "[A-Za-z0-9\\-\\.]{1,64}"
          description: The version specific identifier, as it appears in the version
            portion of the URL. This value changes when the resource is created, updated,
            or deleted.
          type: string
        security:
          description: Security labels applied to this resource. These tags connect
            specific resources to the overall security policy and infrastructure.
          type: array
          items:
            "$ref": "#/definitions/Coding"
        profile:
          description: A list of profiles (references to [StructureDefinition](structuredefinition.html#)
            resources) that this resource claims to conform to. The URL is a reference
            to [StructureDefinition.url](structuredefinition-definitions.html#StructureDefinition.url).
          type: array
          items:
            pattern: "\\S*"
            type: string
        source:
          pattern: "\\S*"
          description: A uri that identifies the source system of the resource. This
            provides a minimal amount of [Provenance](provenance.html#) information
            that can be used to track or differentiate the source of information in
            the resource. The source may identify another FHIR server, document, message,
            database, etc.
          type: string
        tag:
          description: Tags applied to this resource. Tags are intended to be used
            to identify and relate resources to process and workflow, and applications
            are not required to consider the tags when interpreting the meaning of
            a resource.
          type: array
          items:
            "$ref": "#/definitions/Coding"
  DomainResource:
    allOf:
    - "$ref": "#/definitions/Resource"
    - type: object
      properties:
        contained:
          description: These resources do not have an independent existence apart
            from the resource that contains them - they cannot be identified independently,
            and nor can they have their own independent transaction scope.
          type: array
          items:
            "$ref": "#/definitions/Resource"
        extension:
          description: May be used to represent additional information that is not
            part of the basic definition of the resource. To make the use of extensions
            safe and manageable, there is a strict set of governance applied to the
            definition and use of extensions. Though any implementer can define an
            extension, there is a set of requirements that SHALL be met as part of
            the definition of the extension.
          type: array
          items:
            "$ref": "#/definitions/Extension"
        modifierExtension:
          description: |-
            May be used to represent additional information that is not part of the basic definition of the resource and that modifies the understanding of the element that contains it and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer is allowed to define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.

            Modifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself).
          type: array
          items:
            "$ref": "#/definitions/Extension"
        text:
          description: A human-readable narrative that contains a summary of the resource
            and can be used to represent the content of the resource to a human. The
            narrative need not encode all the structured data, but is required to
            contain sufficient detail to make it "clinically safe" for a human to
            just read the narrative. Resource definitions may define what content
            should be represented in the narrative to ensure clinical safety.
          "$ref": "#/definitions/Narrative"
  Address:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        country:
          pattern: "[ \\r\\n\\t\\S]+"
          description: Country - a nation as commonly understood or generally accepted.
          type: string
        period:
          description: Time period when address was/is in use.
          "$ref": "#/definitions/Period"
        city:
          pattern: "[ \\r\\n\\t\\S]+"
          description: The name of the city, town, suburb, village or other community
            or delivery center.
          type: string
        use:
          description: The purpose of this address.
          type: string
          enum:
          - home
          - work
          - temp
          - old
          - billing
        line:
          description: This component contains the house number, apartment number,
            street name, street direction, P.O. Box number, delivery hints, and similar
            address information.
          type: array
          items:
            pattern: "[ \\r\\n\\t\\S]+"
            type: string
        district:
          pattern: "[ \\r\\n\\t\\S]+"
          description: The name of the administrative area (county).
          type: string
        postalCode:
          pattern: "[ \\r\\n\\t\\S]+"
          description: A postal code designating a region defined by the postal service.
          type: string
        text:
          pattern: "[ \\r\\n\\t\\S]+"
          description: Specifies the entire address as it should be displayed e.g.
            on a postal label. This may be provided instead of or as well as the specific
            parts.
          type: string
        state:
          pattern: "[ \\r\\n\\t\\S]+"
          description: Sub-unit of a country with limited sovereignty in a federally
            organized country. A code may be used if codes are in common use (e.g.
            US 2 letter state codes).
          type: string
        type:
          description: Distinguishes between physical addresses (those you can visit)
            and mailing addresses (e.g. PO Boxes and care-of addresses). Most addresses
            are both.
          type: string
          enum:
          - postal
          - physical
          - both
  CARINBBPatientIdentifierMedicalRecordNumber:
    allOf:
    - "$ref": "#/definitions/CARINBBPatientIdentifier"
    - type: object
    description: |-
      http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport

      type.coding.code="MR"
  USDFDrugTierIDExt:
    allOf:
    - "$ref": "#/definitions/USDFFormularyDrugExt"
    - type: object
      required:
      - uri
      - valueCodeableConcept
      properties:
        valueCodeableConcept:
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-DrugTierVS.html'
          "$ref": "#/definitions/CodeableConcept"
        uri:
          default: http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-DrugTierID-extension
          type: string
    description: |-
      A code that describes the coverage status of a drug in a health plan (e.g., preferred generic, specialty, etc.)

      1..1https://hl7.org/fhir/conformance-rules.html#mustSupport
  USCoreCodeableConceptAssessPlan:
    allOf:
    - "$ref": "#/definitions/CodeableConcept"
    - type: object
    description: |-
      This class is associated with the category property in the USCoreCarePlan
      Required.
  Count:
    allOf:
    - "$ref": "#/definitions/Quantity"
    - type: object
  USDFDTDCSPharmacyTypeExt:
    allOf:
    - "$ref": "#/definitions/USDFDTDCostSharingExt"
    - type: object
      required:
      - url
      - valueCodeableConcept
      properties:
        valueCodeableConcept:
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-PharmacyTypeVS.html'
          "$ref": "#/definitions/CodeableConcept"
        url:
          default: pharmacyType
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-PharmacyTypeVS.html'
          type: string
  CARINBBPatientIdentifierPatAcctNum:
    allOf:
    - "$ref": "#/definitions/CARINBBPatientIdentifier"
    - type: object
    description: |-
      http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport

      type.coding.code="PT"
  PractitionerRole_AvailableTime:
    allOf:
    - "$ref": "#/definitions/BackboneElement"
    - type: object
      properties:
        allDay:
          description: Is this always available? (hence times are irrelevant) e.g.
            24 hour service.
          type: boolean
        availableEndTime:
          pattern: "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?"
          description: 'The closing time of day. Note: If the AllDay flag is set,
            then this time is ignored.'
          type: string
        daysOfWeek:
          description: Indicates which days of the week are available between the
            start and end Times.
          type: array
          items:
            type: string
        availableStartTime:
          pattern: "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?"
          description: 'The opening time of day. Note: If the AllDay flag is set,
            then this time is ignored.'
          type: string
  PlannetPractitionerQualificationExt:
    allOf:
    - "$ref": "#/definitions/PlannetOrganizationExt"
    - type: object
      required:
      - url
      properties:
        url:
          default: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/practitioner-qualification
          type: string
    description: |-
      http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport

      status
      whereValid
  PlannetCommunicationProficiencyExt:
    allOf:
    - "$ref": "#/definitions/PlannetQualificationIncludedExt"
    - type: object
      required:
      - url
      - valueCodeableConcept
      properties:
        valueCodeableConcept:
          description: Binding:http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/LanguageProficiencyVS
          "$ref": "#/definitions/CodeableConcept"
        url:
          default: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/communication-proficiency
          type: string
  USDFSummaryURLExt:
    allOf:
    - "$ref": "#/definitions/USDFCoveragePlanExt"
    - type: object
      required:
      - uri
      - valueString
      properties:
        valueString:
          type: string
        uri:
          default: http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-SummaryURL-extension
          type: string
    description: |-
      The URL that goes directly to the formulary brochure for the specific standard plan or plan variation.

      1..1https://hl7.org/fhir/conformance-rules.html#mustSupport
  USDFDTDCSCoinsuranceOptionExt:
    allOf:
    - "$ref": "#/definitions/USDFDTDCostSharingExt"
    - type: object
      required:
      - url
      - valueCodeableConcept
      properties:
        valueCodeableConcept:
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-CoinsuranceOptionVS.html'
          "$ref": "#/definitions/CodeableConcept"
        url:
          default: coinsuranceOption
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-PharmacyTypeVS.html'
          type: string
  USDFMarketingURLExt:
    allOf:
    - "$ref": "#/definitions/USDFCoveragePlanExt"
    - type: object
      required:
      - uri
      - valueString
      properties:
        valueString:
          type: string
        uri:
          default: http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-MarketingURL-extension
          type: string
    description: |-
      The URL that goes directly to the plan brochure for the specific standard plan or plan variation.

      0..1https://hl7.org/fhir/conformance-rules.html#mustSupport
  USDFDTDCSCopayOptionExt:
    allOf:
    - "$ref": "#/definitions/USDFDTDCostSharingExt"
    - type: object
      required:
      - url
      - valueCodeableConcept
      properties:
        valueCodeableConcept:
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-CopayOptionVS.html'
          "$ref": "#/definitions/CodeableConcept"
        url:
          default: copayOption
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-PharmacyTypeVS.html'
          type: string
  Coding:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        system:
          pattern: "\\S*"
          description: The identification of the code system that defines the meaning
            of the symbol in the code.
          type: string
        code:
          pattern: "[^\\s]+(\\s[^\\s]+)*"
          description: A symbol in syntax defined by the system. The symbol may be
            a predefined code or an expression in a syntax defined by the coding system
            (e.g. post-coordination).
          type: string
        userSelected:
          description: Indicates that this coding was chosen by a user directly -
            e.g. off a pick list of available items (codes or displays).
          type: boolean
        display:
          pattern: "[ \\r\\n\\t\\S]+"
          description: A representation of the meaning of the code in the system,
            following the rules of the system.
          type: string
        version:
          pattern: "[ \\r\\n\\t\\S]+"
          description: The version of the code system which was used when choosing
            this code. Note that a well-maintained code system does not need the version
            reported, because the meaning of codes is consistent across versions.
            However this cannot consistently be assured, and when the meaning is not
            guaranteed to be consistent, the version SHOULD be exchanged.
          type: string
  SampledData:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      required:
      - dimensions
      - origin
      - period
      properties:
        period:
          description: The length of time between sampling times, measured in milliseconds.
          type: number
        data:
          pattern: "[ \\r\\n\\t\\S]+"
          description: A series of data points which are decimal values separated
            by a single space (character u20). The special values "E" (error), "L"
            (below detection limit) and "U" (above detection limit) can also be used
            in place of a decimal value.
          type: string
        origin:
          description: The base quantity that a measured value of zero represents.
            In addition, this provides the units of the entire measurement series.
          "$ref": "#/definitions/SimpleQuantity"
        upperLimit:
          description: The upper limit of detection of the measured points. This is
            needed if any of the data points have the value "U" (higher than detection
            limit).
          type: number
        lowerLimit:
          description: The lower limit of detection of the measured points. This is
            needed if any of the data points have the value "L" (lower than detection
            limit).
          type: number
        factor:
          description: A correction factor that is applied to the sampled data points
            before they are added to the origin.
          type: number
        dimensions:
          format: int32
          description: The number of sample points at each time point. If this value
            is greater than one, then the dimensions will be interlaced - all the
            sample points for a point in time will be recorded at once.
          type: integer
  PlannetBaseExt:
    allOf:
    - "$ref": "#/definitions/Extension"
    - type: object
  USCorePractitionerRole:
    allOf:
    - "$ref": "#/definitions/PractitionerRole"
    - type: object
      required:
      - organization
      - practitioner
      properties:
        specialty:
          description: |-
            http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport

            Cardinality=0..* Type=CodeableConceptBinding: US Core Provider Speciality (NUCC) (extensible)
          type: array
          items:
            "$ref": "#/definitions/CodeableConcept"
        endpoint:
          description: |-
            http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport

            Cardinality=0..* Type=Reference(Endpoint)
          type: array
          items:
            "$ref": "#/definitions/Reference"
        code:
          description: |-
            http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport

            Cardinality=0..* Type=CodeableConceptBinding: US Core Provider Role (NUCC) (extensible)
          type: array
          items:
            "$ref": "#/definitions/CodeableConcept"
        practitioner:
          description: |-
            http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport

            Cardinality=1..1 Type=Reference(US Core Practitioner Profile)
          "$ref": "#/definitions/Reference"
        organization:
          description: |-
            http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport

            Cardinality=1..1 Type=Reference(US Core Organization Profile)
          "$ref": "#/definitions/Reference"
        location:
          description: |-
            http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport

            Cardinality=0..* Type=Reference(Location)
          type: array
          items:
            "$ref": "#/definitions/Reference"
        telecom:
          description: |-
            http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport

            telecom Cardinality=0..* Type=ContactPoint
            |--system Cardinality=1..1 ype=code
            |--value Cardinality=1..1 ype=string
          type: array
          items:
            "$ref": "#/definitions/ContactPoint"
    description: |-
      http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitionerrole

      ##Summary of the Mandatory Requirements
      1. A Practitioner Reference in PractitionerRole.practitioner
      2. A Organization Reference in PractitionerRole.organization

      ##Summary of the Must Support Requirements
      1. One or more CodeableConcepts in PractitionerRole.code with an extensible binding to US Core Provider Role (NUCC)
      2. One or more CodeableConcepts in PractitionerRole.specialty with an extensible binding to US Core Provider Speciality (NUCC)
      3. One or more Location References in PractitionerRole.location
      4. One or more ContactPoints in PractitionerRole.telecom
       - which must have a code value in PractitionerRole.telecom.system with a required binding to ContactPointSystem
       - which must have a string value in PractitionerRole.telecom.value
  Distance:
    allOf:
    - "$ref": "#/definitions/Quantity"
    - type: object
  PlannetQualificationExt:
    allOf:
    - "$ref": "#/definitions/PlannetOrganizationExt"
    - "$ref": "#/definitions/PlannetPractitionerRoleExt"
    - type: object
      required:
      - extension
      - url
      properties:
        extension:
          minItems: 1
          type: array
          items:
            "$ref": "#/definitions/PlannetNewPatientIncludedExt"
        url:
          default: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/qualification
          type: string
  USDFDTDCSCoinsuranceRateExt:
    allOf:
    - "$ref": "#/definitions/USDFDTDCostSharingExt"
    - type: object
      required:
      - url
      - valueDecimal
      properties:
        valueDecimal:
          format: double
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-DrugTierVS.html'
          type: number
        url:
          default: coinsuranceRate
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-PharmacyTypeVS.html'
          type: string
  PlannetMeta:
    allOf:
    - "$ref": "#/definitions/Meta"
    - type: object
      required:
      - lastUpdated
      properties:
        lastUpdated:
          type: string
    description: |-
      https://hl7.org/fhir/conformance-rules.html#mustSupport
      http://hl7.org/fhir/R4/datatypes.html#ContactPoint

      contactS 0..*ContactPoint Contact details for source (e.g. troubleshooting)
      |-- contactpoint-availabletime S 0..*(Complex)Extension URL: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
      |-- via-intermediaryS 0..*Reference(Plan-net Organization | Plan-net PractitionerRole | Plan-net OrganizationAffiliation | Plan-net Location) Via IntermediaryURL: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary
      |-- systemS 0..1 codephone | fax | email | pager | url | sms | other
      |-- valueS 0..1 stringThe actual contact point details
      |-- useS 0..1 codehome | work | temp | old | mobile - purpose of this contact point
      |-- rankS 0..1 positiveInt Specify preferred order of use (1 = highest)
      |-- periodS 0..1 PeriodTime period when the contact point was/is in use
  PractitionerRole:
    allOf:
    - "$ref": "#/definitions/DomainResource"
    - type: object
      properties:
        identifier:
          description: Business Identifiers that are specific to a role/location.
          type: array
          items:
            "$ref": "#/definitions/Identifier"
        period:
          description: The period during which the person is authorized to act as
            a practitioner in these role(s) for the organization.
          "$ref": "#/definitions/Period"
        specialty:
          description: Specific specialty of the practitioner.
          type: array
          items:
            "$ref": "#/definitions/CodeableConcept"
        code:
          description: Roles which this practitioner is authorized to perform for
            the organization.
          type: array
          items:
            "$ref": "#/definitions/CodeableConcept"
        practitioner:
          description: Practitioner that is able to provide the defined services for
            the organization.
          "$ref": "#/definitions/Reference"
        active:
          description: Whether this practitioner role record is in active use.
          type: boolean
        notAvailable:
          description: The practitioner is not available or performing this role during
            this period of time due to the provided reason.
          type: array
          items:
            "$ref": "#/definitions/PractitionerRole_NotAvailable"
        availableTime:
          description: A collection of times the practitioner is available or performing
            this role at the location and/or healthcareservice.
          type: array
          items:
            "$ref": "#/definitions/PractitionerRole_AvailableTime"
        endpoint:
          description: Technical endpoints providing access to services operated for
            the practitioner with this role.
          type: array
          items:
            "$ref": "#/definitions/Reference"
        healthcareService:
          description: The list of healthcare services that this worker provides for
            this role's Organization/Location(s).
          type: array
          items:
            "$ref": "#/definitions/Reference"
        organization:
          description: The organization where the Practitioner performs the roles
            associated.
          "$ref": "#/definitions/Reference"
        location:
          description: The location(s) at which this practitioner provides care.
          type: array
          items:
            "$ref": "#/definitions/Reference"
        telecom:
          description: Contact details that are specific to the role/location/service.
          type: array
          items:
            "$ref": "#/definitions/ContactPoint"
        availabilityExceptions:
          pattern: "[ \\r\\n\\t\\S]+"
          description: A description of site availability exceptions, e.g. public
            holiday availability. Succinctly describing all possible exceptions to
            normal site availability as details in the available Times and not available
            Times.
          type: string
  PlannetAddress:
    allOf:
    - "$ref": "#/definitions/Address"
    - type: object
      properties:
        extension:
          type: array
          items:
            "$ref": "#/definitions/GeolocationExt"
    description: |-
      https://hl7.org/fhir/conformance-rules.html#mustSupport
      http://hl7.org/fhir/R4/datatypes.html#Address

      adressS 0..*Address
      |-- geoLocationS 0..1 (Complex) http://hl7.org/fhir/R4/extension-geolocation.html
  USDFEmailPlanContactExt:
    allOf:
    - "$ref": "#/definitions/USDFCoveragePlanExt"
    - type: object
      required:
      - uri
      - valueString
      properties:
        valueString:
          type: string
        uri:
          default: http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-EmailPlanContact-extension
          type: string
    description: |-
      An email address for developers/public to report mistakes in the network and formulary data.

      0..1https://hl7.org/fhir/conformance-rules.html#mustSupport
  UsageContext:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      required:
      - code
      properties:
        valueCodeableConcept:
          description: A value that defines the context specified in this context
            of use. The interpretation of the value is defined by the code.
          "$ref": "#/definitions/CodeableConcept"
        code:
          description: A code that identifies the type of context being specified
            by this usage context.
          "$ref": "#/definitions/Coding"
        valueReference:
          description: A value that defines the context specified in this context
            of use. The interpretation of the value is defined by the code.
          "$ref": "#/definitions/Reference"
        valueRange:
          description: A value that defines the context specified in this context
            of use. The interpretation of the value is defined by the code.
          "$ref": "#/definitions/Range"
        valueQuantity:
          description: A value that defines the context specified in this context
            of use. The interpretation of the value is defined by the code.
          "$ref": "#/definitions/Quantity"
  PractitionerRole_NotAvailable:
    allOf:
    - "$ref": "#/definitions/BackboneElement"
    - type: object
      required:
      - description
      properties:
        description:
          pattern: "[ \\r\\n\\t\\S]+"
          description: The reason that can be presented to the user as to why this
            time is not available.
          type: string
        during:
          description: Service is not available (seasonally or for a public holiday)
            from this date.
          "$ref": "#/definitions/Period"
  PlannetContactPoint:
    allOf:
    - "$ref": "#/definitions/ContactPoint"
    - type: object
      required:
      - extension
      properties:
        extension:
          "$ref": "#/definitions/PlannetContactPointExt"
    description: |-
      https://hl7.org/fhir/conformance-rules.html#mustSupport
      http://hl7.org/fhir/R4/datatypes.html#ContactPoint

      contactS 0..*ContactPoint Contact details for source (e.g. troubleshooting)
      |-- contactpoint-availabletime S 0..*(Complex)Extension URL: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
      |-- via-intermediaryS 0..*Reference(Plan-net Organization | Plan-net PractitionerRole | Plan-net OrganizationAffiliation | Plan-net Location) Via IntermediaryURL: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary

      The following are MustSupport for PractionerRole, NOT FOR Practitioner
      |-- systemS 0..1 codephone | fax | email | pager | url | sms | other
      |-- valueS 0..1 stringThe actual contact point details
      |-- rankS 0..1 positiveInt Specify preferred order of use (1 = highest)
  Timing:
    allOf:
    - "$ref": "#/definitions/BackboneElement"
    - type: object
      properties:
        code:
          description: A code for the timing schedule (or just text in code.text).
            Some codes such as BID are ubiquitous, but many institutions define their
            own additional codes. If a code is provided, the code is understood to
            be a complete statement of whatever is specified in the structured timing
            data, and either the code or the data may be used to interpret the Timing,
            with the exception that .repeat.bounds still applies over the code (and
            is not contained in the code).
          "$ref": "#/definitions/CodeableConcept"
        repeat:
          description: A set of rules that describe when the event is scheduled.
          "$ref": "#/definitions/Timing_Repeat"
        event:
          description: Identifies specific times when the event occurs.
          type: array
          items:
            pattern: "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
            type: string
  CARINBBOrganizationIdentifierNPI:
    allOf:
    - "$ref": "#/definitions/CARINBBOrganizationIdentifier"
    - type: object
    description: |-
      system="http://hl7.org/fhir/sid/us-npi"
      type.coding.code="NPI"
  PlannetEndpointUsecaseStandardExt:
    allOf:
    - "$ref": "#/definitions/PlannetEndpointUsecaseIncludedExt"
    - type: object
      required:
      - url
      - valueUri
      properties:
        valueUri:
          type: string
        url:
          default: standard
          type: string
    description: https://hl7.org/fhir/conformance-rules.html#mustSupport
  PlannetHealthcareServiceExt:
    allOf:
    - "$ref": "#/definitions/PlannetBaseExt"
    - type: object
  CARINBBRelatedPersonIdentifierSubscriberId:
    allOf:
    - "$ref": "#/definitions/CARINBBRelatedPersonIdentifier"
    - type: object
    description: type.coding.code="SN"
  USDFPlanIDTypeExt:
    allOf:
    - "$ref": "#/definitions/USDFCoveragePlanExt"
    - type: object
      required:
      - uri
      - valueString
      properties:
        valueString:
          type: string
        uri:
          default: http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-PlanIDType-extension
          type: string
    description: |-
      Type of Plan ID. For all Marketplace plans this should be: HIOS-PLAN-ID.

      1..1https://hl7.org/fhir/conformance-rules.html#mustSupport
  OperationOutcome_Issue:
    allOf:
    - "$ref": "#/definitions/BackboneElement"
    - type: object
      required:
      - code
      - severity
      properties:
        severity:
          description: Indicates whether the issue indicates a variation from successful
            processing.
          type: string
          enum:
          - fatal
          - error
          - warning
          - information
        diagnostics:
          pattern: "[ \\r\\n\\t\\S]+"
          description: Additional diagnostic information about the issue.
          type: string
        code:
          description: Describes the type of the issue. The system that creates an
            OperationOutcome SHALL choose the most applicable code from the IssueType
            value set, and may additional provide its own code for the error in the
            details element.
          type: string
          enum:
          - invalid
          - structure
          - required
          - value
          - invariant
          - security
          - login
          - unknown
          - expired
          - forbidden
          - suppressed
          - processing
          - not-supported
          - duplicate
          - multiple-matches
          - not-found
          - deleted
          - too-long
          - code-invalid
          - extension
          - too-costly
          - business-rule
          - conflict
          - transient
          - lock-error
          - no-store
          - exception
          - timeout
          - incomplete
          - throttled
          - informational
        expression:
          description: A [simple subset of FHIRPath](fhirpath.html#simple) limited
            to element names, repetition indicators and the default child accessor
            that identifies one of the elements in the resource that caused this issue
            to be raised.
          type: array
          items:
            pattern: "[ \\r\\n\\t\\S]+"
            type: string
        details:
          description: Additional details about the error. This may be a text description
            of the error or a system code that identifies the error.
          "$ref": "#/definitions/CodeableConcept"
        location:
          description: |-
            This element is deprecated because it is XML specific. It is replaced by issue.expression, which is format independent, and simpler to parse.

            For resource issues, this will be a simple XPath limited to element names, repetition indicators and the default child accessor that identifies one of the elements in the resource that caused this issue to be raised. For HTTP errors, will be "http." + the parameter name.
          type: array
          items:
            pattern: "[ \\r\\n\\t\\S]+"
            type: string
  PlannetEndpointUsecaseExt:
    allOf:
    - "$ref": "#/definitions/PlannetBaseExt"
    - type: object
      required:
      - extension
      - url
      properties:
        extension:
          "$ref": "#/definitions/PlannetEndpointUsecaseIncludedExt"
        url:
          type: string
  Timing_Repeat:
    allOf:
    - "$ref": "#/definitions/BackboneElement"
    - type: object
      properties:
        boundsRange:
          description: Either a duration for the length of the timing schedule, a
            range of possible length, or outer bounds for start and/or end limits
            of the timing schedule.
          "$ref": "#/definitions/Range"
        period:
          description: Indicates the duration of time over which repetitions are to
            occur; e.g. to express "3 times per day", 3 would be the frequency and
            "1 day" would be the period. If periodMax is present, this element indicates
            the lower bound of the allowed range of the period length.
          type: number
        offset:
          format: int32
          description: The number of minutes from the event. If the event code does
            not indicate whether the minutes is before or after the event, then the
            offset is assumed to be after the event.
          type: integer
        frequencyMax:
          format: int32
          description: If present, indicates that the frequency is a range - so to
            repeat between [frequency] and [frequencyMax] times within the period
            or period range.
          type: integer
        countMax:
          format: int32
          description: If present, indicates that the count is a range - so to perform
            the action between [count] and [countMax] times.
          type: integer
        periodMax:
          description: If present, indicates that the period is a range from [period]
            to [periodMax], allowing expressing concepts such as "do this once every
            3-5 days.
          type: number
        count:
          format: int32
          description: A total count of the desired number of repetitions across the
            duration of the entire timing specification. If countMax is present, this
            element indicates the lower bound of the allowed range of count values.
          type: integer
        periodUnit:
          description: The units of time for the period in UCUM units.
          type: string
          enum:
          - s
          - min
          - h
          - d
          - wk
          - mo
          - a
        when:
          description: An approximate time period during the day, potentially linked
            to an event of daily living that indicates when the action should occur.
          type: array
          items:
            type: string
        frequency:
          format: int32
          description: The number of times to repeat the action within the specified
            period. If frequencyMax is present, this element indicates the lower bound
            of the allowed range of the frequency.
          type: integer
        boundsDuration:
          description: Either a duration for the length of the timing schedule, a
            range of possible length, or outer bounds for start and/or end limits
            of the timing schedule.
          "$ref": "#/definitions/Duration"
        duration:
          description: How long this thing happens for when it happens. If durationMax
            is present, this element indicates the lower bound of the allowed range
            of the duration.
          type: number
        durationMax:
          description: If present, indicates that the duration is a range - so to
            perform the action between [duration] and [durationMax] time length.
          type: number
        dayOfWeek:
          description: If one or more days of week is provided, then the action happens
            only on the specified day(s).
          type: array
          items:
            type: string
        boundsPeriod:
          description: Either a duration for the length of the timing schedule, a
            range of possible length, or outer bounds for start and/or end limits
            of the timing schedule.
          "$ref": "#/definitions/Period"
        durationUnit:
          description: The units of time for the duration, in UCUM units.
          type: string
          enum:
          - s
          - min
          - h
          - d
          - wk
          - mo
          - a
        timeOfDay:
          description: Specified time of day for action to take place.
          type: array
          items:
            pattern: "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?"
            type: string
  PlannetLocationtIncludedExt:
    allOf:
    - "$ref": "#/definitions/PlannetBaseExt"
    - type: object
  USDFFormularyDrugExt:
    allOf:
    - "$ref": "#/definitions/Extension"
    - type: object
    description: |-
      usdf-DrugAlternatives-extension0..*
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-DrugAlternatives-extension

      usdf-PriorAuthorization-extension 0..1
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-PriorAuthorization-extension
       https://hl7.org/fhir/conformance-rules.html#mustSupport

      usdf-StepTherapyLimit-extension0..1
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-StepTherapyLimit-extension
       https://hl7.org/fhir/conformance-rules.html#mustSupport

      usdf-QuantityLimit-extension0..1
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-QuantityLimit-extension
       https://hl7.org/fhir/conformance-rules.html#mustSupport

      usdf-PlanID-extension1..1
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-PlanID-extension
       https://hl7.org/fhir/conformance-rules.html#mustSupport

      usdf-DrugTierID-extension1..1
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-DrugTierID-extension
       https://hl7.org/fhir/conformance-rules.html#mustSupport
  ContactPoint:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        period:
          description: Time period when the contact point was/is in use.
          "$ref": "#/definitions/Period"
        system:
          description: Telecommunications form for contact point - what communications
            system is required to make use of the contact.
          type: string
          enum:
          - phone
          - fax
          - email
          - pager
          - url
          - sms
          - other
        use:
          description: Identifies the purpose for the contact point.
          type: string
          enum:
          - home
          - work
          - temp
          - old
          - mobile
        rank:
          format: int32
          description: Specifies a preferred order in which to use a set of contacts.
            ContactPoints with lower rank values are more preferred than those with
            higher rank values.
          type: integer
        value:
          pattern: "[ \\r\\n\\t\\S]+"
          description: The actual contact point details, in a form that is meaningful
            to the designated communication system (i.e. phone number or email address).
          type: string
  USDFDTDCostSharingExt:
    allOf:
    - "$ref": "#/definitions/USDFDrugTierDefinitionExt"
    - type: object
      required:
      - extension
      - url
      properties:
        extension:
          minItems: 5
          type: array
          items:
            "$ref": "#/definitions/USDFDTDCostSharingExt"
        url:
          default: costSharing
          type: string
  CARINBBIdentifierMemberId:
    allOf:
    - "$ref": "#/definitions/CARINBBPatientIdentifier"
    - "$ref": "#/definitions/CARINBBRelatedPersonIdentifier"
    - type: object
    description: |-
      http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport
      type.coding.code="MB"
  PlannetAccessibilityExt:
    allOf:
    - "$ref": "#/definitions/PlannetLocationtIncludedExt"
    - type: object
      required:
      - url
      - valueCodeableConcept
      properties:
        valueCodeableConcept:
          description: Binding:http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/AccessibilityVS
          "$ref": "#/definitions/CodeableConcept"
        url:
          default: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/accessibility
          type: string
    description: https://hl7.org/fhir/conformance-rules.html#mustSupport
  USCoreCodeableConceptLaboratorySlice:
    allOf:
    - "$ref": "#/definitions/CodeableConcept"
    - type: object
    description: |-
      This class is associated with the category property in the USCoreDiagnosticReportLab
      Required.
  Ratio:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        numerator:
          description: The value of the numerator.
          "$ref": "#/definitions/Quantity"
        denominator:
          description: The value of the denominator.
          "$ref": "#/definitions/Quantity"
  Reference:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        reference:
          pattern: "[ \\r\\n\\t\\S]+"
          description: A reference to a location at which the other resource is found.
            The reference may be a relative reference, in which case it is relative
            to the service base URL, or an absolute URL that resolves to the location
            where the resource is found. The reference may be version specific or
            not. If the reference is not to a FHIR RESTful server, then it should
            be assumed to be version specific. Internal fragment references (start
            with '#') refer to contained resources.
          type: string
        identifier:
          description: An identifier for the target resource. This is used when there
            is no way to reference the other resource directly, either because the
            entity it represents is not available through a FHIR server, or because
            there is no way for the author of the resource to convert a known identifier
            to an actual location. There is no requirement that a Reference.identifier
            point to something that is actually exposed as a FHIR instance, but it
            SHALL point to a business concept that would be expected to be exposed
            as a FHIR instance, and that instance would need to be of a FHIR resource
            type allowed by the reference.
          "$ref": "#/definitions/Identifier"
        display:
          pattern: "[ \\r\\n\\t\\S]+"
          description: Plain text narrative that identifies the resource in addition
            to the resource reference.
          type: string
        type:
          pattern: "\\S*"
          description: |-
            The expected type of the target of the reference. If both Reference.type and Reference.reference are populated and Reference.reference is a FHIR URL, both SHALL be consistent.

            The type is the Canonical URL of Resource Definition that is the type this reference refers to. References are URLs that are relative to http://hl7.org/fhir/StructureDefinition/ e.g. "Patient" is a reference to http://hl7.org/fhir/StructureDefinition/Patient. Absolute URLs are only allowed for logical models (and can only be used in references in logical models, not resources).
          type: string
  PlannetContactPointAvailableTimeIncludedExt:
    allOf:
    - "$ref": "#/definitions/PlannetBaseExt"
    - type: object
  PlannetContactPointAvailableStartTimeExt:
    allOf:
    - "$ref": "#/definitions/PlannetContactPointAvailableTimeIncludedExt"
    - type: object
      required:
      - url
      - valueTime
      properties:
        valueTime:
          format: date-time
          type: string
        url:
          default: availableStartTime
          type: string
    description: https://hl7.org/fhir/conformance-rules.html#mustSupport
  PlannetEndpointUsecaseTypeExt:
    allOf:
    - "$ref": "#/definitions/PlannetEndpointUsecaseIncludedExt"
    - type: object
      required:
      - url
      - valueCodeableConcept
      properties:
        valueCodeableConcept:
          description: Binding:http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/EndpointUsecaseVS
          "$ref": "#/definitions/CodeableConcept"
        url:
          default: type
          type: string
    description: https://hl7.org/fhir/conformance-rules.html#mustSupport
  Annotation:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      required:
      - text
      properties:
        authorString:
          pattern: "[ \\r\\n\\t\\S]+"
          description: The individual responsible for making the annotation.
          type: string
        authorReference:
          description: The individual responsible for making the annotation.
          "$ref": "#/definitions/Reference"
        time:
          pattern: "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
          description: Indicates when this particular annotation was made.
          type: string
        text:
          pattern: "[ \\r\\n\\t\\S]+"
          description: The text of the annotation in markdown format.
          type: string
  ContactDetail:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        name:
          pattern: "[ \\r\\n\\t\\S]+"
          description: The name of an individual to contact.
          type: string
        telecom:
          description: The contact details for the individual (if a name was provided)
            or the organization.
          type: array
          items:
            "$ref": "#/definitions/ContactPoint"
  PlannetOrgDescriptionExt:
    allOf:
    - "$ref": "#/definitions/PlannetNewPatientIncludedExt"
    - "$ref": "#/definitions/PlannetOrganizationExt"
    - type: object
      required:
      - url
      - valueString
      properties:
        valueString:
          description: http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport
          type: string
        url:
          default: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/org-description
          type: string
  PlannetContactPointAvailableTimeExt:
    allOf:
    - "$ref": "#/definitions/PlannetContactPointExt"
    - type: object
      properties:
        extension:
          type: array
          items:
            "$ref": "#/definitions/PlannetContactPointAvailableTimeIncludedExt"
  BackboneElement:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        modifierExtension:
          description: |-
            May be used to represent additional information that is not part of the basic definition of the element and that modifies the understanding of the element in which it is contained and/or the understanding of the containing element's descendants. Usually modifier elements provide negation or qualification. To make the use of extensions safe and manageable, there is a strict set of governance applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension. Applications processing a resource are required to check for modifier extensions.

            Modifier extensions SHALL NOT change the meaning of any elements on Resource or DomainResource (including cannot change the meaning of modifierExtension itself).
          type: array
          items:
            "$ref": "#/definitions/Extension"
  PlannetQualificationIssuerExt:
    allOf:
    - "$ref": "#/definitions/PlannetQualificationIncludedExt"
    - type: object
      required:
      - url
      - valueReference
      properties:
        valueReference:
          description: Plan-net Organization
          "$ref": "#/definitions/Reference"
        url:
          default: issuer
          type: string
    description: http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport
  USCoreIdentifierNPI:
    allOf:
    - "$ref": "#/definitions/USCoreIdentifier"
    - type: object
    description: |-
      National Provider Identifier (NPI)

      This class is associated with the identifier property in the USCorePractitioner and USCoreOrganization

      Required Pattern: At least the following:

      Elements are under identifierNPI and their Cardinality and Type:

       system1..1 uri The namespace for the identifier value, Fixed Value: http://hl7.org/fhir/sid/us-npi
  USCoreIdentifierCLIA:
    allOf:
    - "$ref": "#/definitions/USCoreIdentifier"
    - type: object
    description: |-
      Clinical Laboratory Improvement Amendments (CLIA) Number for laboratories

      This class is associated with the identifier property in the USCoreOrganization

      Required Pattern: At least the following:

      Elements are under identifierCLIA and their Cardinality and Type:

       system1..1 uriThe namespace for the identifier value, Fixed Value: urn:oid:2.16.840.1.113883.4.7
  GeolocationExt:
    allOf:
    - "$ref": "#/definitions/Extension"
    - type: object
      required:
      - url
      properties:
        url:
          default: http://hl7.org/fhir/StructureDefinition/geolocation
          type: string
  PlannetLocationBoundaryGeoJSONExt:
    allOf:
    - "$ref": "#/definitions/PlannetLocationtIncludedExt"
    - type: object
      required:
      - url
      - valueAttachment
      properties:
        valueAttachment:
          "$ref": "#/definitions/Attachment"
        url:
          default: http://hl7.org/fhir/StructureDefinition/location-boundary-geojson
          type: string
    description: https://hl7.org/fhir/conformance-rules.html#mustSupport
  PlannetDeliveryMethodTypeExt:
    allOf:
    - "$ref": "#/definitions/PlannetDeliveryMethodIncludedExt"
    - type: object
      required:
      - url
      - valueCodeableConcept
      properties:
        valueCodeableConcept:
          description: Binding:http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/DeliveryMethodVS
          "$ref": "#/definitions/CodeableConcept"
        url:
          default: type
          type: string
    description: 1..1 extension
  PlannetNewPatientFromNetworkExt:
    allOf:
    - "$ref": "#/definitions/PlannetNewPatientIncludedExt"
    - type: object
      required:
      - url
      - valueReference
      properties:
        valueReference:
          "$ref": "#/definitions/Reference"
        url:
          default: fromNetwork
          type: string
    description: https://hl7.org/fhir/conformance-rules.html#mustSupport
  PlannetLocationReferenceExt:
    allOf:
    - "$ref": "#/definitions/PlannetBaseExt"
    - type: object
      required:
      - url
      - valueReference
      properties:
        valueReference:
          description: Binding:http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/AccessibilityVS
          "$ref": "#/definitions/Reference"
        url:
          default: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/location-reference
          type: string
    description: Required extension
  Attachment:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        data:
          pattern: "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+"
          description: The actual data of the attachment - a sequence of bytes, base64
            encoded.
          type: string
        size:
          format: int32
          description: The number of bytes of data that make up this attachment (before
            base64 encoding, if that is done).
          type: integer
        language:
          pattern: "[^\\s]+(\\s[^\\s]+)*"
          description: The human language of the content. The value can be any valid
            value according to BCP 47.
          type: string
        title:
          pattern: "[ \\r\\n\\t\\S]+"
          description: A label or set of text to display in place of the data.
          type: string
        contentType:
          pattern: "[^\\s]+(\\s[^\\s]+)*"
          description: Identifies the type of the data in the attachment and allows
            a method to be chosen to interpret or render the data. Includes mime type
            parameters such as charset where appropriate.
          type: string
        url:
          pattern: "\\S*"
          description: A location where the data can be accessed.
          type: string
        hash:
          pattern: "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+"
          description: The calculated hash of the data using SHA-1. Represented using
            base64.
          type: string
        creation:
          pattern: "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
          description: The date that the attachment was first created.
          type: string
  PlannetNewPatientAcceptingPatientsExt:
    allOf:
    - "$ref": "#/definitions/PlannetNewPatientIncludedExt"
    - type: object
      required:
      - url
      - valueCodeableConcept
      properties:
        valueCodeableConcept:
          description: Binding:http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/AcceptingPatientsVS
          "$ref": "#/definitions/CodeableConcept"
        url:
          default: acceptingPatients
          type: string
    description: https://hl7.org/fhir/conformance-rules.html#mustSupport
  PlannetEndpointUsecaseIncludedExt:
    allOf:
    - "$ref": "#/definitions/PlannetBaseExt"
    - type: object
  Identifier:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        period:
          description: Time period during which identifier is/was valid for use.
          "$ref": "#/definitions/Period"
        system:
          pattern: "\\S*"
          description: Establishes the namespace for the value - that is, a URL that
            describes a set values that are unique.
          type: string
        use:
          description: The purpose of this identifier.
          type: string
          enum:
          - usual
          - official
          - temp
          - secondary
          - old
        assigner:
          description: Organization that issued/manages the identifier.
          "$ref": "#/definitions/Reference"
        type:
          description: A coded type for the identifier that can be used to determine
            which identifier to use for a specific purpose.
          "$ref": "#/definitions/CodeableConcept"
        value:
          pattern: "[ \\r\\n\\t\\S]+"
          description: The portion of the identifier typically relevant to the user
            and which is unique within the context of the system.
          type: string
  Narrative:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      required:
      - div
      - status
      properties:
        div:
          description: The actual narrative content, a stripped down version of XHTML.
          type: string
        status:
          description: The status of the narrative - whether it's entirely generated
            (from just the defined data or the extensions too), or whether a human
            authored it and it may contain additional data.
          type: string
          enum:
          - generated
          - extensions
          - additional
          - empty
  OperationOutcome:
    allOf:
    - "$ref": "#/definitions/DomainResource"
    - type: object
      required:
      - issue
      properties:
        issue:
          minItems: 1
          description: An error, warning, or information message that results from
            a system action.
          type: array
          items:
            "$ref": "#/definitions/OperationOutcome_Issue"
  PlannetNewPatientIncludedExt:
    allOf:
    - "$ref": "#/definitions/PlannetBaseExt"
    - type: object
  USDFPriorAuthorizationExt:
    allOf:
    - "$ref": "#/definitions/USDFFormularyDrugExt"
    - type: object
      required:
      - uri
      - valueBoolean
      properties:
        valueBoolean:
          type: boolean
        uri:
          default: http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-PriorAuthorization-extension
          type: string
    description: |-
      A Boolean indication of whether the coverage plan imposes a prior authorization requirement on this drug.

      0..1https://hl7.org/fhir/conformance-rules.html#mustSupport
  USDFStepTherapyUnitExt:
    allOf:
    - "$ref": "#/definitions/USDFFormularyDrugExt"
    - type: object
      required:
      - uri
      - valueBoolean
      properties:
        valueBoolean:
          type: boolean
        uri:
          default: http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-StepTherapyLimit-extension
          type: string
    description: |-
      A Boolean indication of whether the coverage plan imposes a step therapy limit on this drug.

      0..1https://hl7.org/fhir/conformance-rules.html#mustSupport
  Resource:
    type: object
    required:
    - resourceType
    properties:
      meta:
        description: The metadata about the resource. This is content that is maintained
          by the infrastructure. Changes to the content might not always be associated
          with version changes to the resource.
        "$ref": "#/definitions/Meta"
      implicitRules:
        pattern: "\\S*"
        description: A reference to a set of rules that were followed when the resource
          was constructed, and which must be understood when processing the content.
          Often, this is a reference to an implementation guide that defines the special
          rules along with other profiles etc.
        type: string
      language:
        pattern: "[^\\s]+(\\s[^\\s]+)*"
        description: The base language in which the resource is written.
        type: string
      id:
        pattern: "[A-Za-z0-9\\-\\.]{1,64}"
        description: The logical id of the resource, as used in the URL for the resource.
          Once assigned, this value never changes.
        type: string
      resourceType:
        type: string
        enum:
        - Account
        - ActivityDefinition
        - AdverseEvent
        - AllergyIntolerance
        - Appointment
        - AppointmentResponse
        - AuditEvent
        - Basic
        - Binary
        - BiologicallyDerivedProduct
        - BodyStructure
        - Bundle
        - CapabilityStatement
        - CarePlan
        - CareTeam
        - CatalogEntry
        - ChargeItem
        - ChargeItemDefinition
        - Claim
        - ClaimResponse
        - ClinicalImpression
        - CodeSystem
        - Communication
        - CommunicationRequest
        - CompartmentDefinition
        - Composition
        - ConceptMap
        - Condition
        - Consent
        - Contract
        - Coverage
        - CoverageEligibilityRequest
        - CoverageEligibilityResponse
        - DetectedIssue
        - Device
        - DeviceDefinition
        - DeviceMetric
        - DeviceRequest
        - DeviceUseStatement
        - DiagnosticReport
        - DocumentManifest
        - DocumentReference
        - DomainResource
        - EffectEvidenceSynthesis
        - Encounter
        - Endpoint
        - EnrollmentRequest
        - EnrollmentResponse
        - EpisodeOfCare
        - EventDefinition
        - Evidence
        - EvidenceVariable
        - ExampleScenario
        - ExplanationOfBenefit
        - FamilyMemberHistory
        - Flag
        - Goal
        - GraphDefinition
        - Group
        - GuidanceResponse
        - HealthcareService
        - ImagingStudy
        - Immunization
        - ImmunizationEvaluation
        - ImmunizationRecommendation
        - ImplementationGuide
        - InsurancePlan
        - Invoice
        - Library
        - Linkage
        - List
        - Location
        - Measure
        - MeasureReport
        - Media
        - Medication
        - MedicationAdministration
        - MedicationDispense
        - MedicationKnowledge
        - MedicationRequest
        - MedicationStatement
        - MedicinalProduct
        - MedicinalProductAuthorization
        - MedicinalProductContraindication
        - MedicinalProductIndication
        - MedicinalProductIngredient
        - MedicinalProductInteraction
        - MedicinalProductManufactured
        - MedicinalProductPackaged
        - MedicinalProductPharmaceutical
        - MedicinalProductUndesirableEffect
        - MessageDefinition
        - MessageHeader
        - MolecularSequence
        - NamingSystem
        - NutritionOrder
        - Observation
        - ObservationDefinition
        - OperationDefinition
        - OperationOutcome
        - Organization
        - OrganizationAffiliation
        - Parameters
        - Patient
        - PaymentNotice
        - PaymentReconciliation
        - Person
        - PlanDefinition
        - Practitioner
        - PractitionerRole
        - Procedure
        - Provenance
        - Questionnaire
        - QuestionnaireResponse
        - RelatedPerson
        - RequestGroup
        - ResearchDefinition
        - ResearchElementDefinition
        - ResearchStudy
        - ResearchSubject
        - Resource
        - RiskAssessment
        - RiskEvidenceSynthesis
        - Schedule
        - SearchParameter
        - ServiceRequest
        - Slot
        - Specimen
        - SpecimenDefinition
        - StructureDefinition
        - StructureMap
        - Subscription
        - Substance
        - SubstanceNucleicAcid
        - SubstancePolymer
        - SubstanceProtein
        - SubstanceReferenceInformation
        - SubstanceSourceMaterial
        - SubstanceSpecification
        - SupplyDelivery
        - SupplyRequest
        - Task
        - TerminologyCapabilities
        - TestReport
        - TestScript
        - ValueSet
        - VerificationResult
        - VisionPrescription
    discriminator: resourceType
  Period:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        start:
          pattern: "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
          description: The start of the period. The boundary is inclusive.
          type: string
        end:
          pattern: "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?"
          description: The end of the period. If the end of the period is missing,
            it means no end was known or planned at the time the instance was created.
            The start may be in the past, and the end date in the future, which means
            that period is expected/planned to end at that time.
          type: string
  Duration:
    allOf:
    - "$ref": "#/definitions/Quantity"
    - type: object
  USDFDrugTierDefinitionExt:
    allOf:
    - "$ref": "#/definitions/USDFCoveragePlanExt"
    - type: object
      required:
      - extension
      - url
      properties:
        extension:
          minItems: 2
          type: array
          items:
            "$ref": "#/definitions/USDFDrugTierDefinitionExt"
        url:
          default: http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-DrugTierDefinition-extension
          type: string
    description: |-
      A description of the drug tiers used by the formulary and how those tiers implement copay and coinsurance amounts. Drug tiers do not have any inherent meaning that is consistent across all formularies. Rather, each tier is defined using this element.

      1..*https://hl7.org/fhir/conformance-rules.html#mustSupport
  PlannetNewPatientsExt:
    allOf:
    - "$ref": "#/definitions/PlannetBaseExt"
    - "$ref": "#/definitions/PlannetHealthcareServiceExt"
    - "$ref": "#/definitions/PlannetLocationtIncludedExt"
    - "$ref": "#/definitions/PlannetPractitionerRoleExt"
    - type: object
      required:
      - extension
      - url
      properties:
        extension:
          minItems: 1
          type: array
          items:
            "$ref": "#/definitions/PlannetNewPatientIncludedExt"
        url:
          default: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/newpatients
          type: string
  Range:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        high:
          description: The high limit. The boundary is inclusive.
          "$ref": "#/definitions/SimpleQuantity"
        low:
          description: The low limit. The boundary is inclusive.
          "$ref": "#/definitions/SimpleQuantity"
  RelatedArtifact:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      required:
      - type
      properties:
        citation:
          pattern: "[ \\r\\n\\t\\S]+"
          description: A bibliographic citation for the related artifact. This text
            SHOULD be formatted according to an accepted citation format.
          type: string
        resource:
          pattern: "\\S*"
          description: The related resource, such as a library, value set, profile,
            or other knowledge resource.
          type: string
        display:
          pattern: "[ \\r\\n\\t\\S]+"
          description: A brief description of the document or knowledge resource being
            referenced, suitable for display to a consumer.
          type: string
        document:
          description: The document being referenced, represented as an attachment.
            This is exclusive with the resource element.
          "$ref": "#/definitions/Attachment"
        label:
          pattern: "[ \\r\\n\\t\\S]+"
          description: A short label that can be used to reference the citation from
            elsewhere in the containing artifact, such as a footnote index.
          type: string
        type:
          description: The type of relationship to the related artifact.
          type: string
          enum:
          - documentation
          - justification
          - citation
          - predecessor
          - successor
          - derived-from
          - depends-on
          - composed-of
        url:
          pattern: "\\S*"
          description: A url for the artifact that can be followed to access the actual
            content.
          type: string
  PlannetNewPatientCharacteristicsExt:
    allOf:
    - "$ref": "#/definitions/PlannetNewPatientIncludedExt"
    - type: object
      required:
      - url
      - valueString
      properties:
        valueString:
          description: Binding:http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/AcceptingPatientsVS.html
          type: string
        url:
          default: characteristics
          type: string
    description: https://hl7.org/fhir/conformance-rules.html#mustSupport
  GeolocationLongitudeExt:
    allOf:
    - "$ref": "#/definitions/GeolocationExt"
    - type: object
      required:
      - ValueDecimal
      - url
      properties:
        ValueDecimal:
          type: number
        url:
          default: longitude
          type: string
  PlannetQualificationPeriodExt:
    allOf:
    - "$ref": "#/definitions/PlannetQualificationIncludedExt"
    - type: object
      required:
      - url
      - valuePeriod
      properties:
        valuePeriod:
          "$ref": "#/definitions/Period"
        url:
          default: period
          type: string
  GeolocationLatitudeExt:
    allOf:
    - "$ref": "#/definitions/GeolocationExt"
    - type: object
      required:
      - ValueDecimal
      - url
      properties:
        ValueDecimal:
          type: number
        url:
          default: latitude
          type: string
  CARINBBOrganizationIdentifier:
    allOf:
    - "$ref": "#/definitions/Identifier"
    - type: object
  USDFDrugAlternativesExt:
    allOf:
    - "$ref": "#/definitions/USDFFormularyDrugExt"
    - type: object
      required:
      - uri
      - valueReference
      properties:
        valueReference:
          "$ref": "#/definitions/Reference"
        uri:
          default: http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-DrugAlternatives-extension
          type: string
    description: |-
      DrugAlternatives are Generic or Branded Drugs included within the CoveragePlan’s formulary that could be prescribed as alternatives to the current FormularyDrug.

      0..*
  USDFCoveragePlanExt:
    allOf:
    - "$ref": "#/definitions/Extension"
    - type: object
    description: |-
      usdf-DrugTierDefinition-extension 1..*
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-DrugTierDefinition-extension
       https://hl7.org/fhir/conformance-rules.html#mustSupport

      usdf-Network-extension1..*
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-Network-extension
       https://hl7.org/fhir/conformance-rules.html#mustSupport

      usdf-SummaryURL-extension1..1
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-SummaryURL-extension
       https://hl7.org/fhir/conformance-rules.html#mustSupport

      usdf-FormularyURL-extension0..1
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyURL-extension
       https://hl7.org/fhir/conformance-rules.html#mustSupport

      usdf-EmailPlanContact-extension 0..1
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-EmailPlanContact-extension
       https://hl7.org/fhir/conformance-rules.html#mustSupport

      usdf-MarketingURL-extension0..1
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-MarketingURL-extension
       https://hl7.org/fhir/conformance-rules.html#mustSupport

      usdf-PlanIDType-extension1..1
       http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-PlanIDType-extension
       https://hl7.org/fhir/conformance-rules.html#mustSupport
  CARINBBRelatedPersonIdentifier:
    allOf:
    - "$ref": "#/definitions/Identifier"
    - type: object
  CARINBBPatientIdentifier:
    allOf:
    - "$ref": "#/definitions/Identifier"
    - type: object
  CodeableConcept:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        coding:
          description: A reference to a code defined by a terminology system.
          type: array
          items:
            "$ref": "#/definitions/Coding"
        text:
          pattern: "[ \\r\\n\\t\\S]+"
          description: A human language representation of the concept as seen/selected/uttered
            by the user who entered the data and/or which represents the intended
            meaning of the user.
          type: string
  USDFFormularyURLExt:
    allOf:
    - "$ref": "#/definitions/USDFCoveragePlanExt"
    - type: object
      required:
      - uri
      - valueString
      properties:
        valueString:
          type: string
        uri:
          default: http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyURL-extension
          type: string
    description: |-
      The URL that goes directly to the formulary brochure for the specific standard plan or plan variation.

      0..1https://hl7.org/fhir/conformance-rules.html#mustSupport
  USDFDTDMailOrderExt:
    allOf:
    - "$ref": "#/definitions/USDFDrugTierDefinitionExt"
    - type: object
      required:
      - url
      - valueBoolean
      properties:
        valueBoolean:
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-DrugTierVS.html'
          type: boolean
        url:
          default: mailOrder
          type: string
  USDFDTDCSCopayAmountExt:
    allOf:
    - "$ref": "#/definitions/USDFDTDCostSharingExt"
    - type: object
      required:
      - url
      - valueMoney
      properties:
        valueMoney:
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-DrugTierVS.html'
          "$ref": "#/definitions/Money"
        url:
          default: copayAmount
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-PharmacyTypeVS.html'
          type: string
  PlannetQualificationIncludedExt:
    allOf:
    - "$ref": "#/definitions/PlannetOrganizationExt"
    - type: object
  PlannetPractitionerRoleExt:
    allOf:
    - "$ref": "#/definitions/PlannetBaseExt"
    - type: object
  PlannetNetworkReferenceExt:
    allOf:
    - "$ref": "#/definitions/PlannetPractitionerRoleExt"
    - type: object
      required:
      - url
      - valueReference
      properties:
        valueReference:
          description: Reference Type Plan-net Network
          "$ref": "#/definitions/Reference"
        url:
          default: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/network-reference
          type: string
    description: Required extension
  PlannetQualificationCodeExt:
    allOf:
    - "$ref": "#/definitions/PlannetQualificationIncludedExt"
    - type: object
      required:
      - url
      - valueCodeableConcept
      properties:
        valueCodeableConcept:
          description: 'Binding: https://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet-SpecialtyAndDegreeLicenseCertificateVS.html'
          "$ref": "#/definitions/CodeableConcept"
        url:
          default: code
          type: string
    description: http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport
  Element:
    type: object
    properties:
      extension:
        description: May be used to represent additional information that is not part
          of the basic definition of the element. To make the use of extensions safe
          and manageable, there is a strict set of governance applied to the definition
          and use of extensions. Though any implementer can define an extension, there
          is a set of requirements that SHALL be met as part of the definition of
          the extension.
        type: array
        items:
          "$ref": "#/definitions/Extension"
      id:
        pattern: "[A-Za-z0-9\\-\\.]{1,64}"
        description: Unique id for the element within a resource (for internal references).
          This may be any string value that does not contain spaces.
        type: string
  PlannetQualificationStatusExt:
    allOf:
    - "$ref": "#/definitions/PlannetQualificationIncludedExt"
    - "$ref": "#/definitions/PlannetPractitionerQualificationExt"
    - type: object
      required:
      - url
      - valueCode
      properties:
        valueCode:
          description: 'Fixed vlaue: active'
          type: string
          enum:
          - active
          - inactive
          - issiner
          - revoked
          - pending
          - unkown
        url:
          default: status
          type: string
  HumanName:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        given:
          description: Given name.
          type: array
          items:
            pattern: "[ \\r\\n\\t\\S]+"
            type: string
        period:
          description: Indicates the period of time when this name was valid for the
            named person.
          "$ref": "#/definitions/Period"
        use:
          description: Identifies the purpose for this name.
          type: string
          enum:
          - usual
          - official
          - temp
          - nickname
          - anonymous
          - old
          - maiden
        prefix:
          description: Part of the name that is acquired as a title due to academic,
            legal, employment or nobility status, etc. and that appears at the start
            of the name.
          type: array
          items:
            pattern: "[ \\r\\n\\t\\S]+"
            type: string
        text:
          pattern: "[ \\r\\n\\t\\S]+"
          description: Specifies the entire name as it should be displayed e.g. on
            an application UI. This may be provided instead of or as well as the specific
            parts.
          type: string
        family:
          pattern: "[ \\r\\n\\t\\S]+"
          description: The part of a name that links to the genealogy. In some cultures
            (e.g. Eritrea) the family name of a son is the first name of his father.
          type: string
        suffix:
          description: Part of the name that is acquired as a title due to academic,
            legal, employment or nobility status, etc. and that appears at the end
            of the name.
          type: array
          items:
            pattern: "[ \\r\\n\\t\\S]+"
            type: string
  Money:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        currency:
          pattern: "[^\\s]+(\\s[^\\s]+)*"
          description: ISO 4217 Currency Code.
          type: string
        value:
          description: Numerical value (with implicit precision).
          type: number
  USDFDTDDrugTierIDExt:
    allOf:
    - "$ref": "#/definitions/USDFDrugTierDefinitionExt"
    - type: object
      required:
      - url
      - valueCodeableConcept
      properties:
        valueCodeableConcept:
          description: 'Binding: http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet-usdf-DrugTierVS.html'
          "$ref": "#/definitions/CodeableConcept"
        url:
          default: drugTierID
          type: string
  PlannetContactPointViaIntermediaryExt:
    allOf:
    - "$ref": "#/definitions/PlannetContactPointExt"
    - type: object
      required:
      - url
      - valueReference
      properties:
        valueReference:
          description: https://hl7.org/fhir/conformance-rules.html#mustSupport
          "$ref": "#/definitions/Reference"
        url:
          default: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary
          type: string
  PlannetOrganizationExt:
    allOf:
    - "$ref": "#/definitions/PlannetBaseExt"
    - type: object
  PlannetPractitionerCommuncationCodeableConcept:
    allOf:
    - "$ref": "#/definitions/CodeableConcept"
    - type: object
      properties:
        extension:
          "$ref": "#/definitions/PlannetCommunicationProficiencyExt"
    description: |-
      https://hl7.org/fhir/conformance-rules.html#mustSupport


      communication-proficiency 0..1
  PlannetQualificationWhereValidExt:
    allOf:
    - "$ref": "#/definitions/PlannetQualificationIncludedExt"
    - "$ref": "#/definitions/PlannetPractitionerQualificationExt"
    - type: object
      required:
      - url
      properties:
        valueCodeableConcept:
          description: Binding http://hl7.org/fhir/us/core/STU3.1/ValueSet-us-core-usps-state.html
          "$ref": "#/definitions/CodeableConcept"
        valueReference:
          "$ref": "#/definitions/Reference"
        url:
          default: whereValid
          type: string
    description: |-
      http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport

      The value attributes are sliced, so only one is allowed. You must include at least one.
  PlannetDeliveryMethodIncludedExt:
    allOf:
    - "$ref": "#/definitions/PlannetBaseExt"
    - type: object
  USDFPlanIDExt:
    allOf:
    - "$ref": "#/definitions/USDFFormularyDrugExt"
    - type: object
      required:
      - uri
      - valueString
      properties:
        valueString:
          type: string
        uri:
          default: http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-PlanID-extension
          type: string
    description: |-
      Unique, 14-character, HIOS-generated Plan ID number. (Plan IDs must be unique, even across different markets.)

      1..1https://hl7.org/fhir/conformance-rules.html#mustSupport
  Age:
    allOf:
    - "$ref": "#/definitions/Quantity"
    - type: object
  PlannetContactPointDaysOfWeekExt:
    allOf:
    - "$ref": "#/definitions/PlannetContactPointAvailableTimeIncludedExt"
    - type: object
      required:
      - url
      - valueCode
      properties:
        valueCode:
          description: Binding:http://hl7.org/fhir/ValueSet/days-of-week
          type: string
          enum:
          - mon
          - tue
          - wed
          - thu
          - fri
          - sat
          - sun
        url:
          default: daysOfWeek
          type: string
    description: https://hl7.org/fhir/conformance-rules.html#mustSupport
  PlannetDeliveryMethodVirtualModalitiesExt:
    allOf:
    - "$ref": "#/definitions/PlannetDeliveryMethodIncludedExt"
    - type: object
      required:
      - url
      - valueCodeableConcept
      properties:
        valueCodeableConcept:
          description: Binding:http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/VirtualModalitiesVS
          "$ref": "#/definitions/CodeableConcept"
        url:
          default: virtualModalities
          type: string
    description: https://hl7.org/fhir/conformance-rules.html#mustSupport
  PlannetContactPointExt:
    allOf:
    - "$ref": "#/definitions/PlannetBaseExt"
    - type: object
  SimpleQuantity:
    allOf:
    - "$ref": "#/definitions/Quantity"
    - type: object
  PlannetQualificationIdentifierExt:
    allOf:
    - "$ref": "#/definitions/PlannetQualificationIncludedExt"
    - type: object
      required:
      - url
      - valueIdentifier
      properties:
        valueIdentifier:
          "$ref": "#/definitions/Identifier"
        url:
          default: identifier
          type: string
    description: http://hl7.org/fhir/us/core/STU3.1/general-guidance.html#mustSupport
  Quantity:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      properties:
        comparator:
          description: How the value should be understood and represented - whether
            the actual value is greater or less than the stated value due to measurement
            issues; e.g. if the comparator is "<>
          type: string
          enum:
          - "<"
          - "<="
          - ">="
          - ">"
        unit:
          pattern: "[ \\r\\n\\t\\S]+"
          description: A human-readable form of the unit.
          type: string
        system:
          pattern: "\\S*"
          description: The identification of the system that provides the coded form
            of the unit.
          type: string
        code:
          pattern: "[^\\s]+(\\s[^\\s]+)*"
          description: A computer processable form of the unit in some unit representation
            system.
          type: string
        value:
          description: The value of the measured amount. The value includes an implicit
            precision in the presentation of the value.
          type: number
  PlannetContactPointAllDayExt:
    allOf:
    - "$ref": "#/definitions/PlannetContactPointAvailableTimeIncludedExt"
    - type: object
      required:
      - url
      - valueBoolean
      properties:
        valueBoolean:
          type: boolean
        url:
          default: allDay
          type: string
    description: https://hl7.org/fhir/conformance-rules.html#mustSupport
  CARINBBOrganizationIdentifierTIN:
    allOf:
    - "$ref": "#/definitions/CARINBBOrganizationIdentifier"
    - type: object
    description: |-
      system="urn:oid:2.16.840.1.113883.4.4"
      type.coding.code="TAX"
  C4BBMeta:
    allOf:
    - "$ref": "#/definitions/Meta"
    - type: object
      required:
      - lastUpdated
      - profile
      properties:
        lastUpdated:
          description: https://hl7.org/fhir/conformance-rules.html#mustSupport
          type: string
        profile:
          minItems: 1
          description: https://hl7.org/fhir/conformance-rules.html#mustSupport
          type: array
          items:
            type: string
  Extension:
    allOf:
    - "$ref": "#/definitions/Element"
    - type: object
      required:
      - url
      properties:
        valueBase64Binary:
          pattern: "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+"
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          type: string
        valueBoolean:
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          type: boolean
        valueCoding:
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          "$ref": "#/definitions/Coding"
        valueTime:
          pattern: "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?"
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          type: string
        valueIdentifier:
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          "$ref": "#/definitions/Identifier"
        valueReference:
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          "$ref": "#/definitions/Reference"
        valueMoney:
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          "$ref": "#/definitions/Money"
        valueRange:
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          "$ref": "#/definitions/Range"
        valueSignature:
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          "$ref": "#/definitions/Signature"
        valueUri:
          pattern: "\\S*"
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          type: string
        valueDistance:
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          "$ref": "#/definitions/Distance"
        valueUrl:
          pattern: "\\S*"
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          type: string
        valueContactDetail:
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          "$ref": "#/definitions/ContactDetail"
        valueMeta:
          description: Value of extension - must be one of a constrained set of the
            data types (see [Extensibility](extensibility.html) for a list).
          "$ref": "#/definitions/Meta"
[...]
