---
x-ibm-configuration:
  phase: realized
  enforced: true
  testable: true
x-ibm-endpoints:
- endpointUrl: https://qahapi.aetna.com/fhir/qapath3
  type:
  - production
  - development
- endpointUrl: https://qaehapi.aetna.com/fhir/qapath3
  type:
  - production
  - development
schemes:
- https
swagger: '2.0'
security:
- FHIR_Application_Oauth:
  - Public
- FHIR_Application_Oauth:
  - NonPII
- FHIR_User_AccessCode_Oauth:
  - patient/Patient.read
- FHIR_User_AccessCode_Oauth:
  - patient/Patient.*
- FHIR_User_AccessCode_Oauth:
  - patient/*.read
- FHIR_User_AccessCode_Oauth:
  - patient/*.*
basePath: "/v1/providerdirectory"
paths:
  "/Location/{id}":
    get:
      summary: Retrieves a Location Resource based on the Unique Logical ID
      description: Retrieves a Location Resource based on the Unique Logical ID
      operationId: GET
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Location"
          examples:
            application/json:
              search:
                mode: match
              resource:
                extension:
                - valueCodeableConcept:
                    coding:
                    - system: http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/accessibility
                      code: handiaccess
                      display: handicap accessible
                    text: Offers a variety of services and programs for persons with
                      disabilities
                  url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/accessibility
                - extension:
                  - valueBoolean: false
                    url: acceptingPatients
                  url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/newpatients
                - valueString: This location accepts all types of patients
                  url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/newpatientprofile
                specialty:
                - coding:
                  - code: 332B00000X
                    display: Durable Medical Equipment & Medical Supplies
                  text: Durable Medical Equipment & Medical Supplies
                code:
                - coding:
                  - system: http://hl7.org/fhir/organization-role
                    display: Healthcare Provider
                  text: Healthcare Provider
                address:
                  country: USA
                  city: WESTERLY
                  use: work
                  line:
                  - 101 AIRPORT RD
                  postalCode: '028913432'
                  text: 101 AIRPORT RD, WESTERLY, RI 028913432
                  state: RI
                  type: both
                language: en
                hoursOfOperation:
                - allDay: true
                  daysOfWeek:
                  - mon
                  - tue
                  - wed
                  - thu
                  - fri
                  - sat
                  - sun
                type:
                - coding:
                  - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                    code: HOSP
                    userSelected: true
                    display: Hospital
                meta:
                  lastUpdated: '2020-07-28T05:00:54.485+00:00'
                  versionId: 4.0.1
                  profile:
                  - http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Location
                name: Poole'S Pharmacy Care
                telecom:
                - extension:
                  - extension:
                    - valueBoolean: true
                      url: allDay
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                  system: phone
                  use: work
                  value: 743.125.4429 x2376
                - extension:
                  - extension:
                    - valueBoolean: true
                      url: allDay
                    url: http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime
                  system: fax
                  use: work
                  value: 779-475-4330 x580
                id: '0000000000000013710'
                position:
                  latitude: 41.349716
                  longitude: -71.81142
                resourceType: Location
                status: active
              fullUrl: https://apif1.aetna.com/fhir/v1/providerdirectory/Location/0000000000000013710
          description: This response returns a Location resource based on the unique
            logical ID passed.
        '400':
          schema:
            "$ref": "#/definitions/OperationOutcome"
          examples:
            application/json:
              issue:
              - severity: error
                code: required
                details:
                  coding:
                  - system: http://hl7.org/fhir/ValueSet/operation-outcome
                    code: MSG_RESOURCE_ID_MISSING
                    display: Resource Id Missing
              id: 14c27ea91f91d8f01234
              resourceType: OperationOutcome
          description: A required parameter isn't provided, or an unknown parameter
            is provided.
        '404':
          schema:
            "$ref": "#/definitions/OperationOutcome"
          examples:
            application/json:
              issue:
              - severity: error
                code: not-found
                details:
                  coding:
                  - system: http://hl7.org/fhir/ValueSet/operation-outcome
                    code: MSG_NO_MATCH
                    display: No Resource found
              id: 687401f85fd3fefb43182c22
              resourceType: OperationOutcome
          description: The specified id doesn't identify an existing Resource.
        '500':
          schema:
            "$ref": "#/definitions/OperationOutcome"
          examples:
            application/json:
              issue:
              - severity: fatal
                diagnostics: Backend service failure
                code: exception
                details:
                  coding:
                  - system: http://hl7.org/fhir/ValueSet/operation-outcome
                    code: MSG_SVC_FAILURE
                    display: Error occurred while processing response
              id: 53c27ea45fd8f0ff0af91f91
              resourceType: OperationOutcome
          description: Internal Server Error. Failures on the server side.
      parameters:
      - in: path
        name: id
        description: The logical id of the resource
        type: string
        required: true
host: apif1.aetna.com/fhir
produces:
- application/json
externalDocs:
  description: HTTPS Common Error Codes
  url: https://eaintegrationgovernance.github.io/APIC-Common-Error-Codes.github.io/
securityDefinitions:
  FHIR_User_AccessCode_Oauth:
    tokenUrl: "/Token"
    authorizationUrl: "/Authorize"
    description: ''
    scopes:
      patient/Patient.*: ''
      patient/Patient.read: ''
      patient/*.read: ''
      patient/*.*: ''
    type: oauth2
    flow: accessCode
  FHIR_Application_Oauth:
    tokenUrl: "/Token"
    description: ''
    scopes:
      NonPII: ''
      Public: ''
    type: oauth2
    flow: application
definitions:
  OperationOutcome:
    description: |-
      See the appropriate Implementation Guide for proper documentation to use

      This is the HL7 FHIR Release 4.0.1 OperationOutcome resource.
      Full Documentation is available at: http://hl7.org/fhir/operationoutcome.html
    type: object
  Location:
    description: |-
      See the appropriate Implementation Guide for proper documentation to use

      This is the HL7 FHIR Release 4.0.1 Location resource.
      Full Documentation is available at: http://hl7.org/fhir/location.html

      US Core 3.1.1 Documentation is available at:
      http://hl7.org/fhir/us/core/STU3.1.1/StructureDefinition-us-core-location.html

      For the DaVinci PDEX Plan Net 1.0.0 Location resource documentation is available at:
      http://hl7.org/fhir/us/davinci-pdex-plan-net/STU1/StructureDefinition-plannet-Location.html

      For the DaVinci PDEX Plan Net 1.1.0 Location resource documentation is available at:
      http://hl7.org/fhir/us/davinci-pdex-plan-net/STU1.1/StructureDefinition-plannet-Location.html
    type: object
info:
  contact:
    name: Interoperability Developer Support
    url: http://
    email: phanp@aetna.com
  description: |-
    Retrieves a Location Resource based on the Unique Logical ID.
    Special characters are supported but may be handled differently by each application tool.
  x-ibm-name: v1providerdirectorylocationid
  title: "/v1/providerdirectory/Location/{id}"
  version: 1.0.0
